[2015-05-27 18:15] dantswain opened #1 "Ability to add jobs at run-time"
Hi @c-rack, have you considered adding an API call to allow users to add jobs at runtime?

The reason I'm asking is I don't think specifying jobs through the config file will work with my production deployment model, where a sys.config file is generated from the mix config scripts.

I think it would be relatively easy to do this - just add an API function and a corresponding `handle_call`.  I woul

[2015-05-28 05:26] c-rack commented on #1
Yes, I have already implemented that and later removed because I did not see a use case for that, see https://github.com/c-rack/quantum-elixir/commit/bf3891391bc3bd4a1914f87c91627694281004d0 and https://github.com/c-rack/quantum-elixir/commit/d8ba861e43c8b36beb86a604dfa6a2eecd1fda67.

Feel free to send a PR to re-add this functionality.

[2015-05-28 18:22] #1 closed

[2015-05-28 18:23] c-rack commented on #1
Thanks! :+1:

[2015-06-10 00:53] norbu09 opened #4 "sleep till next action"
would be nice to sleep till the next action instead of waking up every second. https://github.com/erlware/erlcron does that quite nicely.

[2015-06-10 09:38] c-rack commented on #4
Thanks for pointing this out. I agree that waking up every second is too much, so I just pushed https://github.com/c-rack/quantum-elixir/commit/c307cf38e6bd689ea9b55326e8329747a6662b82 that changes to waking up every minute instead.

Waiting until next action might introduce too much complexity to the project and one wake up every minute should not harm. What do you think?

[2015-06-10 10:08] c-rack opened #5 "Problem: there is no changelog"
See also http://keepachangelog.com/

[2015-06-10 12:57] dantswain commented on #4
IMHO waking up every minute (or even every second, really) is fine for an Erlang process.

[2015-06-10 20:49] c-rack commented on #4
@dantswain I agree.

@norbu09 Do you think the change to one wake up per minute would be sufficient to close this issue? I would release then a new version tomorrow.

[2015-06-10 23:22] norbu09 commented on #4
happy to close the issue, just wanted to point out how others solved it. I may start using this in a project I currently write, if I get around adding the functionality in here I'll create a PR.

[2015-06-11 07:17] #5 closed

[2015-06-11 07:33] c-rack commented on #4
Glad to hear you consider Quantum for your project!
Version 1.2.0 that wakes up every minute has just been published to hex.pm.

@norbu09 It is up to you to close this issue now or to leave it open until a PR is submitted and merged.

[2015-06-13 11:41] c-rack opened #6 "Problem: aliases @annually and @midnight are not supported"
`@annually` is same as `@yearly`,
`@midnight` is same as `@daily`

[2015-06-13 11:44] c-rack opened #7 "Problem: @reboot is not supported"
`@reboot` means "run once, at startup".

[2015-06-13 12:14] c-rack opened #8 "Problem: long-running jobs could overlap"
It would be nice if we could configure if long running jobs should overlap or not (default: yes).

Example:
* Task A ist started every minute.
* It was invoked at 00:00 with PID x.
* At 00:01, PID x is still running so we do not invoke another task A.
* At 00:02, PID x is not running anymore, so we invoke another task A.

See also: https://github.com/chriscannon/highlander

[2015-06-15 05:05] #6 closed

[2015-06-15 06:08] c-rack opened #9 "Problem: only atom cron expressions are converted and translated"
When we add a job by calling `Quantum.add_job/2` and pass a String.t as cron expression, the cron expression is not converted to lowercase and day/month names are not translated into their indexes.

[2015-06-15 07:03] #9 closed

[2015-06-15 08:03] #7 closed

[2015-07-20 12:44] c-rack opened #13 "Problem: Quantum supports only UTC, local timezone should be supported, too"
While we should keep UTC time zone as default, it would be nice to have an option for that, see https://github.com/c-rack/quantum-elixir/pull/10

[2015-07-27 07:05] #13 closed

[2015-08-13 01:14] alPacino opened #14 "Problem: long-running jobs are killed on application upgrade"
When app is upgrading (using [exrm](https://github.com/bitwalker/exrm) for example) and some task id still processing some job the task is killed without waiting for completion.

I've dug into this problem but still have no solution. Even asked on stackoverflow.com ([Elixir Task - Graceful shutdown](http://stackoverflow.com/questions/31977215/elixir-task-graceful-shutdown)).

[2015-08-13 01:52] alPacino opened #15 "Problem: multi scheduling cron-like config with exrm"
Cron-like config works fine with [exrm](https://github.com/bitwalker/exrm) when there is only one scheduled job. Ex.:

[code]

But if we define another one then release for your app can't be generated. Suggested solution is to define named scheduling like this:

[code]
Or using another form:

[code]

This also may be useful for pausing/deleting jobs using its names.

P.S. This doesn't break any ex

[2015-08-13 08:14] c-rack commented on #15
I like the idea of named jobs. Given the two alternatives you describe (and I assume there might be more), we should find and then decide for the most practical one.

Could you please describe why `exrm` cannot generate a release if two or more jobs are defined? Is there an error message or any known limitations? I would like to understand the root cause of the problem first.

Thanks!

[2015-08-13 08:22] c-rack commented on #14
Do you think it is possible to send a PR with a minimal test that reproduces the problem? I saw your code on SO, but having our own test within the project might be better.

Also, this issue might be related to #8, where we need a similar behaviour (i.e. checking the status of tasks / waiting for tasks to finish).

[2015-08-13 12:02] alPacino commented on #15
Sorry, it looks like config with multi scheduling works now. I forgot that I've recently updated exrm to the latest version but still was sure that it doesn't work properly (I use just one scheduled job). The problem was:
for config
[code]

in the final config file rel/my_app/releases/0.0.1/my_app.conf (built with [conform](https://github.com/bitwalker/conform)) we have the following:
[code]

and

[2015-08-13 12:18] c-rack commented on #15
OK, thanks for the feedback. Please close this issue if confirmed.
We should open another issue for named jobs then.

[2015-08-14 00:22] alPacino commented on #15
Unfortunately, I can reproduce the issue. Release was built successfully, but I can't start my app, I got:
** (Protocol.UndefinedError) protocol Enumerable not implemented for \<content of my_app.conf\>

The problem is here:

[code]

I've created simple application for that: [QuantumTest](https://github.com/alPacino/quantum-elixir-test)

[2015-08-14 07:42] c-rack commented on #15
Thanks! That is very helpful. :+1:
Looks like a problem in `conform`: https://github.com/bitwalker/conform/issues/20.
Maybe I find a fix or workaround later today.

[2015-08-17 18:57] bitwalker commented on #15
This should be working fine in conform now (using master). I'll be pushing a new release to hex once I've vetted it a bit.

[2015-08-17 21:58] alPacino commented on #15
Confirmed! `conform`'s master branch works fine now (thanks to @bitwalker). So we can close this issue and open new one for named jobs.

[2015-08-17 22:21] alPacino opened #16 "Problem: Named jobs"
It would be great to have named scheduled jobs like this:

[code]
Or using another (extended) form:

[code]

This also may be useful for pausing/deleting jobs using its names.

Also extended format allows to define some additional params for tasks like `shutdown` (for `TaskSupervisor`) and others.

As for `shutdown`. Let's say there is a job which always takes at least 120 seconds. So it will be a

[2015-08-18 07:59] c-rack commented on #15
@bitwalker thanks for fixing!
@alPacino thanks for confirmation!
So I close this issue.

[2015-08-18 07:59] #15 closed

[2015-08-20 19:36] c-rack commented on #16
@alPacino which form do you prefer?

[2015-08-21 13:03] alPacino commented on #16
@c-rack I prefer this form:
[code]

because it allows to set other options for a job. Let's say additional params, some other options like "Should Quantum overlap certain job or not" (belongs to issue [Problem: long-running jobs could overlap #8](https://github.com/c-rack/quantum-elixir/issues/8)) etc.

Defined above config example shows how this form can be used. So I'm sure it is quite flexible

[2015-08-21 15:21] c-rack commented on #16
I agree with your proposal regarding the form. It allows to extending the functionality without breaking backward-compatibility.

What do you think if we use questions as keywords? For example
[code]

[2015-08-21 16:07] alPacino commented on #16
Sorry, but I don't think the question-like form may be useful for new options/features. Examples:

- we will have to enhance `what` section to use `args` option like this
[code]
- if we need to define `log_*` options they don't belong to `how` question I think.

Moreover we can't predict all options that can be used here in future so that we don't know what questions would be suitable. For logging

[2015-08-21 16:42] c-rack commented on #16
Convinced :)

Let me suggest to implement only the currently used keywords and discuss/implement the others (overlap, etc) in separate issues.

Would you like to work on this issue and send a PR?

[2015-08-22 21:36] alPacino commented on #16
Yes, will implement this with pleasure :) So we're going to support first 3 keywords:
- `schedule` (required)
- `task` (required)
- `args` (optional, default: [])

P.S. of course each feature will be discussed in separate issue, overlap was mentioned just for example, sorry :)

[2015-08-23 08:37] c-rack commented on #16
Fantastic. You have now contributor status (which means you can also merge PRs) and are assigned to this issue.

[2015-08-24 21:06] alPacino commented on #16
Thanks @c-rack :) Let me push into my fork first for code review. I've implemented also task suspension/deletion. I'd like the master of this repo to be stable and applicable.

[2015-08-29 09:04] c-rack commented on #16
@alPacino I saw your commit https://github.com/alPacino/quantum-elixir/commit/eadaee1334b6480a0956662c772046a41b8766f5.
Is it ready for review or work in progress? :)

[2015-08-29 16:24] alPacino commented on #16
@c-rack It's ready for review :)

[2015-08-30 00:42] c-rack commented on #16
Cool, thanks. Could you please send a PR?

[2015-08-30 00:44] alPacino commented on #16
Sure, I guess there are no objections :)

[2015-08-30 00:52] c-rack commented on #16
Not really. Your change solves a well described problem, so it should be merged.

[2015-08-30 01:07] alPacino commented on #16
Merge accomplished

[2015-08-30 01:12] c-rack commented on #16
Closed by merging https://github.com/c-rack/quantum-elixir/pull/18

[2015-08-30 01:12] #16 closed

[2015-08-31 14:48] c-rack opened #21 "Problem: inconsistent wording to start/stop jobs"
Currently, we have `suspend_job` and `activate_job` to pause resp. resume a named job.

Let me propose to use another better word pair:

1. `activate` and `deactivate`
2. `suspend` and `resume`
3. `pause` and `resume`

I have sympathy for pair 3. Any comments?

[2015-08-31 15:34] alPacino commented on #21
Yes, I agree that `suspend` is not quite correct word using it with `activate`. I like pair 1 because we indeed activate/deactivate scheduling for certain job. I mean that we don't pause the running job. So when you deactivate some job it would not be performed until activating it back or restarting the app. Concerning pause/resume for currently running jobs: I'm not sure if that may be implemente

[2015-08-31 15:58] c-rack commented on #21
Agreed. I'll prepare a PR to change this to `activate` / `deactivate`.

[2015-08-31 16:21] #21 closed

[2015-08-31 17:15] alPacino opened #23 "Problem: Running on exact node"
We need to allow via config where certain/all job(s) should be run. Let's say we have three servers with the app deployed to. So we should be able to define which server to run jobs on (now all three servers will send a newsletter email). That may be configured as follows:
[code]

[2015-08-31 17:34] c-rack commented on #23
Not sure if that should be coded in quantum, as it could also be done as (without code change):
[code]
This is just a minimal example, of course. There are more elegant solutions.

[2015-08-31 17:43] alPacino commented on #23
This will not work with conform/exrm/edeliver because in this sample you define anonymous function which can't be stored in app's final config file.

[2015-08-31 17:52] c-rack commented on #23
Ok, good point.

Then I would suggest to use the `:myapp@server1` format, as this makes it easier to compare against the `node()` call.

Do you want to work on this and send a PR?

[2015-08-31 17:55] alPacino commented on #23
Actually both forms "myapp@server1" and :myapp@server1 can be used. We will just convert one type to another on matching.

Yes, I will work on this.

[2015-09-01 23:31] alPacino commented on #23
A little bit busy now. Will be able to implement this in several days I hope. Sorry.

[2015-09-02 06:44] c-rack commented on #23
Take your time. I can do a 1.4.0 release first to bring the new named job feature to public.

[2015-09-04 18:50] c-rack opened #25 "Problem: named jobs are not documented in README"

[2015-09-12 07:29] chinh7 opened #26 "Run Quantum in a Phoenix application context"
I find it more appropriate asking this question in Phoenix group :)
https://github.com/phoenixframework/phoenix/issues/1205

[2015-09-12 07:40] #26 closed

[2015-09-16 14:48] c-rack commented on #25
Closed by merge of https://github.com/c-rack/quantum-elixir/pull/27.
Thanks!

[2015-09-16 14:48] #25 closed

[2015-09-18 08:46] c-rack commented on #23
@alPacino can we close this issue?
I would prepare a new release over weekend then.

[2015-09-18 16:32] #23 closed

[2015-10-29 07:15] #8 closed

[2015-10-30 18:44] c-rack commented on #14
@alPacino coming back to this issue, is it still relevant?
If yes, do you think you could provide a test case or a how-to-reproduce?
I could look into this issue over the weekend then.

[2015-10-30 21:57] alPacino commented on #14
@c-rack actually it is not quite difficult to reproduce this. Here are steps I used (now I have not checked this out yet):
- define some long-running (20 secs) task
- make a release (lat's say version is 0.0.1) using exrm and start the app from this release
- watch your log (tail -f log/yourapp.log)
- change the version (0.0.2) and build release for upgrade
- wait until task starts
- in another co

[2015-10-30 22:00] c-rack commented on #14
Thanks! I'll give it a try.

[2015-11-10 00:16] theoretick opened #43 "Problem: normalize_unnamed_job throws exception w/ argument"
I just discovered a bug in v0.5.0 where [`Quantum.Normalizer.normalize_unnamed_job`](https://github.com/c-rack/quantum-elixir/blob/master/lib/quantum/normalizer.ex#L68) is not properly handling jobs that take arguments. Reproduction:

[code]

Sorry for the convoluted execution job, I had to find a STDLIB method that optionally took an argument to make this easily reproducible, hence `node`.

---
*

[2015-11-10 01:40] alPacino commented on #43
@theoretick I guess you mean v1.5.0 :)

Actually usage examples describe task definition w/o args:
[code]
and
[code]
Otherwise you should be able to send any parameter (e.g. functions):
[code]
but it's wrong way to define args. For this case you should use named jobs. Or it is possible to implement support for the following:
[code]

Anyway I think you just can change your config from
[code]
to
[co

[2015-11-10 14:43] c-rack commented on #43
@theoretick Thanks for reporting!
Our documentation should be improved on this point. PRs are welcome.

And if someone wants to implement support for @alPacino's idea `"* * * * *": {MyApp.MyModule, :my_method, [1, 2, 3]}`, PRs are welcome, too :-)

[2015-11-10 17:13] theoretick commented on #43
Ha, yes v1.5.0.  I ended up doing as you described replacing my config w/ `"* * * * * MyApp.MyModule.my_method(fn(a, b) -> a + b end)"` to get it working, but I wouldn't think this behavior is expected and seems limited.

It wasn't clear to me if the usage examples lacked args because that was the nature of the code or because it was a limitation of those methods of job declaration.

If named jobs

[2015-11-16 09:16] c-rack opened #45 "Problem: README is not user-friendly enough"
Currently, the structure of the README is as following:
- Setup
- Usage
  - Named Jobs
  - Nodes
  - Timezone
  - Crontab format
  - Special expressions
  - Override default settings
- Contribution
  - tl;dr
- License

I would like to:
- ~~add a ToC for quick access~~
- add a "General concepts" section and put sections about "Job", "Task" and "Cron expression" there
- split the usage section into

[2015-11-22 21:26] theoretick commented on #45
Sounds great to me :+1: love a Readme w/ a TOC

[2015-11-22 22:19] theoretick commented on #43
Fixed in https://github.com/c-rack/quantum-elixir/pull/47

[2015-11-22 22:19] #43 closed

[2015-11-24 23:17] luishurtado opened #49 "Problem: job names can only be atoms and can't be GC"
Currently only atoms are allowed as job names. This can be a potential security concern if jobs are created/deleted on demand. Basically after the job is deleted the atom used for the job name is not garbage collected. Job names should be any type and not only atoms.

I'm working on changes to "fix" this but want to know opinions in the mean time.

[2015-11-24 23:29] alPacino commented on #49
@luishurtado :+1: Good point. I'm agree with that.

[2015-11-25 07:22] c-rack commented on #49
@luishurtado Thanks! Guess we can close this issue then?

[2015-11-25 20:21] #49 closed

[2015-12-08 06:41] wicliff opened #57 "Task crashing for cron with "@reboot""
When Cron is trigged on reboot, the task runs properly and exits. But after sometime this error shows up in log and executes the task again

[code]

Using this on Elixir 1.1.1, Phoenix 1.0.4

[2015-12-08 09:38] c-rack commented on #57
@wicliff Thanks for reporting!

I have fixed this in #58.
An updated version of Quantum will be released shortly after it is merged.

[2015-12-08 10:10] wicliff commented on #57
:+1:
That is quick work! Appreciate the library, nicely done.

[2015-12-08 23:41] #57 closed

[2015-12-08 23:43] theoretick commented on #57
Good catch @wicliff and speedy fix @c-rack!

[2015-12-09 09:46] c-rack commented on #57
Updated version 1.6.1 including the bugfix has been published to hex.pm:
https://hex.pm/packages/quantum

[2015-12-12 19:40] tispratik opened #60 "Would this work out of the box on heroku?"
Seems like quantum uses the same process as the one thats running the Phoenix web application.
In that case, i think we would not need another dyno or a scheduler service to schedule the crons?

[2015-12-12 21:37] c-rack commented on #60
@tispratik I have not used heroku yet, so I can not answer your question reliably, but as quantum is just another application within the phoenix project (like cowboy, logger, httpoison, etc), I do not see any reason why this would need another dyno or scheduler. So yes, I think your assumption is correct.

Does this answer your question?

[2015-12-12 23:05] tispratik commented on #60
Yes that does answer. But i was surprised by the discussion here https://groups.google.com/forum/#!msg/elixir-lang-talk/4gbcn709t3Y/EQk856vHfTQJ . Someone suggested that quantum cannot be used in heroku.

[2015-12-12 23:16] c-rack commented on #60
Thanks for the link!

They say there is a problem on the free plan, where instances seem to be shut down.
So as long as you have a paid plan, quantum should work fine.

Can we close this issue as solved then?

[2015-12-12 23:55] tispratik commented on #60
Sure thanks for looking into it Constantin!

On Sat, Dec 12, 2015 at 3:16 PM Constantin Rack <notifications@github.com>
wrote:

[2015-12-12 23:58] c-rack commented on #60
Thanks for asking!

[2015-12-12 23:58] #60 closed

[2015-12-14 18:08] theoretick commented on #60
@tispratik @c-rack do yall think this warrants a note in the README for heroku free-tier or is it too edge-casey?

[2015-12-14 18:41] tispratik commented on #60
Probably a note that Heroku free tier has a downtime of 6 hours a day, so
the cron may not run.
On Mon, Dec 14, 2015 at 10:08 AM Lucas Charles <notifications@github.com>
wrote:

[2015-12-14 18:54] c-rack commented on #60
With regard to #45, I would not include this into README right now. Please let me explain why.

If someone else asks the question a second time, we have an indication that there is maybe a need for a FAQ section that could include this question. Let us decide about it when this happens.

Until then, I think it is enough to have it documented in this issue, because we could easily refer to this iss

[2015-12-14 18:55] theoretick commented on #60
Great points :+1: .  Let's see if this crops up again.

[2015-12-14 18:59] tispratik commented on #60
I agree. Thanks.
On Mon, Dec 14, 2015 at 10:55 AM Lucas Charles <notifications@github.com>
wrote:

[2016-01-20 11:29] ramstein74 opened #65 "Quantum.add_job does not work properly"
hello
Quantum.add_job("1 * * * *", fn -> :ok end) does not set the function to run every minute
If if do
Quantum.jobs()
i see that the pid is set to nill

![image](https://cloud.githubusercontent.com/assets/1210858/12447627/033ef4f0-bf69-11e5-93d5-4cfe23565577.png)

If i put the tasks in the config file it works and the pid is set!

[2016-01-20 11:58] c-rack commented on #65
@ramstein74 You say "run every minute", but your crontab spec says "every hour at minute 1". The correct crontab spec to run every minute must be `* * * * *`, not `1 * * * *`.
See: https://github.com/c-rack/quantum-elixir#crontab-format

Just tested with the correct crontab format and it works as expected and stores the PID.

[2016-01-20 12:40] ramstein74 commented on #65
yes you are right. I changed to * * * * * and still does not work.

[2016-01-20 12:52] c-rack commented on #65
Please note that you have to wait until next full minute until the job is executed for the first time.

Please change the function to `fn -> IO.puts "tick" end` to see in console if the job executes.

For me, it looks like this:
[code]
I have to wait between (3) and (4), of course.

[2016-01-20 14:50] ramstein74 commented on #65
2016-01-20 12:52 GMT+00:00 Constantin Rack <notifications@github.com>:

I forgot the IO.puts
i had
Quantum.add_job("* * * * *", fn ->  "Tick" end)
solved!

Thank you
Antonio

[2016-01-20 14:51] c-rack commented on #65
You are welcome!

[2016-01-20 14:51] #65 closed

[2016-01-20 15:51] c-rack commented on #65
@ramstein74 By the way, if you like Quantum, staring it at GitHub would be very appreciated. Thanks! :-)

[2016-01-20 16:01] ramstein74 commented on #65
Done.
Thank you

2016-01-20 15:51 GMT+00:00 Constantin Rack <notifications@github.com>:

[2016-01-21 10:05] ramstein74 commented on #65
Hello again.
Another question.
I need to block a task from running again if the previous time it runs did not complete for some reason.
I need to kill it first.

My scenario is : many tasks that connect to ftp servers to collect data.
Some tasks runs every 5 minutes and sometimes they don' t complete in 5 minutes for some reason.
In that case i dont want to throw another task, i want to kill the p

[2016-01-21 10:16] c-rack commented on #65
Hi Antonio, thank you for your question. As this issue is already closed and your question is unrelated to this issue, please open a new issue – next time :-)

Regarding your question, Quantum already supports a `overlap: false` option which prevents Quantum to start a new task if the previous one is not finished yet, see:
https://github.com/c-rack/quantum-elixir#named-jobs

The documentation for

[2016-01-21 10:26] ramstein74 opened #66 "how to specify overlap in config?"
i have this
config :quantum, cron: [
    "*/10 * * * *": {"Tasks.Fabrica.Ps1", :load},

how do i specify overlap=false? what does false mean? if the old task hangs it never runs again righ?

also i need that a task be limited a certain amount of time to run. IF if does not succeed in that time it should be killed. Or evem simpler if i define a task interval of x minutes it should complete in that

[2016-01-21 11:11] c-rack commented on #66
Regarding your first question ("how to specify"), here is an example:
[code]

`false` means that the next run is suspended until the previous job has been finished. So yes, if the old task hangs, it never runs again.

Quantum has currently no timout mechanism as described, but it can be implemented very easily within your task. See section about "send and receive" here:
http://elixir-lang.org/gett

[2016-01-21 11:17] ramstein74 commented on #66
2016-01-21 11:11 GMT+00:00 Constantin Rack <notifications@github.com>:

Is there a way to just change the global default to false ?
Having 30 and counting tasks could simplify a litle.
About the send and receive i will look at it.
Thank you once again.

[2016-01-21 11:29] c-rack commented on #66
There is no such feature to change the default of an option yet, sorry.
Feel free to open another issue with this as a feature request.

[2016-01-21 11:31] #66 closed

[2016-01-21 11:33] ramstein74 opened #67 "Problem: default values are not configurable"
Please add a way to define global settings.
for example
overlap=false  at a global scope.
instead of having to repeatedly write overlap=false for every task

Thank you

[2016-01-21 22:08] c-rack commented on #67
Renamed title according to our [contribution guidelines](https://github.com/c-rack/quantum-elixir#contribution)

[2016-01-22 21:26] #67 closed

[2016-01-28 10:50] mosic opened #71 "Problem: setting overlap doesn't have any effect"
Hi, thanks for making this library. I'm having trouble configuring the tasks to not overlap and I'm not sure if I'm doing something wrong with the configuration or if it's a bug.

This is the configuration I used:

[code]

Checking from `iex` everything seems to be configured correctly:

[code]

But the task is still set to `overlap: true`:

[code]

I'm running the latest version of the master bra

[2016-01-28 11:24] c-rack commented on #71
Thanks for reporting! It is a bug. A pull request addressing this issue has been submitted. As soon as it is merged, I will release a new version and publish to hex.pm. Meanwhile, you could try the `issue-71` branch if it solves the problem.

[2016-01-28 11:36] mosic commented on #71
I just tried that branch and it works! Thanks for the quick turnaround.

[2016-01-28 12:08] c-rack commented on #71
Thanks for confirmation. Now waiting for the merge. In meantime, feel free to star this project if you do not already. That would be very appreciated :smile:

[2016-01-28 12:11] mosic commented on #71
No problem. Thanks for the reminder, I try to star all projects I'm using.

[2016-01-28 17:50] #71 closed

[2016-01-29 01:46] marcaddeo opened #73 "Local timezone doesn't seem to be working"
I have the following in my `config/config.exs` file:

[code]

The first two jobs run successfully, but the third that is supposed to run at `20:43` never runs. It's currently `20:45` where I live, so it should have run 2 minutes ago when I was testing it. Am I missing something to set it to local?

[2016-01-29 09:14] c-rack commented on #73
Could you please run the following command in `iex` and see what it produces?
[code]
We are just relying on the Erlang `now_to_local_time` function, so it depends on the local time of your computer, not the local time of your location. Does the output match with your expected local time?

[2016-01-29 13:21] marcaddeo commented on #73
@c-rack it does output my current local time (8:21 EST)

[2016-01-29 14:25] c-rack commented on #73
OK, so could you please change your example to just print a `IO.puts "Tick"` to the console? We need to verify that it is actually Quantum not executing the job or the job not executing correctly. By this, we can just focus on Quantum code, regardless of your code.

Please try the following minimal configuration and set the hour/minute a few minutes in future according to your time zone:

[code]

[2016-01-29 14:33] marcaddeo commented on #73
Using the following code at `9:30 AM` and waiting two minutes:

[code]

No `Tick` :(

[2016-01-29 16:37] theoretick commented on #73
Seems to work fine for me w/ the above configuration, local timezone and `"36 8 * * *"`.  @marcaddeo are you on v1.6.1?

[2016-01-29 16:50] marcaddeo commented on #73
Yup, `mix.lock` says `1.6.1`. I'm running on OS X, but I doubt that should make a difference.

Let me try it in a blank project and see what I get.

[2016-01-29 16:52] c-rack commented on #73
@marcaddeo Maybe the Quantum server has not been started at all. Have you added `:quantum` to the list of *applications* in your `mix.exs` as described in the setup? It is not enough to just add Quantum as dependency, it also needs to be started:
https://github.com/c-rack/quantum-elixir#setup

[2016-01-29 16:53] theoretick commented on #73
FWIW I too am running it on OSX, elixir v1.2.0

[2016-01-29 16:56] marcaddeo commented on #73
Okay, so running in a brand new project (`mix new quantum_test`) I DO get the `Tick` in local time. But, still not working in my real project.

Yes, I do have the `:quantum` application starting. Here's my `mix.exs`:

[code]
The order of which the `:quantum` app gets started shouldn't matter, right?

Also, I'm running Elixir `1.1.1`. I'll update and see if it helps.

[2016-01-29 17:07] marcaddeo commented on #73
Upgrading had no effect, but didn't really expect it to since you're testing with `1.1.0` on travis.

[2016-01-29 17:11] marcaddeo commented on #73
Maybe this would help?

Wanna clone [marcaddeo/ex_heos](https://github.com/marcaddeo/ex_heos) and checkout the `scheduling` branch? I have the core functionality of the app commented out in the last commit (it wont run without actual Denon HEOS speakers on the network, should probably fix that!) so running with `iex -S mix` should just assist in testing the quantum stuff.

Maybe my code will run s

[2016-01-29 17:40] c-rack commented on #73
@marcaddeo I have cloned your project and tested it. It was running fine and printed the "tick". Only thing I observed was that the system clock on the test machine was several seconds delayed compared to my computer, so the tick came a little bit "late". But I assume you have waited for a longer time without effect, don't you? I also started the project with `iex -S mix` to be able to see what `:

[2016-01-29 17:50] marcaddeo commented on #73
Yeah, I've left it running waiting for the tick.

This is really strange... lol. I was really hoping it didn't work on your system haha!

I guess the next thing to do when I get home is to litter your code with `Logger.log` to see what's going on.

[2016-01-29 17:55] c-rack commented on #73
OK, please keep us updated :-)

[2016-01-31 20:02] taylorbrooks opened #75 "Fail to compile when deploying to Heroku"
[code]

Anyone get this yet? I just bumped to 1.6.1 from 1.3.2

[2016-01-31 20:06] c-rack commented on #75
Try a `mix clean` first. If that does not help, please remove the entire `_build` directory and recompile (`mix compile`). It seems that some old files are still in place (hence the `redefining module` message).

Please let me know if that worked (or not), thanks.

[2016-01-31 20:12] taylorbrooks commented on #75
Hmm, it compiles fine locally. Lemme open an issue on the [buildpack repo](https://github.com/HashNuke/heroku-buildpack-elixir/issues) and see if they have any suggestions.

[2016-01-31 20:16] c-rack commented on #75
So, is it not possible to delete the `_build` directory on the remote before the deploy?

[2016-01-31 20:17] taylorbrooks commented on #75
Not from what I can tell.

[2016-01-31 23:15] taylorbrooks commented on #75
Fixed by adding `elixir_buildpack.config`. Closing.

[2016-01-31 23:15] #75 closed

[2016-01-31 23:18] c-rack commented on #73
Any update on this issue?

[2016-02-02 14:22] marcaddeo commented on #73
Haven't had a chance to look into it unfortunately :cry:

[2016-02-04 15:38] ramstein74 opened #76 "Problem: Could not allow to create another task with same name"
If i do Quantum.add_job("ticker", job) , it should not allow it to be created if already created before a task named "ticker".

[2016-02-04 15:45] c-rack commented on #76
Thanks. Would you mind to send a pull request that fixes this?

[2016-02-05 11:19] ramstein74 commented on #76
I dont have sufficient knowledge.
Im just learning elixir for a task scheduler.
Your package is very good but i´m learning, stil...

[2016-02-05 11:25] ramstein74 opened #77 "Run a job once at specific time/date"
How can i run a task in the future only once at a specific time and date ?

Thank you

[2016-02-05 16:38] c-rack commented on #77
Please see the [crontab format section in our readme](https://github.com/c-rack/quantum-elixir#crontab-format) and use your favorite search engine to learn more about "crontab", there is a lot of good documentation available online about this topic.

To answer your question, if you want to execute a task on Christmas at 8:30 AM for example, you would use as schedule:
`30 8 24 12 *`

This will exec

[2016-02-05 16:38] #77 closed

[2016-02-05 16:42] c-rack commented on #76
Then we have to wait until some else has this problem too and wants to invest his time to submit a patch.

[2016-02-16 04:58] kaiatgithub commented on #76
Please see the following pull request for a proposed solution: #78

[2016-02-16 06:53] c-rack commented on #76
Fixed by #78

[2016-02-16 06:53] #76 closed

[2016-02-29 14:21] dapdizzy commented on #73
Dudes, scheduling at a certain minute does not seem to work, i.e., "45 16 * * *" does not fire at 16:45
:calendar.now_to_local_time(:os.timestamp) outputs correct local time.
"* * * * *" works fine every minute
:quantum app is started. (dependency is used as given in re readme)

Scheduled function is trivial, so there's no suspicion the job fails itself, it's pretty clear it is not scheduled (not

[2016-02-29 14:41] marcaddeo commented on #73
@dapdizzy try converting your time to UTC, it will likely work then if you're having the same issue I was having.

[2016-02-29 15:38] rolfhand commented on #73
Same here, location Amsterdam UTC+ 1
Job are executed at UTC.
Did some checks

[code]

Created and tested a little different version for tick function:
[code]
Code:
[code]

[2016-02-29 17:18] dapdizzy commented on #73
@marcaddeo Thank you, this worked out!
@rolfhand Thanks for your detailed answer! This clarifier and hels a lot!

I just want to state that this behaviour (which timezone should be used for time) should be well-documented and **bold-stated** in the readme.

Thanks!

[2016-02-29 17:23] dapdizzy commented on #73
One more question: does it mean @midnight would schedule to UTC midnight, not a local one?

[2016-02-29 17:28] marcaddeo commented on #73
@dapdizzy actually.. it is documented and bold in the [README](https://github.com/c-rack/quantum-elixir#timezone). I missed it too, though, when I started trying this library out.

But I still have trouble getting the `:local` option to work, as you apparently are as well.

@c-rack could this have anything to do with the use of `unquote` in the [tick function here](https://github.com/c-rack/quantu

[2016-02-29 17:31] dapdizzy commented on #73
@marcaddeo Oops... Seems to have messed things up a little bit. Sorry for complaining on the doc then.

[2016-02-29 17:37] marcaddeo commented on #73
@dapdizzy are you using @rolfhand's code? Looks like there's a bug in it to me, it doesn't pass the `:os.timestamp` to either of the `:calendar` functions.

Maybe try this (completely untested):

[code]

[2016-02-29 17:40] theoretick commented on #73
Yeah, I'd speculate that this is an issue with the compile-time execution vs runtime. If one were to compile on a machine with a different timezone than their destination server, that could lead to a different configuration than expected.

[2016-02-29 17:46] dapdizzy commented on #73
If it's in accordance with the documentation and does not contradict common sense, then it's perfectly fine. As I've said, I seem to have messed things up a little bit and was sure to expect local timezone as default accordind to documentation. Now I see that it seems to be good and there seems to be no issue at this point.

@marcaddeo I'm not actually using it. Just mentioned that it clarified th

[2016-02-29 17:52] marcaddeo commented on #73
Oh, okay. So does `timezone: :local` work for you, @dapdizzy? And the problem was just that you missed it in the documentation?

[2016-02-29 18:05] dapdizzy commented on #73
@marcaddeo It does not seem to. Just adedd `timezone: :local` as it is stated in the doc and scheduled a simple IO.puts "Hello" to "02 21 * * *" (it's 21:03 Moscow time now) and started the app using `mix run --no-halt`, nothing came out. Started the app before it was 21 local time to make it clear.

[2016-02-29 18:06] kaiatgithub commented on #73
In my view the tick function should be changed the way @rolfhand suggested. Right now, the program picks up the timezone set at compile-time, or :utc, if nothing has been configured. So a configuration-change to :local after compilation has no effect.

[2016-02-29 18:53] kaiatgithub commented on #73
The pull request #81 should fix this bug.

[2016-02-29 18:54] rolfhand commented on #73
@marcaddeo my code works. I'm just using the shorter calendar functions .local_time and .universal.time  in stead of :calendar.now_to_local_time :os.timestamp.  It's running now in an application and fires the jobs at the right time.

[2016-02-29 18:56] marcaddeo commented on #73
@rolfhand my bad! Didn't even notice the difference, d'oh!

@kaiatgithub woohoo! :+1:

[2016-02-29 21:51] #73 closed

[2016-02-29 21:56] c-rack commented on #73
Thanks to everyone for working on this and to @kaiatgithub for the pull request!

[2016-03-01 17:23] luishurtado opened #82 "Problem: Quantum GenServer restarts when one of the jobs crashes"
When one of the jobs crashes the caller process (GenServer Quantum) crashes too and it is restarted. The problem with this is that the jobs are hold in the state, when Quantum GenServer restarts the state is reset and the jobs added will be lost.

I have a failing test case that I'm about to push to a brach linked to this issue.

We have two options to fix this that I want to elaborate a little bi

[2016-03-01 17:25] luishurtado commented on #82
Update: I've pushed test case to branch `issue-82`

[2016-03-01 19:53] luishurtado commented on #82
Update: another test case that proves sibling jobs crash when of the jobs crashes.

[2016-03-01 20:22] c-rack commented on #82
I am perfectly fine to upgrade required Elixir version to `>= 1.2.0` and use `Task.Supervisor.async_nolink`. Would you mind to send a pull request based on your branch?

By the way, it would be better to use your own fork to publish branches. Maybe next time ;-)

[2016-03-03 22:00] trungpham opened #85 "question: how many jobs can one node hold?"
Can the number of jobs be horizontally scaled if we add a new node to the cluster?
Or not possible because the `jobs` array is cloned on every node, rather than partitioned?

[2016-03-03 22:09] c-rack commented on #82
Closed by merging #84

[2016-03-03 22:09] #82 closed

[2016-03-09 16:02] papylhomme opened #86 "Problem: when a task raises an error, other jobs disappear"
Everything is in the title ;)

Here is a test case illustrating this issue:

EDIT: just to be clear, module ```Test``` doesn't exists, it's the point. Tested against v1.6.1

[code]

[2016-03-09 16:08] c-rack commented on #86
@papylhomme Could you please try current master branch? We have recently solved #82, but not released a new version yet. If you can confirm that current master solves the problem you described, I will release a new version shortly.

[2016-03-09 16:22] papylhomme commented on #86
My bad, I didn't look well enough for an existing issue !  The problem is indeed fixed in master branch.

Regarding the new release, AFAIC I'm not in a hurry, I just wrapped the task in my own module in order to provide feedback, so this isn't blocking.

Closing now.

[2016-03-09 16:22] #86 closed

[2016-03-09 16:27] c-rack commented on #86
OK, thanks.

Anyhow, I'll prepare a new release; it's long overdue :-)

[2016-03-09 17:56] c-rack commented on #86
Version 1.7.0 has been released, including the bugfix for this issue.

[2016-03-14 20:37] smiley325 opened #88 "Question: Any interest in per-job timezones?"
I forked `quantum-elixir` to support per-job timezones (default behavior still matches the way quantum currently works), I just wanted to see if there was any interest in it being merged into the mainline; if so, I can make a clean, test-passing pull request for it.

Basically it just adds a `timezone` field which can be any IANA timezone from `zone.tab` (e.g. "America/Chicago" or "UTC", defaults

[2016-03-14 20:52] c-rack commented on #88
Yes, that would be really appreciated.

[2016-03-15 13:20] dapdizzy opened #89 "Quantum.add_job("name", job) API does not work"
Dudes, hu there again!

Weird, but Quantum.add_job("name", job) where job is %Quantum.Job{} does not work.

First off, everithing works fine when I add a job like this:
Quantum.add_job("* * * * *", fn -> IO.puts "Tick" end)

so I have :quantum app up and running and nothins is wrong with it.

Now, when I use the add_job API passing it the %Quantum.Job{} struct as you have carefully described in th

[2016-03-15 20:40] c-rack commented on #89
Could you please provide a minimal test case that reproduces the problem, @dapdizzy ?

Maybe the tests for this function are a good starting point:
https://github.com/c-rack/quantum-elixir/blob/master/test/quantum_test.exs#L18-L28

[2016-03-16 05:04] smiley325 commented on #88
Just created PR #90 regarding it

[2016-03-16 08:22] dapdizzy commented on #89
I'm exposing some bad practices and don't write test for now, anyway, the thing is, when I write this:
[code]
nothing is fired at the expected schedule.
When I change it to the following:
`Quantum.add_job(schedule, fn -> apply(m, f, a) end)`
everything works as expected.
A do pass a tumlpe {m, f} to as a task, as opposed to passing a function reference, as I can see this kind of argument is used i

[2016-03-16 20:29] c-rack commented on #88
Closed by merging #90

[2016-03-16 20:29] #88 closed

[2016-03-16 20:33] c-rack commented on #85
Currently, the job configuration is per node and there is no automatic partioning or something similar.

If you want to add such a feature, however, feel free to submit a pull request.

Regarding your question in the title, the number of jobs per node is only limited by the memory of the BEAM VM.

[2016-03-16 20:33] #85 closed

[2016-03-16 20:37] c-rack commented on #89
Regarding your comment about the missing `Quantum.jobs` reference in the README:

This function is documented in our API docs here:
https://hexdocs.pm/quantum/Quantum.html#jobs/0

Not every API function needs to be mentioned in the README.
That is what an API documentation is for ;-)

And yes, providing a failing test case would really help to investigate your issue, thanks!

[2016-03-17 08:45] dapdizzy commented on #89
I love the way you put things in order in my head. I wasn't aware that hep is the place to look for the docs.Putting the link to the docs in the readme would make it a smooth experience for the user.

I'll take my time to make a test case prooving or disproving my issue.

Thanks for your response about the API docs!

[2016-03-17 08:58] dapdizzy commented on #89
Taking a short look at the test cases on the page that you've provided a link to, I cannot see the usage of a tuple `{Module, :function}` as a value for the `%Quantum.Job{task: task}` Just wondering: is there a test case in your suite for this king of pattern? Is it a valid use to pass a `{Module, :funcvtion}` as a value for the `task` item in the `%Quantum.Job{}` struct? I'm refering to the readm

[2016-03-17 09:12] dapdizzy commented on #89
Also, test I can see seem to assert job inclusion in the jobs list. What I want to test is job execution. I know it's more king of a feature-level test, rather then an atomic functional test, but that's what I'm really concerned about. Any clues on how shoud I write such test? Mor specifically, how the assert statement should look like?

[2016-03-17 10:06] dapdizzy commented on #89
Run a kind of complete test scenario and seems like everything works fine.I havn't figured out why it didn;t irk in the scenario I was working on in that partucular context, but I guess the issue can be closed as 'not reproduced' or something.

Just looking at the code that did not have any effect I did exactly the same thing, although I was using __MODULE__ for the module instead of providint a l

[2016-03-21 16:14] dapdizzy commented on #89
I think there's a bug in the way default value for the nodes is being embedded into the module attribute in Quantum.Job module.

It is defaulted to the module attribute value `@defaultnodes` which seems to be evaluated too early and always defaults to nonode@nohost in my case, whereas the app is started in a named node (using --sname), thus nothing is fired at the scheduled time. When I start to e

[2016-03-21 22:19] c-rack commented on #89
@dapdizzy this is a new issue and unrelated to the original one, so I close this again.

Please open a new issue according to our [contribution process](https://github.com/c-rack/quantum-elixir#contribution), thanks.

[2016-03-21 22:19] #89 closed

[2016-03-22 10:18] dapdizzy opened #93 "Nodes property is not correctly defaulted in %Quantum.Job{} struct"
nodes property in `%Quantum.Job{}` struct is defaulted to `:nonode@nohost` when the application is run in a named node.

Repro steps:

1. Create a new project
2. Add a dependency as follows: `{:quantum, ">= 1.7.0"}`
3. Get and compile dependencies and start a ies on a named node via --sname option
4. define a job like this: `job = %Quantum.Jobs{name: "I am a job", schedule: "* * * * *", task: {IO,

[2016-03-22 13:23] dapdizzy commented on #89
Constantin, just a note: although the issue as described does not seem to
be related with the original one, when using the API that takes a job
strict directly, it looks like it is not working when ran on a named node.
Anyway, I've opened a new issue with pretty technical description on the
problem and easy reproduce steps making the issue show up.

Best regards, Dmitry.

вторник, 22 марта 2016 г.

[2016-03-22 13:36] c-rack commented on #89
Thanks, Dmitry!

[2016-03-23 09:51] dapdizzy commented on #89
Constantin, I've sent a pull request fixing nodes defaulting. It works for
me. Would be nice, if you'd take a look and we might get the issue closed.

Thanks!

Best regards, Dmitry.

2016-03-22 16:36 GMT+03:00 Constantin Rack <notifications@github.com>:

[2016-03-23 11:53] c-rack commented on #89
Thanks. Just 2 minor things:

1. Your PR breaks the Travis CI build, would you mind to take a look and fix them?
2. Could you please include a "Fixes #89" into your PR description or one of the commits? That way, this issue will be automatically closed by merge:
https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-03-23 12:30] dapdizzy commented on #89
Yeah saw it recently)
I'll fix it during the day and I'll look into the second point that you've
mentioned.

Best regards, Dmitry.

среда, 23 марта 2016 г. пользователь Constantin Rack написал:

[2016-03-23 17:36] #93 closed

[2016-05-10 01:30] princemaple opened #101 "Globally unique process"
Hi,

Quantum currently is only capable of running as a local process.
Mind if I send a PR to make it capable of running as a globally unique process as well?

Please let me know if there is anything that you'd concern about, or anything I should watch out for.

Thanks,
Po

[2016-05-10 03:13] c-rack commented on #101
@princemaple thanks for asking!

We usually try to follow a "Problem / Solution" pattern in our development process (see closed issues, PRs and commits to get an idea). For your PR, it would be nice if code coverage would remain at 100%, but that is not a hard requirement. And if the new feature (I guess it will be configurable?) would get a paragraph in the README, that would be absolutely fantas

[2016-05-10 04:46] princemaple commented on #101
@c-rack thanks for the quick reply.

I'd love to get this tested, but I have no idea how to test a feature that's only obvious in a cluster. I will, of course, make sure all the existing tests stay passed, though. Also, will make sure the global process still works in a single node.

Yes, only an opt in feature.

No problem with that.

[2016-05-10 11:02] princemaple commented on #101
sorry, referenced the PR itself instead of this issue.

[2016-05-10 11:02] #101 closed

[2016-06-07 16:09] andrejsm opened #104 "Can't configure in separate packages under umbrella project"
If I configure `:quantum` in umbrella app in more than one package, the last one compiled overrides config thus throwing away all previous configuration.

A real life scenario. I've built an umbrella app where I have multiple packages and 2 of them have a jobs to be ran every 5 minutes. Unfortunately only one job is ran.

As a solution I configure both jobs in _main_ package's config.
What I want

[2016-06-07 16:40] c-rack commented on #104
Interesting idea...
Contributions are welcome!
Please read about our [contribution process](https://github.com/c-rack/quantum-elixir#contribution) and feel free to submit a pull request.

[2016-06-07 16:49] andrejsm commented on #104
I'll try to hop in within 2 - 3 months. Launching app soon and am busy right now.

[2016-06-07 16:52] c-rack commented on #104
Sure, take your time. Good luck with your app!

[2016-06-22 18:04] trungpham opened #105 "support second granularity"
Can we extend the crontab syntax to support seconds?
`* * * * *` will continue to run every minute
`* * * * * *` will run every second?

[2016-06-22 18:31] theoretick commented on #105
I dont believe crontabs support a second-level granularity. IMO It would seem a bit heavy to add a superset of cron functionality to quantum, but that's just my 2 cents :).

One suggestion from SO is to make multiple jobs and offset them:
[code]
http://stackoverflow.com/questions/9619362/running-a-cron-every-30-seconds

[2016-06-22 18:37] trungpham commented on #105
The stackoverflow solution is a hack though. Would be nice if we can extend crontab syntax to support second-level granularity.

[2016-06-23 17:09] c-rack commented on #105
@trungpham Thanks for opening this issue.
Do you want to run a job just every second or do you also want to run it every 2, 5, 15 seconds?

[2016-06-24 02:44] norbu09 commented on #4
happy to close this finally, sorry for the delay

[2016-06-24 02:44] #4 closed

[2016-06-24 08:45] trungpham commented on #105
It should allow the same syntax as the minute level since there are 60
seconds in a minute, and 60 minutes in an hour.
On Thu, Jun 23, 2016 at 10:09 AM Constantin Rack <notifications@github.com>
wrote:

[2016-06-24 14:56] c-rack commented on #105
Your suggestion is clear, but I still try to understand the problem you want to solve.

For example, would it be enough to introduce just a new `@every second` special form or do you need a `@every N seconds` expression or do you really need to restrict the job execution time additionally to minutes, hours, weekdays, months?

Could you please describe your use case? Maybe that makes the requiremen

[2016-06-24 16:05] sherbondy commented on #105
Hey there, I would love to be able to use quantum elixir to run a job every n seconds, where n is configurable. Right now considering rolling a basic genserver to do this but feels a little silly given this library already implements most of the desired functionality. Happy to have a go at a PR with a little guidance!

[2016-06-24 16:15] sherbondy commented on #105
Would it be as simple as modifying:
https://github.com/c-rack/quantum-elixir/blob/master/lib/quantum/executor.ex

To have an execute fun that accepts "@every " <> n <> " seconds" as input and then does modular arithmetic on c.second value?

And tweaking convert_to_timezone to not zero out the second?

Or would I have to mess with normalizer / something else so that new schedule input is accepted a

[2016-06-24 16:25] c-rack commented on #105
@sherbondy thanks for offering your help!

So let's introduce a new special form `@every N seconds` with `1 <= N <= 59`.

Given that this is a different kind of beast than the usual cron logic on per minute basis, I would not try to squeeze it in the existing workflow, but instead starting a dedicated process for it. Otherwise, quantum would need to wake up and check all jobs every second, even if

[2016-06-24 16:33] sherbondy commented on #105
Hmm, okay, so this would entail optionally adding a second quantum worker to the supervision tree with a simplified timer (or even no timer) that sends after n seconds?

[2016-06-24 16:43] c-rack commented on #105
Yes, something like that. Just give it a try 😄

[2016-06-24 17:36] trungpham commented on #105
Are you guys concern with running the job every second? Shouldn't be an issue for the Erlang VM.
Also, can we support this syntax too?
```*/10 * * * * *``` run every 10 seconds.

[2016-06-24 17:58] c-rack commented on #105
The planned new special form `@every 10 seconds` is semantically equal to your proposal and easier to read, too.

You have still not described the problem you want to solve, so I don't know why you want to use `*/10 * * * * *` rather than `@every 10 seconds`. Could you please clarify?

[2016-06-24 18:01] trungpham commented on #105
I prefer the old school crontab syntax. :)
On Fri, Jun 24, 2016 at 10:58 AM Constantin Rack <notifications@github.com>
wrote:

[2016-06-24 18:05] c-rack commented on #105
Ok, so once @sherbondy has implemented the `@every N seconds` feature, feel free to submit a PR that quantum also supports it by understanding a `*/N * * * * *` syntax :-)

[2016-06-25 09:26] princemaple commented on #105
Probably need to change this https://github.com/c-rack/quantum-elixir/blob/master/lib/quantum/timer.ex#L18 for `@every n seconds` to work. Might be a good idea to make this configurable...

[2016-06-29 03:47] deini opened #108 "Problem: Timezone as string not working in config"
If I set something like
[code]
I get `** (RuntimeError) Unsupported timezone: America/Chicago`.

Can I only use this type of timezones at runtime?

[2016-06-29 15:06] c-rack commented on #108
Currently yes, as it is also described in the README. Any pull requests to extend that are welcome :-)

Could you also please rename this issue according our contribution policy? Thanks.

[2016-06-29 15:11] deini commented on #108
@c-rack Can you point me at where in the README this is mentioned? I read over and over again the Timezone section but couldn't find anything about not being able to use it as a string in the config. 🔎 Not sure what I'm missing.

[2016-06-29 15:23] c-rack commented on #108
It is a little bit hidden and that may be improved as well, but you find it in the comment to the `timezone` field in the section "Named jobs".

Anyway, I agree that this is unexpected behavior and should be changed.

[2016-06-29 15:29] deini commented on #108
I'll try to submit a PR tonight, just wanted to make sure I was not missing something. Thanks!

[2016-07-16 05:53] seymores opened #110 "Getting "module Timex.DateTime is not available" error after upgraded Timex to version 3.0.3"
[code]

[2016-07-16 06:45] c-rack commented on #110
Thanks for reporting! We need to upgrade quantum to Elixir >= 1.3 and use the new date/time types. Then, we would release a 2.0 version of quantum, indicating that this version bump breaks backwards compatibility (i.e. pre-elixir-1.3 support). Any pull requests in that directions are welcome.

[2016-08-01 07:03] vertexclique commented on #105
Are there any development on this issue? Actually I need to have

case also. It will really help.

[2016-08-05 19:39] c-rack commented on #110
Fixed by #111

[2016-08-05 19:39] #110 closed

[2016-08-24 02:19] amay commented on #108
Any updates on this? I'm trying to specify a timezone as a string in a specific job config. I don't get any errors on startup but I'm observing that it is silently using UTC. I see that https://github.com/c-rack/quantum-elixir/pull/90 was supposed to add per-job timezone support, and the README currently indicates that you can specify a timezone for a job via a string here: https://github.com/c-ra

[2016-08-24 08:51] c-rack commented on #108
@amay To my knowledge, there is no update on this yet.
@deini Do you still work on the PR? What is the status of it?

The README is misleading. It says you can define a time zone when creating a new Job structure, i.e. when creating a job at runtime. This is not possible yet in config.
Any contributions to fix this issue are welcome.

[2016-08-25 14:36] webzepter commented on #105
I also bumped into this issue

[2016-09-19 15:32] luki3k5 opened #117 "Problem: Dependencies satisfaction issue"
In the latest version of elixir + phoenix + timex project we have a problem with satisfying all dependencies due to the fact that quantum expects version of times from branch 2.x.x while we use 3.x.x and some other dependencies need it too.

I will offer a quick PR with just the version bump.

[2016-09-19 15:34] luki3k5 commented on #117
Okay, my bad - I actually checked the mix.exs for quantum and it looks like it is using 3.x.x - however I still see this in our app: http://take.ms/WqHdv

[2016-09-19 15:58] c-rack commented on #117
@luki3k5 you are right, this change is not released yet:
https://github.com/c-rack/quantum-elixir/compare/v1.7.1...HEAD

As it's quite a while since last release, I will publish version 2.0 (with timex 3 and elixir 1.3 requirements) this week.

[2016-09-19 16:08] luki3k5 commented on #117
sounds great, thank you.

[2016-09-19 17:02] theoretick commented on #117
@c-rack Regarding the new version, is there an existing project policy in place for versioning? Since we're talking about bumping to v2 for updated dependencies should this be a major release or maybe just v1.8?

Note, I have no strong opinion about this, just something that came to mind from this issue :)

[2016-09-19 19:51] c-rack commented on #117
@theoretick this project uses [Semantic Versioning 2.0.0](http://semver.org/), as stated in the [changelog](https://github.com/c-rack/quantum-elixir/blob/master/CHANGELOG.md). I agree that next version should be 1.8.0, then. Thanks for your comment!

[2016-09-20 18:13] c-rack commented on #117
Version 1.8.0 has been released:
https://hex.pm/packages/quantum

@luki3k5 would you please check and close this issue then?

[2016-09-21 07:37] luki3k5 commented on #117
Hello @c-rack I just did and it works flawlessly. Thank you!

[2016-09-21 07:37] #117 closed

[2016-09-23 15:08] mdowell12 opened #120 "Jobs queue is not shared across nodes when `global?` is true"
I have an application that is running across multiple nodes.  I'd like to have one global Quantum.jobs queue whose updates are reflected across all of the nodes in my cluster.  E.g. if one of my nodes removes a job from the queue, I'd like that change to be visible on all other nodes in the cluster.

I've played around with this setting:

    config :quantum, global?: true

but did not see any cha

[2016-09-23 17:57] c-rack commented on #120
It should be implemented by using `{:global, Quantum}` as process name here:
https://github.com/c-rack/quantum-elixir/blob/master/lib/quantum.ex#L23-L25

That feature was introduced by https://github.com/c-rack/quantum-elixir/pull/102

@princemaple any idea why this could be not working for @mdowell12 ?

[2016-09-23 22:04] princemaple commented on #120
@mdowell12 what behavior are you seeing?
Could you share some code and your architecture?

[2016-09-25 16:00] c-rack commented on #108
Fixed by merging #121

[2016-09-25 16:00] #108 closed

[2016-09-27 00:23] mdowell12 commented on #120
@princemaple, certainly.

My application has two nodes that dynamically add/remove jobs.  I've tried to configure Quantum to run globally by adding the following to my config file:

    config :quantum, global?: true

But when I add/remove jobs on one node, I don't see those changes reflected on the other node.  I also did some digging on the global module and couldn't find any references to Quant

[2016-09-27 01:04] princemaple commented on #120
@mdowell12
Does quantum work for you when you don't set `global?: true`?
Do you have the two nodes clustered?
Also, for dynamically added jobs, I'd recommend using separate processes. The only reason you should use `global` is when you have a cluster of nodes *AND* you have predefined jobs *AND* the work done by the jobs may overlap.

[2016-09-27 12:44] mdowell12 commented on #120
@princemaple it does work when I don't set `global?: true`, just not in the distributed way that I've described.  The two nodes are clustered.

And what are the separate processes you're recommending?  You mean outside of Quantum?  Do you see any way that Quantum could be used to solve this problem?

[2016-09-27 12:57] princemaple commented on #120
I meant when you don't set global, dynamically added jobs are executed on
the node that they are added on, unless you specify a different node when
you add the jobs. What's your expected behavior?

On Tue., 27 Sep. 2016, 22:44 Matt Dowell, <notifications@github.com> wrote:

[2016-09-27 13:24] mdowell12 commented on #120
Yep, that's the behavior we get.  We're using the cluster to provide a highly available web service, though, so the behavior you described doesn't allow for any fail-over.  Ideally, when our application adds a job to the Jobs queue, we'd see that reflected across both nodes (but obviously only run by one node).  Same for removing/updating jobs.

[2016-09-27 13:30] princemaple commented on #120
I'm afraid that after all global isn't the option you should be looking at.
Are you talking about dynamically added repeated jobs or dynamically added
one-time jobs, I'd like to confirm this before making further suggestions.

On Tue., 27 Sep. 2016, 23:24 Matt Dowell, <notifications@github.com> wrote:

[2016-09-27 13:33] mdowell12 commented on #120
No worries, I appreciate the attention and advice!  We're dynamically adding repeated jobs.

[2016-09-27 13:48] princemaple commented on #120
So you want to deal with node failures, not process failures. You will
probably have to add some external cache to store the job definitions for
everyone node. Leave quantum in normal mode. Load jobs from the external
cache when node restarts. You can use any cache infrastructure, but I would
use an Elixir app :) that would allow you to add it to the cluster directly
and save you from rolling your

[2016-09-27 14:25] mdowell12 commented on #120
Ah, makes sense.  I will talk with people on my team and try to devise a strategy that works for us.  Thanks again for the advice!  I'll close the issue for now, but will post here if we come up with anything interesting.

[2016-09-27 14:25] #120 closed

[2016-10-18 12:05] egeersoz opened #124 "failed to use timex version 2.2.1"
I get this when I run `mix deps.get` after adding `{:quantum, ">= 1.8.0"}` to my mix.ex file:

[code]

Elixir 1.3.2, Phoenix 1.2.1

[2016-10-22 02:49] ijunaid8088 opened #125 "Job didnt start?"
I have added job in my `config/prod.ex` file.. as

[code]
But it didnt start.. And also there is not logs in heroku for it. If it started or failed. Am I doing something wrong or I can check weather its running or not?

[2016-10-22 07:22] c-rack commented on #125
Did you add quantum to the list of applications in your mix.exs file like this?

[code]

[2016-10-22 07:34] ijunaid8088 commented on #125
Yeah I have done this

https://github.com/ijunaid8088/extractor/blob/master/mix.exs#L22

[2016-10-22 07:39] c-rack commented on #125
OK, then please try to replace your task with `fn -> IO.puts "Tick" end` and your schedule with `* * * * *`. Since you have set the schedule to `@daily`, it will start at next midnight, so you do not see any execution on application start if starting during the day.

[2016-10-23 08:15] egeersoz opened #129 "How to edit a Quantum at runtime?"
First of all, thanks for the awesome library! :)

I'm looking for a way to edit a Quantum at runtime, specifically change its schedule and the task it is performing. I know there is a way to find jobs by name by doing `Quantum.find_job(name)` but after finding it I also need to change its task.

The reason is that I have a wrapper around Quantums, called Jobs, that users can create/edit/delete. Th

[2016-10-23 19:35] c-rack commented on #129
Thanks for your question!

Currently, you would need to use `delete_job/1` and `add_job/2` to update an existing job. A new function `update_job` would be great, but is currently not implemented. Any contributions in that direction are welcome!

[2016-10-24 05:06] egeersoz commented on #129
Gotcha. When you say "to update an existing job" what do you mean? Using `delete_job` and then `add_job` creates a brand new job with a brand new PID, right?

It's not a big deal, I already wrote the code to do it - I'm just curious. Thanks! :)

[2016-10-24 05:45] ijunaid8088 commented on #125
Okay now its working.. I removed it from PROD and add it to straight config file. Thanks

[2016-10-24 05:45] #125 closed

[2016-10-24 20:02] c-rack commented on #129
@egeersoz Yes, deleting and adding a job leads to a new PID.

Feel free to send a PR to bring your "update an existing job" to the code base. I'll merge it. If you don't want to send a PR, please close this issue.

[2016-10-25 07:30] ijunaid8088 opened #130 "Cron job in quantum for every 2 hours"
Is this a right way of doing it?

[code]

[2016-10-25 13:30] overallduka commented on #130
I believe so, you can use this tool: http://crontab.guru/#0_*/2_*_*_* to build cron expressions easily.

[2016-10-25 18:20] ijunaid8088 commented on #125
It worked locally.. and very good as i expected.. but again.. it didn't in
production.

On Oct 22, 2016 12:40 PM, "Constantin Rack" <notifications@github.com>
wrote:

[2016-10-25 19:00] c-rack commented on #125
Maybe an heroku specific problem?
See issue https://github.com/c-rack/quantum-elixir/issues/60

[2016-10-25 19:05] c-rack commented on #130
@ijunaid8088 Yes, with that schedule, it will start the job on 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20 and 22 o'clock. If you want to run it a odd hours, you would need to define it as a comma separated list: `0 1,3,5,7,9,11,13,15,17,19,21,23 * * *`.

Question answered?

[2016-10-26 05:10] ijunaid8088 commented on #130
@c-rack Yes Answered!

Why it seems as you are not telling me but fighting with me?

[2016-10-26 05:10] #130 closed

[2016-10-26 05:20] c-rack commented on #130
@ijunaid8088 what do you mean with "fighting"? Please excuse if anything in my response seems to be aggressive in any way, that was not intended.

[2016-10-26 05:22] ijunaid8088 commented on #130
@c-rack Yes, that. "Question answered?" Doesn't seem to be polite for a beginner. But it's fine. I just took it in an offensive way!

[2016-10-26 06:20] c-rack commented on #130
OK, thanks for explaining, I'll do it better next time! I appreciate any question, bug report and contribution to this project.

[2016-10-26 06:24] ijunaid8088 commented on #130
@c-rack You are welcome!

[2016-10-30 23:45] matteosister opened #132 "problem with timex, local time and a switch of hour..."
Hi everybody!

First of all thanks for your awesome work! We are using quantum in production for many months now, and everything is great.

Yesterday we had a problem with a change of local time. At 2 am the hour forward to 3 am, and for an hour Timex was creating an AmbiguousDateTime instead of a normal DateTime. We are using quantum with **:local** and I was watching the code to understand what

[2016-10-31 19:27] c-rack commented on #132
@matteosister thank you for opening this issue!

@lau I think you can explain best about the rationale behind these changes?

Regarding support for `:local` support, I would like to keep supporting it, too, because there are valid use cases for that (like the example you provided).

[2016-10-31 19:33] matteosister commented on #132
@c-rack After reasoning about it a little, I think that maybe using a local timezone for a crontab app could be really error prone. In our case, if you say local time at 2:30 am, you got 2 occurrence of the same hour in the same day. After some talks with my devops collegue, he said that with lambda functions (that do not support timezones) he had to schedule every hour, and, at the application le

[2016-11-01 12:37] lau commented on #132
@matteosister look at this: http://www.creativedeletion.com/2015/08/07/why-not-to-use-server-local-time.html

Is your server time zone set to something other than UTC?

With date and time bugs it can take many months or even several years before you run in to the hidden bugs. For instance ones that are related to DST or leap years.

Does it really need to be 9am in local time every day? Could you

[2016-11-01 13:34] matteosister commented on #132
@lau we have some servers (in fact containers) that have timezone set to local because of a bigger problem with a mysql database and a php application. Believe me, you don't want to know :smile:

We are trying to solve the problem, because we already learned (the hard way) how bad this thing is.

it has to be at that time. It deals with online payments. But we can easily solve the problem at the a

[2016-11-10 14:25] rafaeljesus opened #133 "Crontab format not running"
Hey guys,

I don't know if I'm missing something here but this config is not running at the desired time:

[code]

It should run at 11:30 AM right? I tried several other combinations and waited to see if it triggers locally but the only one I see working was each 1 min `* * * * *`

quantum: 1.8.0
timex: 3.1.5

I'd appreciate any help,

Cheers

[2016-11-10 16:33] rafaeljesus commented on #133
I have tested here using a similar node.js [lib](https://github.com/node-schedule/node-schedule)

It runs at 14:15 PM:
[code]

I used the same expression on quantum to run at 14:20 PM:
[code]

But the quantum version is not working as well

[2016-11-10 19:57] c-rack commented on #133
@rafaeljesus two questions:

1. Which time zone are you using? Quantum uses UTC by default (yes, I have seen that you are setting timezone to `:local` in your second comment :)).
2. Have you started quantum by adding it to the list of applications?

Thanks,
Constantin

[2016-11-11 11:44] rafaeljesus commented on #133
Hi @c-rack thank you for your quick reply!

I am using my default mac timezone which is Brasilia Summer Time (Brazil). As you can see I tested with `:local` and the default one `:utc`

Yes I added quantum on application list, also tried adding as the first element of the list and as the last just to check if it would be conflicting with some other lib.

I just tested here again on other mac and st

[2016-11-11 14:17] rafaeljesus commented on #133
It seems that I can not pass a string to `timezone:` key
[code]

It throws `** (RuntimeError) Unsupported timezone: America/Sao_Paulo` so it is using the UTC timezone even if I pass `:local` to it,

So to work out, I must to take the difference out using UTC:
[code]

[2016-11-11 17:40] c-rack commented on #133
@rafaeljesus have you tried latest master branch instead of hex.pm published version? it should support passing the timezone as `America/Sao_Paulo`. If that works for you, I could publish a new version to hex.pm over the weekend.

[2016-11-16 21:02] c-rack commented on #133
@renews Thanks! I'll publish a new version shortly.

@rafaeljesus Have you tried master branch as well?

[2016-11-17 11:50] rafaeljesus commented on #133
Sorry mates, I'm going to test right now

[2016-11-17 12:06] rafaeljesus commented on #133
@c-rack Thank you for working on this on the weekend mate, it works now 🎉

[2016-11-17 17:23] venkatd commented on #105
Would be good to hear what the use cases are @trungpham  @vertexclique @webzepter @sherbondy

I haven't heard any use cases described, which makes it hard to determine if quantum is the right solution for second-level granularity.

[2016-11-17 18:13] webzepter commented on #105
@venkatd I haven't waited for this feature and rewrite my background workers as GenServers in application supervision tree with 2-seconds repetition interval.

[2016-11-18 19:37] venkatd commented on #105
@webzepter makes sense. I think this is the right move. IMO if you need to have a task that repeats every n seconds, a GenServer is probably the simplest approach and quantum would be overkill for that.

[2016-11-29 13:33] minhajuddin commented on #105
Here is a sample GenServer implementation https://gist.github.com/minhajuddin/e083e2630959beb9616d894f5451ed9b

[2016-12-06 13:54] arjan opened #135 "Push 1.8.1 to hex.pm"
The README states to use `{:quantum, ">= 1.8.1"}` in my mix.exs but this fails because the latest hex version is 1.8.0

[2016-12-06 19:08] c-rack commented on #135
@arjan Thanks for openening this issue! I forgot to publish to hex.pm. Now it's available: https://hex.pm/packages/quantum/1.8.1

[2016-12-06 19:08] #135 closed

[2016-12-07 20:52] c-rack commented on #124
@egeersoz timex is not used anymore as a dependency, so I close this issue. Feel free to reopen it if the problem persists with current version 1.8.1.

[2016-12-07 20:52] #124 closed

[2016-12-07 20:52] c-rack commented on #133
As version 1.8.1 is released to hex.pm, I close this issue.

[2016-12-07 20:52] #133 closed

[2016-12-07 20:53] c-rack commented on #129
@egeersoz any update on this? can we close this issue?

[2016-12-11 16:53] terencechow opened #136 "How to handle application crashes?"
I asked this on stackoverflow, but maybe i might get better direction here...

How would I go about ensuring that my cron jobs exist pass application restarts? Right now I am adding cron jobs dynamically, ie when someone POSTs to a specific route, I use `Quantum.add_job`. I save the details of the cron job in my `Ecto.repo` as well.

Given that, how would I ensure my cron jobs persist through an a

[2016-12-11 17:19] c-rack commented on #136
@terencechow your idea sounds perfectly ok to me!

[2016-12-11 19:10] terencechow commented on #136
Am going to close this. For anyone visiting this in the future I used the below for my reboot:

`worker(Task,[MyApp.MyRebootModule, :reboot, []], restart: :transient),`

where `reboot` is the name of the function in `MyRebootModule`

[2016-12-11 19:10] #136 closed

[2016-12-11 19:13] c-rack commented on #136
@terencechow thanks!

[2016-12-11 19:50] terencechow commented on #120
@mdowell12 Do you have a solution you can share or any guidance?

[2016-12-13 13:42] maennchen opened #137 "Global Jobs run multiple times"
I have a cluster of nodes and want to run jobs only on one machine. To implement this, this configuration is being used:

[code]

The test code is the following:
[code]

The expected output of this code started on two nodes would be, that both machine log the `IO.inspect Node.list` every five seconds, but only one of them executes the heartbeat. (Only shown in one console output)

I however see th

[2016-12-23 19:45] maennchen commented on #105
I wrote a little library to parse / compose cron expressions. It also verifies dates against an expression, finds candidates for the next / previous execution date. It supports seconds from ground up.

Are you interested to implement this library here? https://github.com/sk-t/crontab

(The whole cron expression standard is implemented with the exception of the `W` modifier. This will be implemente

[2016-12-24 00:03] c-rack commented on #105
@maennchen Thanks for your question. Generally, quantum should have as few dependencies as possible. How would your library add an enhancement to quantum? Parsing of cron expressions is already implemented and quite complete and the second-granularity feature is still waiting for someone who submits a pull request to add the `@every N seconds` feature, but maybe I am missing something and you can

[2016-12-24 00:44] maennchen commented on #105
@c-rack The library supports all of the cron feature. This inludes every modifier like `W`, `#` `L` etc.

You can see all of the features in this test here: https://github.com/sk-t/crontab/blob/master/test/crontab/functional_test.exs

[2016-12-24 01:02] c-rack commented on #105
@maennchen OK, if there is a problem to solve, please feel free to submit a pull request and it will be merged according to our contribution policy.

[2017-01-02 16:06] troygnichols opened #140 "Problem: Documentation is out of sync with removal of `local` timezone option"
See PR #122 which removes the option to use `:local` as a timezone config option. The project's README.md file still references the `:local` option.

[2017-01-02 18:23] c-rack commented on #140
Fixed by https://github.com/c-rack/quantum-elixir/pull/141

[2017-01-02 18:23] #140 closed

[2017-01-13 17:43] ourway opened #143 "[Question] Is it possible to run a task only once on a specific time?"
I need to run a task 3 days later.  And I don't want it to be periodic.  It it possible in Quantum?

[2017-01-14 01:12] c-rack commented on #143
@ourway thanks for your question. This is currently not possible with Quantum. I could imagine a new crontab expression like `at 2017-12-31T23:59:59Z` to provide this functionality, but this is currently not implemented. Any contributions in that directions are appreciated.

[2017-01-14 13:06] princemaple commented on #137
Hi @maennchen as you can see in your "Node.list" logs, your nodes were totally separate, you didn't join them together. If they were successfully clustered, you'd see both nodes in the list returned by "Node.list"

[2017-01-17 03:12] jclosure commented on #105
Bumped into this need myself.  Is anyone working on this yet?

[2017-01-17 08:46] chenxsan commented on #14
Any update?

[2017-01-17 14:45] maennchen commented on #105
Yes, but i'm not working full time on the project where I need it, so it's going to take like another two weeks.

You can see the current state here: https://github.com/jshmrtn/quantum-elixir/tree/feature/use_crontab_hex
(I only plugged in the new library by now)

[2017-01-20 15:47] maennchen commented on #105
Before I start to implement the second granularity Pull Request, I'd like to get your feedback.

You suggested the syntax `@every N seconds` to solve the second granularity.

With the pull request #144 there's a new option on how to implement this.

The `crontab` library brings a cron expression sigil with it. This creates new options on how to write the expressions in the configuration.

Example:

[2017-01-20 16:33] maennchen commented on #105
Implementation question: Should minutely jobs always run at second 0 of a minute or should they be executed anytime in that minute?

[2017-01-20 20:17] maennchen commented on #137
Hi @princemaple,

The [documentation of `Node.list`](https://hexdocs.pm/elixir/Node.html#list/0) specifies, that the own node is excluded from the list.

Therefore since it has content, it must be clustered, right?

[2017-01-20 20:21] princemaple commented on #137
Ah my bad. I'll take a closer look soon.

[2017-01-20 20:46] princemaple commented on #137
Could you test again starting both nodes with iex and run :global.registered_names and then :global.whereis_name(the_found_name) to see if they are the same process?

[2017-01-22 17:16] maennchen commented on #143
You could also just use [`Process.send_after/4`](https://hexdocs.pm/elixir/Process.html#send_after/4) to implement your problem.

[code]

If blocking of the thread is no problem, you could also use [`Process.sleep/1`](https://hexdocs.pm/elixir/Process.html#sleep/1) to wait until you execute the job.

[code]

If you want to implement it, you could also schedule a job with a very specific cron expre

[2017-01-22 21:51] maennchen commented on #14
@alPacino I tried to put those conditions into a test and can't get it to fail. Do you have any suggestions?
https://github.com/jshmrtn/quantum-elixir/blob/feature/14_hot_code_reload/test/quantum_hot_code_reload_test.exs

[2017-01-23 08:54] maennchen commented on #105
This change is currently implemented on master.

@c-rack Should we close this?

[2017-01-23 11:47] #105 closed

[2017-01-23 14:51] maennchen commented on #137
* The function `:global.registered_names` outputs `[Quantum]`.
 * The function `:global.whereis_name(Quantum)` outputs different PID's on the nodes.

[2017-01-23 14:55] maennchen commented on #137
This contradicts my assumption on how [`:global.register_name /2`](http://erlang.org/doc/man/global.html#register_name-2) is supposed to work.

[2017-01-23 21:15] princemaple commented on #137
Hi @maennchen , I did some testing myself, it seems to be working as expected for me.
The important thing is, the two pids you get on two nodes should be one across cluster, the other local, like so: `#PID<21458.277.0>`, `#PID<0.414.0>`
The first one is a pid on a different node, the second one is a local pid.
And, you should be looking for a message like this `20:36:32.139 [info]  global: Name co

[2017-01-23 21:41] princemaple commented on #137
Some testing screenshots:

![image](https://cloud.githubusercontent.com/assets/1329716/22223882/a2e309ea-e210-11e6-8920-1395486b91a4.png)

![image](https://cloud.githubusercontent.com/assets/1329716/22223937/e5e2beca-e210-11e6-97f4-0fd5df8ae67c.png)

[2017-01-24 11:03] #132 closed

[2017-01-24 11:05] maennchen commented on #143
@ourway Can we close this issue?

[2017-01-24 11:06] #129 closed

[2017-01-24 11:23] maennchen commented on #14
@alPacino Does this look like your error?

[code]

[2017-01-25 04:51] princemaple commented on #137
Let me know if you need more clarification or anything is wrong :)

[2017-01-25 09:22] maennchen commented on #137
I have a hard time testing that at the moment. How can I link the containers at the start instead of doing a `Node.connect`? (I thought I'm connecting them with the `sys.config`)

[2017-01-25 09:32] princemaple commented on #137
Yeah I thought that would work too.

I used to do [this](https://groups.google.com/d/msg/phoenix-talk/PHZPnnGgHmM/fdSr7k1QDwAJ), but this is overly complicated for simply trying to cluster nodes. I've been trying to think of a better, simpler way.

[2017-01-25 10:03] maennchen commented on #137
I'll try to plug this into our setup containing [peerage](https://github.com/mrluc/peerage) instead of my minimal failing example. I'll let you know if it worked.

[2017-01-25 11:44] princemaple commented on #137
It'd be really great if either DNS or UDP strat worked out well in docker environment.

However, if they don't, I just worked out an alternative.
(Note: My first priority is to be able to scale without hard coding node names, so it might still be more complex than you actually need it to be)

I found out that `name` and `cookie` can be set at runtime, like so:

[code]

You can work out the IP by c

[2017-01-25 13:28] maennchen commented on #137
For the clustering I did a little POC with a hoster of a current project. The POC is found here:
https://github.com/sk-t/distributed-phoenix-test

(There are a few branches with strategies on how to find the cluster members.)

[2017-01-25 16:56] udfalkso commented on #60
What happens if I'm running with multiple dynos on Heroku?  Will my job get run multiple times?  Or does it behave as if there's only one application?  Thanks

[2017-01-25 22:46] princemaple commented on #137
Peerage seems pretty nice.

I added it to one of my apps, and threw this piece of code into the `start/2` function, clustering was done.

[code]

My config was

[code]

And logs

[code]

[2017-01-31 21:40] #143 closed

[2017-01-31 21:41] maennchen commented on #14
@alPacino Closing this issue because we can't reproduce the issue and lack of participation. Reopen the issue when needed.

[2017-01-31 21:41] #14 closed

[2017-02-01 22:21] benwilson512 commented on #137
I too am running into this issue. Node.list shows a cluster, but quantum is not registered under the global namespace.

[2017-02-01 22:31] princemaple commented on #137
@benwilson512 I assume you use releases too?

I don't use releases so I honestly don't know what is going wrong :( why would it be different?

[2017-02-01 22:34] benwilson512 commented on #137
I do as well yeah. I mean in general the pattern of baking Application environment into module attributes is fraught with peril.

Consider a scenario where I initially have global false, and I compile my app. This sets `@quantum` to `Quantum` in `quantum.ex`. Then I go to my config and I change global to true. When I recompile my app it only recompiles my app, NOT quantum. `@quantum` is still set

[2017-02-01 22:35] benwilson512 commented on #137
`Application.get_env` is `:ets` backed so it adds all of like a microseconds or less to do that call every time, vs using a module attribute. Particularly for cron jobs, there's just no need to try to optimize out ets lookups.

[2017-02-01 22:36] princemaple commented on #137
@benwilson512 FYI re: https://github.com/c-rack/quantum-elixir/issues/137#issuecomment-274507722 Quantum is registered as a global, are you seeing different results from @maennchen ?

[2017-02-01 22:37] benwilson512 commented on #137
In my case it is not being registered globally.
[code]

[2017-02-01 22:43] princemaple commented on #137
I'll ping you on slack.

[2017-02-01 22:44] benwilson512 commented on #137
Hey unfortunately I've gotta run, but we can look at this again tomorrow.

[2017-02-01 22:45] princemaple commented on #137
Ah OK

[2017-02-02 04:37] ourway commented on #143
Ya, Thanks

[2017-02-02 13:50] maennchen commented on #104
@andrejsm How do you imagine this new configuration solution?

Do we need a execution module inside of every umrella application like the ecto `Ecto.Repo`?

Are there other solutions to tell quantum in which configuration environments to search?

[2017-02-07 10:52] andrejsm commented on #104
Probably a simple name-spacing would be sufficient.

For example:
[code]

And here in [Quantum.Application.start/2](https://github.com/c-rack/quantum-elixir/blob/5a45979309f5a1832d779d34de40f181eca5b3f8/lib/quantum/application.ex#L11) iterating through config props would extract all :cron occurrences and join them. Of course respecting if `:cron` is present as standalone prop.

With this we avoid

[2017-02-07 12:29] maennchen commented on #104
@andrejsm What do you think of #149 ?

[2017-02-07 14:13] #104 closed

[2017-02-07 14:16] maennchen opened #152 "Multiple Executors"
Refactor the library to provide an `Executor` behaviour for an application.

The solution should be similar like the `Ecto.Repo` behaviour and its configuration.

[2017-02-11 04:47] weixiyen opened #156 "Second granularity config does not compile"
It seems Crontab.CronExpression cannot be found

[2017-02-11 08:17] c-rack commented on #156
@weixiyen could you please provide more information about this issue? Crontab.CronExpression is used in our unit tests, so if you clone this project and run `mix test`, what is the output?

[2017-02-11 08:41] weixiyen commented on #156
Repro steps

1. Add Quantum to mix.exs
2. Add the second granularity example to config.exs (below)

[code]

Output: Crontab.CronExpression cannot be found.

Tests pass but not the example where I try to set second granularity from config.  Does it work for you outside of tests?

[2017-02-12 06:57] ali-l commented on #156
An alternative approach is to add the job when the application starts:
[code]

[2017-02-17 05:35] asiniy opened #158 "Is there any standardized way to handle exceptions during quantum execution?"
subj.

[2017-02-19 16:33] maennchen commented on #156
Hmm... I didn't consider that mix can't load a struct when writing this code.

Is there a way to import code in the Config or is there no way to get this to work?

[2017-02-19 21:05] c-rack commented on #156
Maybe we can change it to use just a plain map instead of Crontab.CronExpression, and convert that map to a Crontab.CronExpression at a later stage?

[2017-02-19 21:58] maennchen commented on #156
I'm a little bit frustrated about the fact, that no custom sigils / structs can be used in a config... That has to work :S

If there is really no way, i propose to switch back to the string and for the extended ones we use a tuple.

[2017-02-20 18:42] c-rack commented on #156
You could post this question to elixir-dev mailing list to ask if there are any other options.

[2017-02-26 13:35] tonydaly commented on #60
@udfalkso did you get anywhere running this on Heroku with multiple dynos?

[2017-03-03 11:34] airled opened #159 "Distillery with quantum"
Hi there. Not sure if it is really quantum issue or distillery or issue at all but my misunderstanding. But:
[code]
[code]
It's ok, when I try to compile my code for prod environment.

But when I try to build release with Distillery, I get this:

[code]

If I manually include :crontab to my config.exs it builds release fine.
Please, can anyone explain me this situation and if it is really issue, m

[2017-03-03 13:10] maennchen commented on #159
This is solved with https://github.com/c-rack/quantum-elixir/commit/f5549e547b5811dfbe4547fbfc51582f43922271

@c-rack Could you release that as `v1.9.1`?

[2017-03-03 15:57] airled commented on #159
@maennchen Thank you so much. Sorry my inattention.

[2017-03-03 15:57] #159 closed

[2017-03-07 10:46] benrom opened #160 "Regression in 1.9 ?"
Since 1.9 my jobs are not executed any more.

I tested the simple:

[code]

within my app start function (umbrella project, but Quantum within only one sub app).
That code works with 1.8.1 (I can see the log entries every minute) but not with the brand new 1.9 (no other change done to code/config).

`Quantum.add_job` returns ok in both cases. If I run `Quantum.jobs` from the console I can see my j

[2017-03-07 11:16] maennchen commented on #160
I've setup a test quantum app. I can reproduce your bug. It seems that only jobs from the config are executed, but not the ones defined in runtime.

Minimal Example: https://github.com/jshmrtn/quantum-test

[2017-03-07 11:54] maennchen commented on #160
The problem is that the normalizer is not normalizing values of a `%Quantum.Job{}` struct.

I'll create a PR in a few minutes.

[2017-03-07 12:03] maennchen commented on #160
@benrom Could you check the proposed solution? #161

[2017-03-07 12:26] maennchen opened #162 "Move Documentation into ExDoc"
It would be nice to move the documentation into ExDoc as custom Pages.

The documentation is growing and it would be nice to split it into separate pages.

Does anyone have reasons not to do that? Otherwise I'll make a PR.

[2017-03-07 13:07] maennchen commented on #45
Could we replace this issue with #162?

TOC etc. will automatically generated by ExDoc.

[2017-03-07 13:08] maennchen commented on #162
I'd propose to leave a basic example and the the setup inside of the README and link all further things to ExDoc.

[2017-03-07 13:09] maennchen commented on #156
@c-rack It doesn't seem like there'll be a solution to this soon. I propose to allow a special string like "e@ * *" for extended schedules in the configuration.

[2017-03-07 13:14] benrom commented on #160
I've just tested with master, It does work! Thanks a lot @maennchen.
Waiting for the new hex release.

[2017-03-07 13:16] maennchen commented on #156
@c-rack I don't like to use a plain map instead of the sigil because the struct is not meant to write by hand. It is also not fault tolerant. You will get no matching clause found errors inside the crontab code if you make a mistake.

[2017-03-07 14:49] benrom commented on #160
Actually I have a problem in production:

[code]

Is there a dependency problem here?

[2017-03-07 15:24] maennchen commented on #160
@benrom Yes, `v1.9.0` depends on [crontab](https://hex.pm/packages/crontab) for the cron expressions. You'll need `:crontab` in you applications.

@c-rack Is the change that adds `crontab` to the application tree already deployed to hex?

[2017-03-07 15:30] benrom commented on #160
I did try to add :crontab to my application, it didn't fix it. crontab is a dependency of quantum as defined in its mix.exs. Perhaps it's because I was using the github (master) mix dependency instead of the hex one?

[2017-03-07 15:42] maennchen commented on #160
@benrom I don't think this should be a problem.

I have `v1.9.0` in my application which uses `distillery` as well. I don't have those problems.

Could you try to add `:crontab` into your release applications and see if this solves the issue? (This isn't a solution, but helps us identifying the issue.)

[2017-03-07 15:44] benrom commented on #160
If I use v1.9.0, will that parsing code be run (considering the issue above was not fixed yet), thus will I see the error when running it in production?

[2017-03-07 16:01] maennchen commented on #160
Yes, `v1.9.0` already uses the crontab library. You'll see that error in production too.

It'll although only be parsed if you either add the job in the configuration or use the `Crontab.CronExpression` sigil, since the newest master is not released yet. (The cause of the issue that dynamic jobs are not executed, was that they were not parsed.)

[2017-03-07 17:51] c-rack commented on #162
Sounds good to me

[2017-03-07 17:51] c-rack commented on #158
Fixed by #164

[2017-03-07 17:53] c-rack commented on #156
Have you asked elixir-dev mailing list? If yes, could you please link to that thread?

[2017-03-07 18:20] asiniy commented on #158
Still can't understand how to do it

[2017-03-07 18:20] asiniy commented on #158
@maennchen

[2017-03-07 20:42] maennchen commented on #158
@asiniy If it fails now, the Task Supervisor will crash. You can implement standard OTP error handling.

[2017-03-07 20:44] maennchen commented on #156
@c-rack I talked to a few people on the Elixir Slack. There seems to be no way. I haven't written to the mailing list.

[2017-03-07 21:39] maennchen commented on #45
Replaced by #162

[2017-03-07 21:39] #45 closed

[2017-03-07 21:52] maennchen commented on #156
Mailing-List Thread: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/elixir-lang-core/V5P3EJaRBBo/qpTJKTuxDgAJ

Feel free to comment there if I didn't represent the issue correctly.

[2017-03-16 17:02] maennchen commented on #158
The error handling will also improve with #137. If tasks fail, the cron runner itself will also restart.

You could also put the supervisors of your app onto the same level as the task supervisor. This way your whole app will be restarted if the right supervision strategies are used.

@asiniy Do you still have questions?

[2017-03-17 07:29] asiniy commented on #158
@maennchen let me think for some time, please

[2017-03-17 19:00] c-rack commented on #162
Closed by #165 and #166

[2017-03-17 19:00] #162 closed

[2017-03-20 16:48] supernintendo opened #169 "OTP release generation fails on cron expression in config"
Attempting to create an OTP release (in this case with `exrm`) with cron expressions defined in quantum config causes the build to fail. With the following in `config.exs`:

[code]

I get the following error after building the release:
[code]

With line 87 of sys.config being quantum's config. Removing quantum from `config.exs` allows for a successful build. My guess is that this has to due with h

[2017-03-20 16:51] maennchen commented on #169
If you use `exrm`, please use the `{ModuleName, :function_name}` notation instead of `&ModuleName.function_name/arity`.

[2017-03-20 16:51] maennchen commented on #169
Does this resolve your problem?

[2017-03-20 17:37] supernintendo commented on #169
@maennchen That did the trick, thanks! Closing this...

[2017-03-20 17:37] #169 closed

[2017-03-21 13:51] maennchen commented on #152
@c-rack Would you prefer this next to the current executor (avoid BC breaks) or clean with BC breaks?

[2017-03-21 14:33] c-rack commented on #152
@maennchen I always prefer clean solutions :-) If it breaks BC, we just bump the version accordingly, but maybe we find a way that does not break it?

[2017-03-21 14:47] maennchen commented on #152
If we create a worker for each application (like `Ecto.Repo` does), then I'd also like to remove the worker we have now.

In a clean solution there should be only be one way to start a scheduler.

[2017-03-22 15:00] boxxxie opened #171 "Timezone not being set from config/defaults"
config.exs
[code]

when i make jobs with or without a timezone key they get a `:utc` value, regardless of what i assign
`Quantum.jobs |> IO.inspect`

[code]

[2017-03-22 15:42] maennchen commented on #171
Hey @boxxxie

The default timezone is not represented in the job (currently).

https://github.com/c-rack/quantum-elixir/blob/master/lib/quantum/timer.ex#L10

Does it really not work for you (it executes at the wrong times) or did you just expect the `job.timezone` to be what you configured?

[2017-03-22 15:48] maennchen opened #172 "Problem: Unclear Timezone Handling"
The timezone handling seems to cause some questions. (See #171 )

It is also not how I would expect it to work.

My expectations:

* The configuration parameter exists to provide default values for the `job.timezone`.
* The Quantum Worker does not care about time anymore, it just fires every second.
* When a Job is executed, the current time is calculated (derived from the `job.timezone`)
* The jo

[2017-03-22 15:48] maennchen commented on #172
@c-rack Do you share this view on the problem?

[2017-03-22 15:52] maennchen opened #173 "Problem: Blind Polling until the date matches an expression"
Currently we blindly increase the time by one second in a loop. Then we check every job against the current date.

It could be more reasonable to calculate the next run date on every job and sleep until then. This could be achieved using [`Crontab.Scheduler.get_next_run_dates`](https://hexdocs.pm/crontab/Crontab.Scheduler.html#get_next_run_dates/2)

I think this would make the code a lot more unde

[2017-03-22 16:22] maennchen opened #174 "Problem: Too many config notations"
# Notations

Do we really need that many config notations. I think they are confusing.

I propose to reduce the configuration options to following:

## Supported Schedule Notations in mix config (with #156 in mind)

Those notations are only allowed, because the sigil doesn't work in config.

1. `{:cron, "* * * * *"}` (Tuple of `:cron`, String) - Expression without second support
2. `{:extended, "*

[2017-03-22 16:28] maennchen commented on #156
@c-rack I don't think my post will gain any traction soon.

[2017-03-22 18:50] c-rack commented on #156
But it was worth a try 👍

[2017-03-22 18:53] maennchen commented on #152
@c-rack Is it ok for you if I create a v2 branch and point my PR there? I'd like to add some other tickets in the V2 branch too before we create a release.

[2017-03-22 19:14] c-rack commented on #173
Duplicate of #4, but would be happy to see this implemented!

[2017-03-22 19:22] maennchen commented on #173
Great, I will do after #152

[2017-03-22 22:14] maennchen commented on #152
@c-rack Ok, just do not release a new version, If we do BC anyways, I want to do BC just once.

[2017-03-28 11:38] michalmuskala opened #176 "Problem: crontab uses timex, quantum used calendar"
Since the dependency of quantum - `crontab` already uses `timex`, maybe quantum itself should consider using this. This would ultimately allow skipping one dependency overall.

[2017-03-28 11:41] michalmuskala commented on #174
I would propose using the standard `{module, function, args}` notation for encoding jobs. It's extremely widespread, works in both runtime and config, is very familiar and does not require changing strings to atoms, since the module is already an atom. The "mfargs" tuple and 0-arity anonymous functions should cover all the use cases.

To be honest, I have no idea why in the current `{module, funct

[2017-03-28 11:45] michalmuskala commented on #173
This should be able to use [`Process.send_after`](https://hexdocs.pm/elixir/Process.html#send_after/4) with the `:abs` option

[2017-03-28 13:13] maennchen commented on #174
@michalmuskala I'm guessing that it allows string, to allow configuration via Release Managers.

I think that that sort of thing shouldn't be configured via Release Managers. (The Schedule I can understand, but not the function.)

Therefore I'd be happy to remove `Supported Task Notations in mix config#2`.

[2017-03-28 13:15] maennchen commented on #174
@michalmuskala I updated the issue description. Do you think it is reasonable now?

[2017-03-28 13:33] maennchen commented on #176
That should be easy to do. It's just in very few places.

[code]

[2017-03-28 14:28] maennchen commented on #174
What I don't like in the new notation, is that it is conflicting with `Quantum.Job.args`. It would mean, that ew remove this struct property.

[2017-03-29 14:18] #158 closed

[2017-03-29 14:18] maennchen commented on #171
Replaced by #172

[2017-03-29 14:18] #171 closed

[2017-03-29 19:14] maennchen commented on #172
I propose to only support the `default_timezone` config variable. The config value is really easy understood. The global `timezone` should be removed.

[2017-03-29 19:15] maennchen commented on #156
This will be solved (not beautiful, but it works) with the #174 solution. I will close this issue therefore.

[2017-03-29 19:15] #156 closed

[2017-04-05 21:31] benwilson512 commented on #176
Even better, can we try to make it configurable? I guess that's more of an issue for `crontab` but for those of us on Calendar, the inclusion of timex is an unfortunate addition.

[2017-04-06 05:05] maennchen commented on #176
@benwilson512 That's where the PR is heading.

[2017-04-06 05:48] maennchen commented on #176
I need some help for the calendar implementations though. Is someone interested to provide the adapter module for calendar in quantum and crontab?

[2017-04-16 17:07] cschiewek commented on #105
👋

Thanks for the great lib!  I'm curious how you get second granularity via config.  If I try to use the `~e[]` or the `%Crontab.CronExpression{}` i get function not defined errors.  Thoughts?

[2017-04-16 18:12] maennchen commented on #105
@cschiewek See #156

[2017-04-17 18:21] AnderLuiz opened #180 "Problem: PID = nil when global:true and both nodes online"
I have 2 nodes. when only one node is up everything works fine, but when both nodes are up, Node two only add jobs with PID=nil.

my config file:
`config :quantum,
   global?: true,
   timeout: 30_000,
   timezone: "America/Sao_Paulo"`

Quantum version: `1.9.1`

I am adding this task on both nodes for testing

`task_name = “test_task”
job = %Quantum.Job{schedule: "58 20 17 4 *", task: fn ->
IO.put

[2017-04-22 09:24] c-rack commented on #172
Agreed 👍

[2017-04-22 13:33] #152 closed

[2017-04-22 13:34] maennchen opened #182 "Problem: Naming of Modules is unclear"
Change Naming according to https://github.com/c-rack/quantum-elixir/pull/175#issuecomment-296359925

[code]

[2017-04-22 13:35] maennchen commented on #137
In my current setup it works as expected. I don't know what went wrong when I opened the issue.

Please reopen if anyone else encounters the issue.

[2017-04-22 13:35] #137 closed

[2017-04-22 17:21] maennchen commented on #172
Solved with #181

[2017-04-22 17:21] #172 closed

[2017-04-22 17:21] maennchen commented on #174
Closed with #178

[2017-04-22 17:21] #174 closed

[2017-04-22 17:22] maennchen commented on #176
Closed with #177

[2017-04-22 17:22] #176 closed

[2017-04-22 17:22] maennchen commented on #182
Closed with #183

[2017-04-22 17:22] #182 closed

[2017-04-22 17:26] maennchen opened #184 "Release V2"
* [x] Docs ( #186 )
* [x] `crontab` support for `calendar` (Completely Independent Now)
* [x] Pin released version of `crontab`. (jshmrtn/crontab#40)
* [x] #180 Run Strategies
* [x] Test `master` by hand
* [x] Merge #187
* [x] Fix #189
* [x] Fix #204
* [x] Fix #207
* [x] Fix #214
* [x] Merge #225
* [x] Merge #224
* [x] Merge #226
* [x] Release `v2.0.0-beta.2`
* [x] Fix #227
* [x] Some more testing

[2017-04-22 19:36] maennchen commented on #180
I propose that the `Quantum.Runner` only runs one if `global?` is true.

Should the runner a) start a task for each node in `job.nodes` or should it b) run it only on one server?

If a), we need to save a map of `%{node_name => pid}` instead of just one pid.
Also it gets more complicated to determine overlap, if multiple pids are stored.

If we're already on it, should we also add `:any` and `:all

[2017-04-22 19:39] c-rack commented on #180
Option (b) sounds reasonable, also the additions for `job.nodes`

[2017-05-02 19:26] maennchen commented on #180
Solved via #185

[2017-05-02 19:26] #180 closed

[2017-05-03 13:14] maennchen commented on #184
@c-rack Would you create a beta release? I'd like to get some other users to test the changes.

[2017-05-03 14:59] c-rack commented on #184
Which version shall I use? 2.0.0-beta? 2.0.0-rc1?

[2017-05-03 15:22] maennchen commented on #184
`2.0.0-beta.1` ?

[2017-05-10 11:52] narkq opened #189 "Problem: quantum V2 crashes when remote observer is connected"
As soon as remote observer is connected to the node, `<MyApp>.Scheduler.Runner` keeps crashing every second.

**Steps to repoduce:**
1. `git clone https://github.com/narkq/hello_quantum.git`
2. `cd hello_quantum && mix deps.get && mix compile`
3. `elixir --no-halt --cookie hello_quantum --sname hello_quantum@localhost -S mix app.start &`
4. `erl -sname obs@localhost -setcookie hello_quantum -s obs

[2017-05-10 15:24] #189 closed

[2017-05-12 16:36] dnsbty opened #191 "Problem: Warning message example doesn't work"
I inherited an app that had set up quantum with the following config:
[code]
When building the app I received this warning:
[code]
When I switched to the specified format, my cron jobs no longer ran. I had to switch them to the format specified in the doc to get them to work again:
[code]

It would be great to change the warning to avoid tripping up others who may run into the same problem.

[2017-05-12 17:45] c-rack commented on #191
Which version do you use? Or are you using latest master?

[2017-05-13 18:10] dnsbty commented on #191
That's in version 1.9.0

[2017-05-13 19:46] c-rack commented on #191
OK, thanks! Would you mind to send a PR that fixes this?

[2017-05-17 19:56] matthewlehner commented on #184
I'm just getting started setting up Quantum and will use the current commit on master as a reference. If I notice anything out of the ordinary that doesn't seem to be working I'll submit PRs for doc fixes.

That said, I'd love an 'official' beta release on hex, if it's in the works! :)

[2017-05-18 10:36] maennchen commented on #184
@c-rack ping (hex beta release)

[2017-05-18 18:30] c-rack commented on #184
Yeah, I will release it tomorrow afternoon. Sorry for the delay!

[2017-05-19 05:54] maennchen commented on #191
@c-rack Could you release the fix so we can close this issue?

[2017-05-19 05:59] c-rack commented on #191
Sure, will do so today.

[2017-05-19 15:35] c-rack commented on #191
Version 1.9.2 is released now:
https://hex.pm/packages/quantum/1.9.2

[2017-05-19 15:35] #191 closed

[2017-05-24 17:26] matthewlehner commented on #184
@c-rack Sorry to bug you again, but before you release a 2.0 beta/rc on, can you update the version in the readme to match whatever you'll release?

[2017-05-29 12:59] maennchen commented on #184
@c-rack ping (hex beta release)

[2017-05-30 18:57] matthewlehner opened #196 "Documentation improvement suggestion/guidance"
As I've been going through setting things up, I'm wondering about the structure of the documentation WRT macros. Specifically, the callbacks are documented, but they don't show up in the module that calls `use`.

I'm not sure what's idiomatic for Elixir, but moving the `@doc` tags into the macro definition allows you to call `h App.Scheduler.add_job` (or for me to get the docs from Alchemist right

[2017-05-30 22:10] maennchen commented on #196
That seems like a giod suggestion. I'd be happy to accept a PR.

[2017-06-03 01:44] ImJoeWebb commented on #184
[Jobs with Second granularity](https://github.com/c-rack/quantum-elixir/blob/b49e291c0393b508276ddff94f7ddd07303da203/pages/configuration.md#jobs-with-second-granularity) gives an example with `import Crontab.CronExpression` but this isn't usually loaded when loading the configuration. Also it has `{"*/2", true}` instead of `~e(*/2)e` for the schedule.

[2017-06-03 08:47] maennchen commented on #184
@ImJoeWebb Ow, Sigis do not work in Config at all. I'll make a PR for that doc section.

[2017-06-03 09:27] maennchen commented on #196
@matthewlehner Actually, that seems to work already...

[code]

[2017-06-03 09:32] maennchen commented on #196
@matthewlehner With the PR #200, the implementing module will have a default `@moduledoc`.

The functions all show the doc of the callback for the help. I don't think that more than that is needed.

If Alchemist doesn't show help from callbacks, I think we need to report that at Alchemist. (The functionality should likely be the same as the internal elixir help.)

[2017-06-03 12:06] c-rack commented on #184
@maennchen I will release 2.0.0-beta1 over this weekend

[2017-06-07 10:21] maennchen commented on #184
@c-rack Do you want to give me permission for Hex? I could create the release then...

My Hex User: https://hex.pm/users/maennchen

[2017-06-07 17:59] c-rack commented on #184
@maennchen I've added you to the list of owners. Please give it a try.

[2017-06-07 18:39] primitive-type opened #203 "Ecto Dependency Divergence Error"
After adding `quantum` to my `mix.exs` file and running `mix deps.get`, the following error occurs:

[code]

As you can see, we already specify `override: true` for Ecto in our app's `mix.exs`, which is what the above message seems to be suggesting we need to do. However, no matter what, it keeps popping up and preventing a successful dependency resolution.

Elixir version: 1.4.2

[2017-06-07 19:48] maennchen commented on #184
`v2.0.0-beta.1` Beta is now on Hex

[2017-06-07 19:51] maennchen commented on #203
(It's even optional for `crontab`)

[2017-06-07 19:52] maennchen commented on #196
@matthewlehner Does this solve your problem or do we need to do further changes?

[2017-06-07 19:54] maennchen opened #204 "Fix Sometimes Failing Tests"
Failing Test:

https://travis-ci.org/c-rack/quantum-elixir/jobs/239364974
[code]

[2017-06-07 20:04] maennchen commented on #203
@primitive-type Does this solve your issue? https://github.com/elixir-lang/elixir/issues/5622

[2017-06-11 18:16] primitive-type commented on #203
@maennchen I don't believe so, as we are already on version 1.4.2 and the issue still occurred.

[2017-06-12 06:20] maennchen commented on #203
@primitive-type Can you check that it happens with non-umbrella apps as well?

[2017-06-12 15:17] primitive-type commented on #203
@maennchen I just set up a test non-umbrella app and everything worked fine, so it looks like this is just an issue for umbrella apps.

[2017-06-12 15:28] maennchen commented on #203
@primitive-type Please try to put the overridden dependency into your umbrella root mix.exs.

[2017-06-12 15:57] primitive-type commented on #203
@maennchen Thanks, that did the trick.

[2017-06-12 16:13] maennchen commented on #203
Yay 🍻

[2017-06-12 16:13] #203 closed

[2017-06-14 06:49] maennchen commented on #196
Closed because of inactivity. Current implementation should be sufficient.

[2017-06-14 06:49] #196 closed

[2017-06-14 06:55] maennchen commented on #204
This could help solve the issue: elixir-lang/elixir#6193

[2017-06-30 06:30] #204 closed

[2017-06-30 06:35] maennchen commented on #184
@princemaple Follow up for https://github.com/c-rack/quantum-elixir/pull/206#issuecomment-312186676

The Idea was, to give the user the possibility to "copy" the quantum OTP process tree into it's own app. Also it should be possible for the user to communicate directly with this needed module (for simplicity)

[2017-06-30 06:43] maennchen commented on #184
I'd be happy to do some lifting if you tell me where the issues are. I'd like to do that now so that our major release is good.

[2017-06-30 06:53] princemaple commented on #184
My points are

- client-server functions can be dedicated to the state related logics
- pure data transformations don't require spawning processes
- loading configs should not be tied to running processes, it's perfectly fine to just load it with Application.get_env and transform it with a normal function (i.e. not a client/server function)

If I were to make changes, my goals would be:
- `Schedul

[2017-06-30 06:54] maennchen commented on #184
https://travis-ci.org/c-rack/quantum-elixir/jobs/248663271

Hmm. There still was an error on master....

[2017-06-30 06:56] maennchen commented on #184
I'm not sure that I agree on that. This way the config can be manipulated by the Module the user extends. There are many libraries in the Elixir ecosystem that change their code to do exactly that. (See Phoenix & Ecto)

[2017-06-30 06:58] maennchen commented on #184
What would be the benefit of this?

[2017-06-30 06:58] princemaple commented on #184
Yep that one is in `quantum_test`, not the ones I fixed in `normalizer_test`
This one I could no reproduce locally.
My suggested changes would fix this and allow tests to run with `async: true`, but... :)

[2017-06-30 07:00] princemaple commented on #184
flexibility :) I would be able to wire things however I want, when I want to, like when I mess with `global`. Also makes it easy to test.

[2017-06-30 07:05] maennchen commented on #184
I wouldn't like to change the OTP Tree of the app without a very good reason.

With your suggestion with the server argument, the default stays in place. So we can change that easily.

[2017-06-30 07:09] princemaple commented on #184
I'm OK with its current structure, that the scheduler starts the supervisor, and the supervisor supervises a task supervisor and quantum runner. Just looking to make it more flexible and isolated, how things start each other, how names are passed around, and how calls are made.

[2017-06-30 07:12] maennchen commented on #184
You'd like to change the interface like this?

[code]

[2017-06-30 07:14] princemaple commented on #184
Yeah something like that. I recall seeing a few client functions with multiple clauses and different signatures. Might need to play with the function head a little bit.

[2017-06-30 07:16] maennchen commented on #184
@princemaple I'm aware, I'll create a ticket & PR.

[2017-06-30 07:17] maennchen opened #207 "Problem: Scheduler GenServer Namings / Target not flexible enough"
See #184

[2017-06-30 07:21] maennchen commented on #207
@princemaple

These definitions conflict. How'd you solve that?

[code]

[2017-06-30 07:34] princemaple commented on #207
What do you think about `{schedule, task}`? I personally don't mind this way but don't like it either. But I prefer this way to making all options a map or a special struct.

[2017-06-30 07:37] princemaple commented on #207
in terms of using it as a function parameter hack. However, if a schedule plus a task does define a job, I think it's good semantically.

[2017-06-30 07:38] maennchen commented on #207
@princemaple Sounds inconvenient, but reasonable.

[2017-06-30 13:38] ninjanicely opened #209 "Error thrown from invalid cron format after submitting a job"
Here are my stats...
Elixir Version: 1.5.0-dev
Erlang/OTP: 19
quantum: 1.8.1

I have an application that allows users to enter cron formatted strings to schedule different tasks.
We validate these strings up front using CronTab.CronExpression.Parser.parse(cron_string) and catch most problems.
When a user enters a cron string with 6 stars and submits, the parser doesn't catch any error. When I subm

[2017-06-30 14:14] maennchen commented on #209
We'll need the stack trace for sure, then I can say more.

[2017-06-30 14:17] maennchen commented on #209
Also please use `v1.9.2`.

[2017-06-30 14:35] ninjanicely commented on #209
Boop, upgrading to `v.1.9.2` seems to have fixed the issue. I'll be sure to check for updates next time. Thanks!

[2017-06-30 14:35] #209 closed

[2017-07-03 11:41] ne-sachirou opened #210 "Dialyzer warns "Job.set_overlap breaks the contract""
I use Quantum 2.0.0-beta.1 in my project and run Dialyzer (dialyxir), Daialyzer warns:

[code]

[code]

[2017-07-03 11:48] c-rack commented on #210
Thanks. Would you mind to send a PR to fix these (or some of them)?

[2017-07-06 11:57] Lazarus404 opened #211 "Memory leaks"
So, we're using Quantum v1.9.2 but finding it's leaking processes.  We see a crash in our logs from Quantum and then

[code]

Once Quantum has crashed, the process count drops from around 260k to 22k.

Thoughts?

[2017-07-06 12:00] c-rack commented on #211
Thanks for reporting this!

Would it be possible to provide a minimal app that reproduces this problem?

[2017-07-06 12:09] maennchen commented on #211
With an absolute minimum setup I can't reproduce the issue. The process count doesn't increase over time. Therefore we'll need the minimal app that @c-rack requested.

Used Code / Config:

[code]

[code]

[2017-07-06 12:28] Lazarus404 commented on #211
So, what seems to be happening is;  Our cron just is set to very
frequent.  One of those cron jobs crashes and, because the Quantum
v1.9.2 dep has restarts set to permanent, it recreates the worker
repetitively without the previous process cleaning up.  Eventually (and
we're talking days), we hit our process ceiling.

We're investigating to find out why the processes aren't cleaning up and
will no

[2017-07-06 14:36] #210 closed

[2017-07-06 15:21] maennchen opened #214 "Problem: Dialyzer Warnings"
There are still some dialyzer warnigns left.

[code]

Tried to solve them via `@dialyzer {:nowarn_function, __protocol__: 1}`, didn't work though.
https://github.com/c-rack/quantum-elixir/blob/master/lib/quantum/run_strategy.ex#L21

`lib/quantum/normalizer.ex:48: The call 'Elixir.Quantum.Normalizer':normalize(base@1::any(),{'nil',#{'schedule':=#{'__struct__':='Elixir.Crontab.CronExpression', 'day'

[2017-07-07 08:06] #207 closed

[2017-07-08 18:14] maennchen commented on #214
Second warning still remaining.

[2017-07-10 16:57] maennchen commented on #214
PR #219 makes this a little bit better, but I still can't get rid of the errors.

[2017-07-12 09:45] InoMurko opened #220 "Problem: Timezone is not normalized from Config"
`Application.get_env(:quantum, :core)
[cron: [sku: [schedule: "@daily", task: {Core.Sku, :import_sku},
   args: [], timezone: "America/Mexico_City"]]]`

gets compiled down to:

`Quantum.jobs
[sku: %Quantum.Job{args: [], name: :sku,
  nodes: [:"core_1@elixir-node_1"], overlap: true, pid: #PID<0.3806.60>,
  schedule: ~e[0 0 * * * *], state: :active,
  task: {Core.Sku, :import_sku}, timezone: :utc}]`

[2017-07-12 09:49] maennchen commented on #220
@InoMurko Correctly, the `timezone` property of the `Quantum.Job` should be the timezone you provided in the config. The schedule is therefore correct.

I'll try to replicate what exactly causes the bug.

[2017-07-12 10:04] maennchen commented on #220
@InoMurko Can you please verify if the PR #221 fixes your issue?

Replace your quantum Deps with this to test.

[code]

[2017-07-12 10:22] InoMurko commented on #220
It looks like timezone is now correct. Can you explain to me what the extra `schedule: ~e[0 0 * * * *]` star means?

[2017-07-12 10:29] maennchen commented on #220
Ow, didn't see that, that is likely to be incorrect too. Let me check that.

The cron format should only be six places in size if it has second precision.

[2017-07-12 10:34] maennchen commented on #220
Ah, no... It is correct.

The cron format is six parts in size and if second precision is activated seven.

[code]

See https://github.com/jshmrtn/crontab/blob/master/lib/crontab/cron_expression.ex#L36-L44

[2017-07-12 10:36] InoMurko commented on #220
Excellent, thanks!

[2017-07-12 10:37] maennchen commented on #220
No problem, I'll create a patch release right away.

[2017-07-12 10:37] #220 closed

[2017-07-12 18:26] #214 closed

[2017-07-13 12:37] maennchen opened #227 "Sometimes Failing Test"
The tests on the CI fail sometimes.

# 1 (Fixed with #228)

[code]

# 2
[code]

[2017-07-13 19:50] maennchen commented on #227
@c-rack This is only partially resolved.

[2017-07-19 14:31] maennchen commented on #184
If there are no objections, I'd like to do a stable release.

@c-rack What do you think about it?

[2017-07-19 16:09] c-rack commented on #184
Yes, a stable release would be nice. Go ahead.

[2017-07-20 09:18] maennchen commented on #184
🍻

[2017-07-20 09:18] #184 closed

[2017-07-21 09:07] maennchen commented on #211
@Lazarus404

I tried it with this config:

[code]

[code]

The process count stays stable at 124 for the three hours I let it run.

[2017-07-21 09:13] maennchen commented on #211
(Same result with `1.9.2` and `2.0.0`)

[2017-07-22 10:59] maennchen commented on #227
This issue is potentially solved by #230

[2017-07-26 21:53] InoMurko opened #232 "Add a job in runtime"
My struct is:
`a = %Quantum.Job{args: [], name: :send_email,
 nodes: [:"core_1@elixir-node_1"], overlap: true, schedule: "@daily",
 state: :active,
 task: {Transaction.Archive.Email.Report, :send_full_report},
 timezone: "America/Mexico_City"}`

`Quantum.add_job(a)
:ok`

result:

`Quantum.jobs
[nil: %Quantum.Job{args: [], name: nil, nodes: [:"core_1@elixir-node_1"],
  overlap: true, pid: #PID<0.16

[2017-07-26 21:57] c-rack commented on #232
Thanks for reporting!

A pull request with a failing test and/or a bugfix would be very appreciated and will be merged quickly.

[2017-08-01 15:35] duff opened #233 "Initial error using extended schedule"
If I setup my schedule like this:

[code]

everything works great. If I try to use the extended schedule to run things with second granularity:

[code]

then I get an initial error when launching the app:

[code]

As the app is still running, the schedule does kick in every 10 seconds and seems to be working fine. I'm not quite sure yet why I'm getting that initial `FunctionClauseError`. I'm still

[2017-08-02 18:18] #233 closed

[2017-08-04 20:16] kaiatgithub commented on #232
@InoMurko Are you using an older version of quantum? I am asking because the current Quantum.Job structure does not support the keys "args" and "nodes".

[2017-08-04 23:13] InoMurko commented on #232
dev-1 branch that contains the timezone fix

[2017-08-06 11:10] maennchen commented on #232
@InoMurko can you please test with the PR?

I'd recommend updating to the v2 versions. I don't think that we'll support anything besides security fixes for a long time.

[2017-08-06 12:14] maennchen commented on #211
I can find no errors in the library. Closing until new evidence is found.

[2017-08-06 12:14] #211 closed

[2017-08-08 07:18] InoMurko commented on #232
Will do!

[2017-08-10 16:40] bpicolo opened #238 "How does Quantum behave on app restart?"
This bit is unclear from docs. Seems there's no notion of persistent storage. Does that mean app restarts can/should either lose or duplicate tasks? Should I expect to need hot code reloading as a release mechanism to keep consistent?

[2017-08-10 19:26] maennchen commented on #238
Currently there is no mechanism in place to handle this. I think that this would be a good thing to implement.

I'd be happy to merge a PR for that. (If someone wants to do this please wait for v2.1 though)

[2017-08-11 08:26] Ironjanowar opened #239 "Runtime Docs"
Hi! I think runtime configuration documentation is outdated in hexdocs.pm

Here is hexdocs:
https://hexdocs.pm/quantum/runtime.html#content

And here is the one that worked for me:
https://github.com/c-rack/quantum-elixir/blob/master/pages/runtime.md

Thank you so much for Quantum!! I'm using it a lot :D

[2017-08-11 08:40] maennchen commented on #239
Hi,

Yes, it is currently outdated. I don't like to create releases of the library only for documentation changes. It will be updated in the next release.

Thanks!

(I'll close this issue with the next release)

[2017-08-11 08:56] maennchen opened #240 "Problem: No persistent Quantum State"
## Description

Currently quantum does not persist any state. Therefore if an application is restarted, all dynamic jobs are lost. Also in the time that has passed since the restart happened no jobs has been executed and there is no way to let them redo the lost time.

## Minimal Requirements

I don''t think that Quantum should choose a storage backend and implement it since this heavily depends o

[2017-08-11 08:56] maennchen commented on #240
Replacement of #238

[2017-08-11 08:56] maennchen commented on #238
Closed in favor of #240

[2017-08-11 08:56] #238 closed

[2017-08-11 14:03] #232 closed

[2017-08-13 16:55] maennchen opened #241 "Problem: Executor not flexible enough"
It would be nice if a `run_strategy` could specify an `executor`.

This way different executors could be programmed, that would for example allow execution in a `PG2` group.

PS: @c-rack I Introduced the `idea` label for issues like this. The idea is that people can 👍 an issue if they need that and we'll implement it if there are enough votes.

[2017-08-20 11:02] maennchen opened #242 "Problem: Coveralls always showing PR's as failed."
Currently Coveralls always shows a PR's build as failed. This even happens if the coverage increases.

Could we configure Coveralls to only fail if the coverage decreases?

See:

https://github.com/lemurheavy/coveralls-public/issues/565#issuecomment-120924694

[2017-08-20 11:04] maennchen commented on #227
Solved with #230

[2017-08-20 11:04] #227 closed

[2017-08-20 11:05] maennchen commented on #173
Solved with #230

[2017-08-20 11:05] #173 closed

[2017-08-20 11:08] c-rack commented on #242
Once we had 100% code coverage, so I set the threshold to 100% and let it fail otherwise.

I have updated the setting to 86% and fail on decrease by more than 1%.

[2017-08-20 11:08] #242 closed

[2017-08-20 11:10] maennchen commented on #242
Great, thx

[2017-08-20 11:14] maennchen commented on #239
Will be released with #243 (`v2.1.0-beta.1`)

[2017-08-20 11:44] #239 closed

[2017-08-20 11:50] maennchen opened #244 "Release v2.1.0"
## Tasks for Release

* [X] Merge #230
* [x] Manual Testing (Help Wanted)
* [X] (Postponed) ~~#246 (Dialyzer Warnings)~~

## Release Date

If no big issues come up, the stable release is planned to take place on 2017/09/10.

[2017-08-20 11:55] maennchen opened #245 "Problem: gen_stage not configurable by user"
For big scale schedulers, it would be nice if the user could manipulate those `gen_stage` values:

* `max_demand` of the `Quantum.ExecutorSupervisor`
* Possibility to start more than one `Quantum.ExecutorSupervisor` (even on multiple Cluster Nodes)

[2017-08-20 14:50] maennchen opened #246 "Problem: Dialyzer Warnings"
Current Dialyzer Otuput:

[code]

[2017-08-21 13:00] shribe opened #247 "default_timezone does not work"
In 2.0.0, setting `default_timezone` as per the example in the docs does not work, jobs still fire on UTC. But setting `timezone` at the top level instead of inside any job does work.

I'm not sure whether you'd consider the error to be in the docs or the implementation. (Personally, I prefer it the way it is now and would change the docs. But that's not a strong preference.)

[2017-08-21 13:58] maennchen commented on #247
@shribe The doc is wrong. The error has been corrected and will be in the next release. (The doc is already correct with `v2.1.0-beta.1`.)

[2017-08-21 13:58] #247 closed

[2017-08-22 10:38] InoMurko opened #248 "v2.0.0 timezone issue"
`config :core, Core.Scheduler,
   jobs: [
    [ name: :cvs_export,
      schedule: "@daily",
      task: {Transaction.Archive.Csv, :report, []},
      timezone: "America/Mexico_City"
    ]
  ]
`

produces:

`RezolveCore.Scheduler.jobs()`
output:
`[cvs_export: %Quantum.Job{name: :cvs_export, overlap: true,
  pids: ["core_1@elixir-node_1": #PID<0.3528.0>],
  run_strategy: %Quantum.RunStrategy.Random

[2017-08-22 23:00] maennchen commented on #248
Hi @InoMurko

Thanks for your report. I could reproduce the issue easily. I've already created a fix (#250). It should be released soon.

[2017-08-23 08:33] #248 closed

[2017-08-23 23:18] torreyatcitty opened #253 "Problem: @reboot not working"
## Config

[code]

## Output

[code]

Changing `@reboot` to another special expression ie:`@minutely` works fine. Just `@reboot` doesn't seem to execute and throw this error.

## Version

 - `v2.0.*`
 - in `v2.1.*` this issue was fixed with the refactoring

[2017-08-29 14:36] maennchen commented on #253
Fixed with #254, release with `v2.0.3`

[2017-08-29 14:36] #253 closed

[2017-08-31 16:21] crododile opened #257 "Problem: 2.0.3 no function clause matching in Quantum.Executor.execute/2"
starting the app fails with the below error, switched to 2.0.2 and working fine
[code]

[code]

[code]

[code]

[2017-08-31 18:07] juanazam commented on #257
I'm experiencing the same issue, but even though I see this error, the task performs correctly with the proper timing.

[2017-08-31 21:30] maennchen commented on #257
I've identified and will create a PR shortly.

[2017-09-01 08:38] maennchen commented on #257
Release `v2.0.4` will be created shortly containing the fix.

[2017-09-01 08:38] #257 closed

[2017-09-04 06:03] craigp opened #261 "Config issue"
Even if I set the config up exactly as described in the README/docs I get a `** (FunctionClauseError) no function clause matching in Quantum.Executor.execute/2` error.

My actual scheduler has nothing in it but the `use Quantum.Scheduler, otp_app: :myapp` line and the jobs config calls a function on a module with no arguments.

I've copied and pasted config from the docs just to be sure. The weird

[2017-09-04 06:36] craigp commented on #261
I created a very simple sample app the reproduces the problem I'm seeing: https://github.com/craigp/quantum_test.

Scheduler seems to work but it produces this error on startup:

[code]

[2017-09-04 07:47] maennchen commented on #261
Thanks for the report.

This is a duplicate of #257. The release `v2.0.4` containing the fix will be released in ~ 5 minutes.

[2017-09-04 07:47] #261 closed

[2017-09-04 08:02] craigp commented on #261
Awesome, thanks

[2017-09-07 16:58] maennchen commented on #244
@c-rack Should we release without fixing #246 ? Until now I haven't found someone to help me fix the issue.

[2017-09-07 17:04] c-rack commented on #244
@maennchen sure, we can postpone that issue for a later release

[2017-09-10 13:10] maennchen commented on #244
Replaced by #262

[2017-09-10 13:10] #244 closed

[2017-09-15 10:24] benrom opened #263 "Application fails to start after upgrade to 2.1.0"
My app was working fine with 2.0.4, then I upgraded to 2.1.0 and now my app stops at startup:

[code]

Here's my scheduler:
[code]

My app start function:
[code]

What do I need to change to fix this crash?

[2017-09-15 10:48] maennchen commented on #263
@benrom Could you please try to do a `mix.clean` and compile again? I don't see any references to the old runner anymore.

[2017-09-15 12:42] benrom commented on #263
You were right, a good clean did fix it.
Thanks!

[2017-09-15 12:42] #263 closed

[2017-09-15 13:12] maennchen commented on #263
@benrom Great, I was already worried how such a big bug could slip through into a stable release :P

[2017-09-20 22:22] randysecrist opened #264 "jobs stop running after Node connect / disconnects"
I am experimenting with distributed erlang using a CRDT counter API.  I've been using quantum to schedule background jobs; currently I have two.

1) . Heartbeat, every minute on just one of the nodes (Random) in the cluster.  This job also tries to connect all configured nodes in the cluster (in case some of the drop off or new ones are added via config).

2) . State Save;  this should run on all

[2017-09-21 06:09] maennchen commented on #264
Hi @randysecrist

In theory most of the GenServers / GenStages / Supervisors should start with a :global name.
Therefore Erlang itself should check that there is always one process runing with those services.

Since that doesn‘t seem to work in your case, I‘ll try to reproduce the issue.

[2017-09-21 12:33] maennchen commented on #264
@randysecrist Is there any way to reproduce the issue easily with your repository? I tried to run your docker-compose file and got no output at all & the logs are not mapped to the host anywhere.

[2017-09-21 15:00] randysecrist commented on #264
you can see the log files by using docker exec

```docker exec -it counter1 /bin/bash```

I connect to counter1, counter2, and counter3 in three different terminals.

Then in a fourth, I will docker stop/start one of the counter nodes enough times where the State job stops running on one or some of the nodes.

![screen shot 2017-09-21 at 8 57 20 am](https://user-images.githubusercontent.com/141339

[2017-09-21 15:03] randysecrist commented on #264
I have a few API routes which show which nodes are connected as well.
[code]

[2017-09-21 15:05] randysecrist commented on #264
These are the messages I see in the log:

[code]

[2017-09-21 15:07] randysecrist commented on #264
I've also seen these; which happen if I down a node.  (Could be normal)

[code]

[code]

[2017-09-22 02:50] sailxjx opened #265 "Can I have a distributed lock with quantum-elixir"
I need to start phoenix on multiple servers, if I use quantum-elixir on every server, can I have only one job executing at the scheduled time?

[2017-09-25 00:14] egeersoz opened #266 "Running a job every X minutes for a specific amount of time?"
For example, when a user's credit card is declined, I want to send them an email every 24 hours for 7 days, but no more.

How do I specify this when setting up a runtime quantum job?

[2017-09-25 01:31] egeersoz commented on #240
Currently there are two popular job scheduling libraries for Elixir: Exq and Quantum-Elixir.

Exq is Redis-backed, so jobs don't get lost if application restarts. However, it cannot be configured to run jobs at regular intervals.

Quantum-Elixir can run jobs at regular intervals, but it has no persistent state for Quantums.

This is a predicament: robust, "real-life" job scheduling functionality i

[2017-09-25 02:33] egeersoz opened #267 "Documentation refers to the ~e sigil, which doesn't exist"
I have no idea where the ~e sigil comes from in these examples, because I keep getting `undefined function sigil_e/2` when I run them:

https://hexdocs.pm/quantum/runtime.html#content

I searched the Elixir docs and there is no such sigil.

[2017-09-25 02:35] egeersoz commented on #267
Never mind, it looks to be coming from Crontab.CronExpression.

[2017-09-25 02:35] #267 closed

[2017-09-25 09:52] maennchen commented on #266
This is not the intended use of quantum.

You could however implement this by scheduling two jobs: 1) sending the email and 2) deleting the first job.

[2017-09-25 09:53] maennchen commented on #265
Yes. This is what the `global` option is for.

https://hexdocs.pm/quantum/configuration.html#run-quantum-as-a-global-process

[2017-09-25 09:56] sailxjx commented on #265
@maennchen Thanks for your reply, I'll try it later

[2017-09-25 10:02] maennchen commented on #264
Hmm....

The messages that a node was killed is perfectly normal since you really killed the node. OTP will then restart the global processes that were killed.

What could also happen is that the execution of a job was requested by the [`Quantum.Executor`](https://github.com/c-rack/quantum-elixir/blob/710ca519069a6c588e0a1f8bf8a4ee8ba9d616e3/lib/quantum/executor.ex) and the node goes down before i

[2017-09-25 13:53] egeersoz commented on #266
That's how I ended up doing it, but it's a bit convoluted. Since use cases like this are very common, I think it should be added to Quantum. But it's obviously your call. Cheers.

[2017-09-25 13:53] #266 closed

[2017-09-25 14:00] maennchen opened #268 "Problem: Job Scheduling via Cron Notation complicated"
## Description

Quantum currently allows configuration via Cron Notation. This works very well for statically recurring events, but doesn't work very well for dynamic ones.

If you for example want to run a dynamic job once every day for 7 days until it stops, that's very complicated to do.

## Implementation

Generic way of configuring such jobs should be provided. Any Ideas how to do that?

## P

[2017-09-25 14:03] maennchen commented on #266
Feature Request is tracked in issue #268

[2017-09-26 02:24] sailxjx commented on #265
@maennchen I've tried the `global` option, however I found it not works on multiple processes.
I need to distribute the whole application on multiple machines and docker containers, can I keep only one job works at the scheduled time?

[2017-09-26 08:03] maennchen commented on #265
Yes, that's what `global` is for. Do you still get multiple executions of a job?

[2017-09-26 08:20] sailxjx commented on #265
@maennchen Yes, this is my config
[code]

and my job module
[code]

If I start two processes, each process will print a 'tick' for every minute.

[2017-09-26 09:00] maennchen commented on #265
What do both applications show for `Node.list`?

[2017-09-26 09:08] sailxjx commented on #265
The `Node.list` shows nothing.

[2017-09-26 09:51] maennchen commented on #265
You need to connect those nodes.

I haven't found a good article that explains it. Take a look at that (even if it is opinionated about the platform it's running on): https://substance.brpx.com/clustering-elixir-nodes-on-kubernetes-e85d0c26b0cf

[2017-09-26 09:53] maennchen commented on #265
Doc for `Node.connect`: https://hexdocs.pm/elixir/Node.html#connect/1

[2017-09-26 13:42] DFilipeS opened #269 "Problem: jobs added in runtime do not execute"
Following the [Runtime Configuration](https://hexdocs.pm/quantum/runtime.html#content) in the documentation I added a new  task in runtime that should trigger every minute but nothing happens. No output, no errors, nothing.

[code]

Starting a similar task in the config.exs file runs the task correctly. Any ideas?

PS: I just confirmed, this happens in the version 2.1.0 but in version **2.0.4 it w

[2017-09-26 14:08] randysecrist commented on #264
From a design perspective ... what is supposed to do the coordination of starting up the job again on the remaining nodes when there is a partition?

I don't think OTP just 'handles' it.  Something has to take those down messages and decide what to do with them right?

[2017-09-27 02:06] sailxjx commented on #265
@maennchen I've tried connect these nodes, it works as expected. Thanks for your help :)

[2017-09-27 02:06] #265 closed

[2017-09-27 11:32] maennchen commented on #269
@DFilipeS I just tried to replicate the issue.

Steps to reproduce:
* `mix.new quantum_test --sup`
* Added deps to `mix.exs`
* Created `scheduler.ex` with the contents from `README.md`
* Added scheduler to `application.ex`
* Ran the code you provided.

I get a console output every minute. Can you try to reduce your problem / apply it to a new & clean app?

[2017-09-27 11:35] maennchen commented on #264
OTP handles exactly that with the global name registration. I used this in many projects and it worked every time.

http://erlang.org/doc/man/global.html

I'm searching for any place where I forgot to link the process if the GenServer is already running in the cluster or similar problems.

[2017-09-27 11:40] maennchen commented on #264
Workflow of `{:global, name}`:

* Start Server with `{:global, AnyName}`
  - Returned `{:ok, pid}` -> Tell to supervisor
    * Process was linked on start
    * Supervisor will retry on quit based on messages it receives from the link
  - Returned `{:error, {:already_started, pid}}` ->
    * Process was started already on another node and is not linked
    * We run `Process.link(pid)` on already r

[2017-10-02 10:35] #246 closed

[2017-10-02 13:42] maennchen commented on #269
@DFilipeS Do you have any further information on how to reproduce the issue?

[2017-10-12 21:49] overture8 opened #272 "Node is not running error when using quantum with cluster"
I'm getting an error in my logs after deploying quantum with multiple nodes. The error is getting thrown consistently from node 1, complaining that nodes 2 and 3 aren't running (but they are). If I connect a remote iex to node 1 and execute `Node.list`, I can see the other two nodes. Here's the error.

[code]

My configuration is as follows:

[code]

I'm running quantum version 2.1.0. Any ideas wh

[2017-10-12 22:27] maennchen commented on #272
@overture8 Can you check if there is a `TaskSupervisor` running on every node with the name `[YourSchedulerName].Task.Supervisor`?

(Hierarchy: `[YourSchedulerName]` => `Quantum.Supervisor` => `[YourSchedulerName].Task.Supervisor`)

[2017-10-16 16:24] overture8 commented on #272
Sorry for the late reply. So, I did another deployment and I don't seem to be getting the error anymore. After deploying, I ran this on each host: `Process.whereis(MyApp.Scheduler.Task.Supervisor)` and got back a related PID. Not sure why it wasn't working originally.

[2017-10-16 16:51] overture8 commented on #272
That said, and I'm not sure if this is related, sometimes when I deploy - jobs randomly don't run. Is there anyway to inspect what upcoming scheduled jobs there are? What steps would you take to diagnose an job that is falling to kick in at its scheduled time?

[2017-10-16 18:09] maennchen commented on #272
@overture8 Since the whole new system is based on GenStage, you could log all events, that are sent between the stages.

There is currently no logging or similar in place.

It could however be a great feature to log those events for debugging purposes in the future though.

[2017-10-17 07:39] overture8 commented on #272
@maennchen Sounds like a good place to start - thanks for your help!

[2017-10-18 08:08] overture8 commented on #272
Getting the same "Node is not running" errors in my logs again. It appeared again after doing another deployment - seems to happen randomly. I checked to see if the `MyApp.Scheduler.Task.Supervisor` was running and this time it wasn't - `Process.whereis(MyApp.Scheduler.Task.Supervisor)` returned `nil` - what would cause that?

Here is what my config looks like (if it is of any use):

[code]

[2017-10-18 09:01] maennchen commented on #272
Hmmm.... Let me go over the supervision tree once again, maybe I'll spot an error.

[2017-10-18 09:07] maennchen commented on #272
@overture8 Do you see how far the Supervision Tree exists?

It should look something like this:

![screen shot 2017-10-18 at 09 06 52](https://user-images.githubusercontent.com/333918/31710169-c1252d0c-b3e3-11e7-95fe-a2500359b6de.png)

[2017-10-18 09:10] maennchen commented on #272
Or with `global` on:

![screen shot 2017-10-18 at 09 08 39](https://user-images.githubusercontent.com/333918/31710324-2998213c-b3e4-11e7-9d5c-e086898aa10d.png)

[2017-10-18 10:40] overture8 commented on #272
Something I failed to notice is that `MyApp.Scheduler.Task.Supervisor` existing on 2 of the 3 servers. So, it seems it has just failed to start on one of the nodes. The supervision tree only goes as far as `MyApp.Scheduler` for the node where it is failing.

[2017-10-24 11:32] QwertyJack opened #274 "Distillery fail to release with quantum"
As described [here](https://github.com/bitwalker/distillery/issues/359), ***an anonymous function*** causes the error. Not sure where is wrong.

[2017-10-24 16:26] maennchen commented on #274
I think that there is no way to put anonymous funtion in the configuration of a release. You‘ll have to put the function into a module.

[2017-10-25 03:43] QwertyJack commented on #274
Get it. Thanks.

[2017-10-25 03:43] #274 closed

[2017-10-25 03:47] QwertyJack commented on #274
I found [this](https://github.com/c-rack/quantum-elixir/blob/master/pages/configuration.md#release-managers).
PS: exrm now moves to [Distillery](https://github.com/bitwalker/distillery).

[2017-11-01 12:09] overture8 commented on #272
Had this happen again on my last deployment. Two of the three nodes failed to start the `MyApp.Scheduler.Task.Supervisor` and the cron failed to run because of it. I had to do a `mix edeliver restart production` a few times before all three successfully returned a pid when running `Process.whereis(MyApp.Scheduler.Task.Supervisor)`.

[2017-11-06 17:03] kaiatgithub commented on #269
I have a problem that may have the same cause. It seems that a job in the config can delay the execution of a job that is configured at runtime. Consider this configuration in version 2.1.2:
[code]
Then this function to add a job at runtime:
[code]

When I start the application with "iex -S mix" approx 20 secs before a full minute and call the above function approx 5 secs before a full minute, I g

[2017-11-07 05:14] maennchen commented on #272
@overture8 I tried to debug this with my machine (clustered, 3 nodes) but the process tree is always correct. I can't find any way to reproduce and therefore fix the issue.

[2017-11-07 05:41] maennchen commented on #269
@kaiatgithub I found the error. It will be fixed with #281

[2017-11-07 06:09] c-rack commented on #269
Fixed by #281.

@DFilipeS @kaiatgithub could you please try again with current master?

[2017-11-07 06:09] #269 closed

[2017-11-07 15:16] kaiatgithub commented on #269
Thank you @maennchen for the quick reply an fix. The runtime-job now executes immediately.

However, there still is a dependency between the config-job and the runtime-job. The runtime-job can get executed many times when it is added. For example, when I start the app at second 10 and then add the job at second 15, it will get executed 5 times at second 15.

[2017-11-07 15:28] maennchen commented on #269
@kaiatgithub I can not reproduce that. My console output with your (slightly modified date output) example looks like this:

[code]

[2017-11-08 14:56] kaiatgithub commented on #269
I have been logging some state-information inside the execution_broadcaster and found the following:

1) When I add the runtime_ticker, the function "Scheduler.get_next_run_date" in "add_job_to_state" is provided with the start-time of the app (see init-function). So the next_run_date is the next second after the start-time of the app.

2) In "handle_info(:execute ...", the time variable is shifte

[2017-11-08 15:00] maennchen commented on #269
@kaiatgithub I can't just set the current time for the next run date. WIth the current solution if we have to much to execute in a second, the jobs will be queued and executed anyway. If I use the current time, we could skip some.

[2017-11-08 15:13] kaiatgithub commented on #269
@maennchen  Is it possible to do the check in the function add_job_to_state? Like this:
[code]

[2017-11-08 16:02] maennchen commented on #269
@kaiatgithub I don't think so. Otherwise there could be skipped seconds if the execution takes too long.

[2017-11-20 14:46] seanwash commented on #60
@udfalkso I believe that your job would be run multiple times, yes. I'm currently using quantum on heroku and I notice that when I run `heroku run iex -S mix` that all of my scheduled tasks run there as well as on my main dyno at the same time.

[2017-11-20 21:46] udfalkso commented on #60
No, I never attempted this.  Was just curious.  If I had this need today,  I'd probably go with gigalixir.com or some setup with proper elixir/erlang cluster support instead of Heroku.

[2017-11-29 23:42] alex88 opened #284 "Cron running completely off time"
I have the this configuration:

[code]

however looking at the logs generated by the `restart_monitoring` function, seems an execution has been started at 23:21:07 which is not even on 0 minutes, so shouldn't be a timezone issue, also the system clock (checked with `date`) seems correct, but even if it wasn't, syslog should report the wrong time, how should I debug this?

Update: after restarting

[2017-11-29 23:54] alex88 commented on #284
Sorry sorry, stupid stupid stupid question :D

[2017-11-30 14:20] h4cc commented on #264
I have the same symptoms here. I am using a the Random Strategy without overlap. global is set to true.

This is the error i get when a node is down:

[code]

Why is the `Platform.Quantum.Task.Supervisor` not global when i have `global: true` in my config?

[2017-11-30 14:33] maennchen commented on #264
@h4cc The `TaskSupervisor` is not global on purpose. It should run on every single node.
The idea is that we can start jobs specifically on a node. I think we need it to not be global for that.

Correct me if I'm wrong with that assumption.

[2017-12-07 12:21] maennchen commented on #284
@alex88 Do you still run into the issue?

[2017-12-07 16:10] alex88 commented on #284
@maennchen not really, I've restarted and updated the system clock using ntpd and it seems to work, however I've left it open just in case someone could somehow give some advice in how to debug a situation like that in case it happens again

[2017-12-20 13:58] gar3thjon3s commented on #264
I am seeing the same issue, and can reproduce it easily enough albeit not with the exact set of steps that seem to happen in production. If you create a project with a `global: true` config and start two named instances, say `a` and `b` and start the application on each *before* connecting the nodes, then when you subsequently connect them the naming conflict seen above will occur:

[code]

When t

[2017-12-20 14:29] maennchen commented on #264
Thank you very much @gar3thjon3s for the reproducible error! I'll try to figure out what happens and fix it.

[2017-12-20 17:21] overture8 commented on #272
Possibly related. I noticed this in my server logs after deploying a minute ago:
[code]

[2017-12-21 07:50] maennchen commented on #284
@alex88 It doesn't seem to happen for other people. I'll close the issue for now and reopen if someone else has a similar problem.

[2017-12-21 07:50] #284 closed

[2017-12-21 07:57] maennchen commented on #272
@overture8 The name conflict always happens if you start two (or more) nodes and put them in the same cluster later. As soon as they are part of the same cluster, the worker names are duplicated and all except one worker of the same name will be instantly killed.

If you see this error, you either had a netsplit or you started the node before clustering it. This is something that I saw to happen u

[2017-12-21 07:58] maennchen commented on #272
This seems to be a duplicate of #264.

[2017-12-21 07:58] #272 closed

[2017-12-21 08:55] maennchen commented on #264
@gar3thjon3s I think I found the bug, a fix will shortly follow :)

[2017-12-21 09:04] maennchen commented on #264
@gar3thjon3s, @h4cc, @randysecrist Can you check if #285 is fixing the issues you have?

[2017-12-21 10:09] overture8 commented on #272
Thanks a lot for taking the time to look into this. I'll keep an eye on #264. 👍

[2017-12-21 18:43] thehammer commented on #264
I can respond on behalf of @gar3thjon3s that we are no longer seeing the bug while using #285. Thank you, and stay awesome!

[2017-12-22 05:52] maennchen commented on #264
@thehammer Perfect :)

[2017-12-22 05:52] #264 closed

[2017-12-22 06:55] randysecrist commented on #264
@maennchen confirm; this appears to be fixed

[2018-01-03 09:51] maennchen opened #287 "Support of 1 Branch"
Should we continue to support the `v1` versions?

If not, should we flag them as retired on hex.pm?

[2018-01-03 10:29] c-rack commented on #287
Hex.pm docs say _"Mark a package as retired when you no longer recommend it’s usage. A retired is still resolvable and usable but it will be flagged as retired in the repository and a message will be displayed to users when they use the package."_

As we would always recommend to use v2, it makes sense to mark v1 as retired, yes.

[2018-01-03 10:37] maennchen commented on #287
@c-rack Ok, I'm on it

[2018-01-03 10:54] #287 closed

[2018-01-03 23:16] barberj commented on #75
@taylorbrooks can you elaborate? is the file that you added `elixir_buildpack.config` empty?

[2018-01-04 00:00] barberj commented on #75
@taylorbrooks nm i figured it out. Thanks

[2018-01-08 18:50] benwilson512 opened #288 "Aggressive retirement"
Hey,

Can I get some clarification on why every version on hex other than the most recent is retired? In general retirement indicates that something is wrong with the package, such that using it is dangerous or likely to cause malfunction.

[2018-01-08 19:58] maennchen commented on #288
Hey @benwilson512

All versions of the v2.1 branch had a problem with the executor that could break and leave the system in a non recoverable state.

The v1 branch was retired since it is bot supported anymore. (See #287 )

[2018-01-08 19:59] benwilson512 commented on #288
Fair enough, thanks!

[2018-01-08 19:59] #288 closed

[2018-01-10 23:42] Yamilquery commented on #240
Somebody have any solution yet?

[2018-01-11 17:28] Yamilquery commented on #240
I think that you could use [ETS](http://erlang.org/doc/man/ets.html) and [PersistentEts](https://github.com/michalmuskala/persistent_ets) as a storage state system.

[2018-01-11 17:32] maennchen commented on #240
@Yamilquery I'm aware that there are many options for the storage backend. This is not really a complex feature but requires a decent amount of work. If you'd like to tackle this, you're very welcome to do provide a PR.

As mentioned in the requirements section please do not implement to one specific storage backend but rather write a protocol so that other implementations can be built.

[2018-01-23 14:02] maennchen opened #289 "Problem: Debugging too hard"
There should be a configuration for a verbosity level / debug to enable logging of the messages passed between the GenStages.

## TODO's

* Add configuration parameter
* Add Logging statements for every sent event
* Add Logging statement for executed tasks

[2018-01-23 14:04] maennchen commented on #289
It could also be a possibility to log with the `debug` level instead of having a config option.

[2018-01-24 09:54] maennchen opened #291 "Problem: Elixir 1.6 & Code Styling"
* Add Elixir `1.6` to Travis CI
* Add `.formatter-exs`
* Reformat all of the code using `mix format --check-equivalence`
* Add Travis Job to check Format ([see here](https://github.com/jshmrtn/crontab/blob/master/.travis.yml))
* Consider moving `inch.report` and `coveralls.travis` into their own jobs.

[2018-01-25 07:51] #289 closed

[2018-01-27 22:09] c-rack commented on #291
C4 process says _"A patch SHOULD be a minimal and accurate answer to exactly one identified and agreed problem"_. Wouldn't it be better to split this issue into 5 smaller issues?

[2018-01-29 07:13] maennchen commented on #291
I can do that. But first I have to figure out why the formatter is exclaiming on Travis Ci and not on my machine.

[2018-01-30 10:54] overture8 opened #293 "Problem: Jobs initiated twice"
I have a cluster of 3 nodes and I'm using a `Quantum.RunStrategy.Random` strategy. This didn't happen for me before upgrading to 2.2.1.

Here is my config:

[code]

The job that this seemed to happen on was "job1". It was due to process at 7am on Monday. However, it seemed to process all jobs twice.

From looking at my logs, here are the times that the nodes were processing jobs:

* **Node1**: 7:0

[2018-01-30 11:06] maennchen commented on #293
@overture8 Are you sure that all of the nodes are clustered correctly? Are the times in sync between the nodes?

[2018-01-30 12:32] overture8 commented on #293
@maennchen hmm, actually - it does seem that the time on Node3 is ten minutes behind the other two nodes (sorry I should have checked that first).

Regarding whether the nodes are clustered correctly - they all seem to be aware of each other if I do `Node.list` at the console. However, I've done another deployment since the issue happened - so maybe it was just an issue with the cluster on that de

[2018-01-30 12:42] maennchen commented on #293
@overture8

## TL;DR
All nodes start the quantum scheduler on startup. If the cluster already contains a scheduler, this one will be linked instead of a new scheduler. If two schedulers are running this will also mean that the jobs are executed twice.

## Details

Depending on the `global` config flag, the name for the task stages supervisor is chosen. ([See here](https://github.com/c-rack/quantum

[2018-01-30 12:42] #293 closed

[2018-01-30 12:43] maennchen commented on #293
@overture8 This should explain the issue. If you however still experience the issue after setting the right times and clustering them correctly, please reopen the issue.

[2018-01-30 12:51] overture8 commented on #293
Many thanks for your help - much appreciated!

[2018-02-08 08:04] #291 closed

[2018-02-11 15:54] tanweerdev opened #299 "failed to start child: Quantum.TaskStagesSupervisor and Quantum.ExecutorSupervisor"
**Config** contains

[code]

[code]

and my **Scheduler contains**

[code]

After adding these **quantum configs** I got the following error

[code]

[2018-02-12 08:02] c-rack commented on #299
@tanweerdev the job schedule definition is invalid and should be `"* * * * *"`. If that does not solve the problem, could you please provide a minimal test project (for example a public repo with a test project) that produces the error?

[2018-02-12 08:51] tanweerdev commented on #299
@c-rack here is the link to `repo` https://github.com/tanweerdev/quantum_demo. Actually the problem is incompatibility with `gen_stage` old version.

[2018-02-12 09:01] maennchen commented on #299
@tanweerdev You're didn't install `timex` (See `README`). Does that solve it?

[2018-02-12 09:14] maennchen commented on #299
@tanweerdev Never mind, that does not solve the problem.

@c-rack This was probably introduced by #294. We can now either revert the PR or require `gen_stage >= 0.13`.

[2018-02-12 09:31] tanweerdev commented on #299
@maennchen `Pigeon` requires `old gen_server` and thats why I am facing this compatibility issue.

[2018-02-12 09:37] maennchen commented on #299
@tanweerdev The library was compliant with `gen_stage:v0.12.2` (I even made some contributions for this version.)

The PR #294 changed how we call the `init` function to get rid of a warning. But the minimal required version was never raised to `~> 0.13` which is required by now.

We can now either revert that change or raise the minimal version. I don't really mind which way we go.

[2018-02-12 09:40] tanweerdev commented on #299
@maennchen let me create an issue in `pigoen` library. Btw, `Quantum` should also support `0.12.2` as this is just a minor version change. So it would be better just to generate a warning

[2018-02-12 09:50] maennchen commented on #299
@tanweerdev I opened a PR #300

[2018-02-12 09:51] tanweerdev commented on #299
@maennchen thanks

[2018-02-13 16:11] maennchen commented on #299
Will be released with #301

[2018-02-13 16:11] #299 closed

[2018-02-15 23:47] weixiyen opened #302 "Compile Error v2.2.3 in execution_broadcaster.ex - no super defined"
Hi there, using Elixir 1.6.1

Was upgrading from v2.0 to v2.2 and got this:

[code]

Erlang/OTP 20 [erts-9.2.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.6.1 (compiled with OTP 20)

[2018-02-16 00:16] #302 closed

[2018-02-16 09:21] maennchen commented on #302
@weixiyen Was this a problem caused by `quantum` itself? I have never seen this error even though I use the same Elixir & Erlang version.

[2018-02-21 19:08] kpanic opened #303 "quantum 2.2.3 using gen_stage 0.13.1 is expected?"
Hi folks, today I tried to bump up our quantum dependency, however we got:

[code]

[code]
Is gen_stage 0.13.1 expected?
Because it seems that https://github.com/c-rack/quantum-elixir/compare/v2.2.2...v2.2.3#diff-07ce5722d5fdbc0633d2d509e6289798R23 will fail with gen_stage 0.13.1

Thanks for the nice library btw!

[2018-02-21 21:31] maennchen commented on #303
Hi @kpanic
Yes, this is expected. The library is compatible with the 0.12 & 0.13 branch.
Did you encounter any errors?

[2018-02-21 21:36] kpanic commented on #303
I will double check tomorrow in another repo, however in that code base the culprit was that there were no `[]` in https://github.com/c-rack/quantum-elixir/blob/master/lib/quantum/executor_supervisor.ex#L23

[2018-02-21 21:39] maennchen commented on #303
To the best of my knowledge, the notation without the brackets should emit a warning. It should run fine though. If that is not the case, I‘ll have a closer look.

[2018-02-21 21:48] kpanic commented on #303
[code]

Yes you are right. It's a warning. Sorry, I did not read the notice, it seemed an error :) You can close the question I guess. Thanks!

[2018-02-22 06:01] #303 closed

[2018-02-22 08:56] benrom opened #304 "Relax timex dependency"
The requirement for timex is:

Unfortunately the latest timex release for the 3.1 branch (3.1.25) was "retired" and it fails to compile. Could it be changed? Thanks.

[2018-02-22 09:04] benrom commented on #304
Actually having removed my hex.lock I see more errors when I update deps, not sure if it's caused by quantum only or by the new hex version (0.17.3)

[2018-02-22 09:11] benrom commented on #304
The only way I could fix the dependency issue (tried `override: true`) was to set in the reste of my app using the same dependencies:
[code]

It looks like something in quantum configuration make its dependencies more important than others..

[2018-02-22 12:39] maennchen commented on #304
@benrom Sure, I'll relax the dependency on timex. Why did you have to override gen_stage though? `~> 0.12` should work for both `0.12` and `0.13`.

[2018-02-22 12:43] maennchen commented on #304
@benrom Opened a PR to relax the dependency. I'll do a release as soon as it is approved.

[2018-02-22 12:45] benrom commented on #304
It should, that's why there's something I don't understand there. I have an umbrella project with the other definitions set above and quantum ~> 2.2.
Elixir version is 1.6.1 and I removed all of _build/ and deps/, it failed on mix deps.get with the errors listed above.

[2018-02-22 12:50] maennchen commented on #304
Ah no, ignore my last comment. This is also because of `timex`... The PR should fix the problem.

[2018-02-22 20:05] tanweerdev opened #306 "Quantum mysteriously stoped working few hours back"
`{:quantum, "~> 2.2"},`
mix.lock contains

[code]

**config has**
[code]

Quantum was working few hours back and suddenly stopeed and couldn't figure out the reason, no log, warning etc

[2018-02-23 04:26] leifg opened #307 "GenStage throws an error on start"
Anyone else experiencing this weird warning when starting Quantum:

[code]

It seems that at some point a single item is passed to GenStage which throws an error. I briefly looked at the code but could not pin down the exact location where GenStage is initialized.

[2018-02-23 08:05] maennchen commented on #307
This is because of a change in gen_stage in v0.13. We can fix the warning, but not while staying compatible with v0.12.

[2018-02-23 09:38] maennchen commented on #306
Hi @tanweerdev I'm sorry, but that's not enough information for me to find a problem / solution.

Please have a look at the Troubleshooting section in the README: https://github.com/c-rack/quantum-elixir#troubleshooting

If you can provide me with some more detail, I'm sure that we'll find a solution.

[2018-02-23 09:39] maennchen commented on #307
At the point where we release`quantum v2.3.0`, I'll fix the warning and restrict to `gen_stage ~> 0.13`. Until then my hands are tied.

[2018-02-23 10:46] tanweerdev commented on #306
@maennchen Here is the issue demo link https://drive.google.com/file/d/1SdETCLZnwd6rgUeK1CFAr2WpyfC4FmAB/view?usp=sharing

[2018-02-23 12:30] maennchen commented on #306
@tanweerdev This is only a warning and should not affect the program execution. See #307 for more details.

[2018-02-23 12:48] tanweerdev commented on #306
I know, this is just a warning but I was getting job information logged right in console and jobs were also running and printing msgs. But now, no msg, jobs not even running(Please note, I have one job in this video which should print `beat` every minute but I am not getting anything at all)

[2018-02-23 12:51] maennchen commented on #306
@tanweerdev What do you have inside your `config/dev.exs`? The `debug` level seems not to be active.

[2018-02-23 12:55] tanweerdev commented on #306
@maennchen thank you so much. I tried everything but didn't see my dev configs

[2018-02-23 12:55] #306 closed

[2018-02-23 12:57] maennchen commented on #304
@benrom This should be fixed with `v2.2.4`.

[2018-02-23 12:57] #304 closed

[2018-02-23 13:18] maennchen commented on #307
Since there were more reports, we're working on a way to omit the warning. #309

[2018-02-23 13:31] benrom commented on #304
Great, thanks!

[2018-02-26 13:07] maennchen commented on #307
Released in `v2.2.5`

[2018-02-27 04:20] xinz opened #311 "Problem: Name conflict terminating TaskStagesSupervisor in cluster"
Hi,

I'm using `libcluster` to maintain the cluster nodes, here is the error log when start more than two nodes.

[code]

Reproduce steps:

1. Here is a reproduce repo https://github.com/xinz/quantum_demo
2. After the deps installed, start node ac1 as `$ iex --name ac1@127.0.0.1 -S mix`, and then start another node ac2 as `$ iex --name ac2@127.0.0.1 -S mix`, we will see the above error message.

I

[2018-02-27 06:10] maennchen commented on #311
This is the relevant part for you from the referenced issue:

[2018-02-27 10:56] xinz commented on #311
Appreciate for your reply, I found this thread https://github.com/bitwalker/libcluster/issues/40 as well, do you have any suggestions we can resolve this issue when using `libcluster`?

[2018-02-27 11:25] maennchen commented on #311
@xinz Which strategy of `libcluster` are you using?

[2018-02-27 11:26] maennchen commented on #311
I can't say if you can ignore this. That really depends on your use case.

If you only have jobs in your configuration (which you don't mind running twice) and no dynamic jobs, you can probably ignore the warnings.

[2018-02-27 11:38] xinz commented on #311
@maennchen , I'm using `Cluster.Strategy.Epmd` as the strategy of `libcluster`.

Indeed, I hope the job can be daily executed as expected, I had occurred the job execution missing case when randomly in some one node.

[2018-02-27 11:40] maennchen commented on #311
@xinz Do you have the newest version of quantum?

[2018-02-27 11:40] xinz commented on #311
Yes

[2018-02-27 11:46] maennchen commented on #311
With the newest version no jobs from your configuration should go missing. You might not see them on Node A since it runs on Node B. But it should always run. (Only talking of configured jobs and not dynamic ones though.)

I can not really help you with this problem except telling you that you need to ensure, that the clustering is happening before quantum is starting. If quantum is already runnin

[2018-02-27 11:50] maennchen commented on #311
PS: If you're using the strategy `Epmd` you could also just use a `sys.config`, which would eliminate all of those problems.

https://dockyard.com/blog/2016/01/28/running-elixir-and-phoenix-projects-on-a-cluster-of-nodes

[2018-02-27 12:06] xinz commented on #311
Sorry that I didn't notice my staging environment was not the newest version of `quantum`,  I'm using the configured jobs, after upgrade `quantum` to the newest version, I will watch the job missing case, if the job will execute in any random node of the cluster, that's would be great for me.

Thanks a lot for this recommend, but I'm currently depend the `Swarm` (with `libcluster`) to maintain mul

[2018-02-27 12:16] maennchen commented on #311
If I remember correctly, there's no need to use both `libcluster` and `swarm` anymore. If you use a strategy like kubernetes `libcluster` makes total sense, but if you use `Epmd` I would remove `libluster`.

[2018-02-27 14:04] madasebrof opened #312 "Production job failed to run"
This is a slightly odd problem.

I consoled into our production box last night and connected to our production system using IEX. (e.g. using `IEX --remsh`) I must have failed to log out.

This AM, I got the following message:

[code]

The job failed to run. When I check the scheduler, it looks fine:

[code]

Just trying to understand this behavior, or if as simple as "make sure there are no hangin

[2018-02-27 15:24] xinz commented on #311
👍 @maennchen thanks a lot, I will try to do that.

[2018-02-27 16:10] maennchen commented on #312
@madasebrof The strategy `%Quantum.RunStrategy.Random{nodes: :cluster}` will pick any connected node. If this node is hanging, you'll get this error.

[2018-02-27 16:13] madasebrof commented on #312
Great, so change to `Quantum.RunStrategy.Local`???

[2018-02-27 16:14] maennchen commented on #312
@madasebrof If you want all jobs to be executed on the node that started the scheduler, yes.

[2018-02-27 16:14] madasebrof commented on #312
Awesome, thanks!!!!

[2018-02-28 10:38] pyatkov commented on #240
Why do you guys insist on this generic mul;ti-backend implementation as if your really reaaly know that it really is a critical for some use cases, while the whole persistence capability (which obviously is critical) is missing. Why not just start off with a feasible DETS/Mnesia implementation and go ahead with it?
I would love to get my hands on implementing a PR, but for a feasible DETS/Mnesia i

[2018-02-28 11:16] maennchen commented on #240
@pyatkov

My plan was to implement a behaviour for the adapter and one implementation. (not sure yet what I would pick first) The reason this is not long done is that I currently lack the time to do all this.

If you'd like to volunteer, I could define the behaviour / config etc. in a PR and you could provide the first implementation of the storage. Does that sound like an option to you?

I don't

[2018-02-28 14:55] benrom commented on #307
I can still see the warning running 2.2.5.

[2018-02-28 15:32] maennchen commented on #240
@pyatkov
The basis is done on the branch `storage`. Do you want to implement a storage provider now?

https://github.com/c-rack/quantum-elixir/blob/storage/lib/quantum/storage/adapter.ex

Please tell me if there is something wrong with the interface or if you have ideas for improvements.

[2018-02-28 15:33] maennchen commented on #240
@c-rack Would you prefer if storage providers live in their own package or if we manage them here?

[2018-02-28 15:35] maennchen commented on #311
@xinz I'm going to close this issue for now. If you have any questions, please reopen it.

[2018-02-28 15:35] #311 closed

[2018-02-28 15:37] maennchen commented on #307
@benrom Can you please execute this in `iex`:

`Quantum.Util.gen_stage_v12?()`

Do you get `true` or `false`?

[2018-02-28 15:41] maennchen commented on #307
Can you please `mix deps.compile quantum --force`? If you get `false`, then this should not happen.

[2018-02-28 15:47] benrom commented on #307
When running `mix test` I still see the warning after running that command line (tested as well with `MIX_ENV=test`)

[2018-02-28 15:49] maennchen commented on #307
@benrom `MIX_ENV=test mix deps.compile quantum --force` does this solve it?

[2018-02-28 15:50] benrom commented on #307
that's what I tested.

[code]

[2018-02-28 16:02] maennchen commented on #307
That makes no sense at all :( I still believe that this has something to do with the already compiled code. Could you delete your `_build` directory on rebuild from scratch?

[2018-02-28 16:08] benrom commented on #307
What I've just tested:
[code]
and it's all ok now!

Weird. Thanks anyway!

[2018-02-28 16:12] maennchen commented on #307
@benrom I did some weird compile time stuff to get rid of this warning. Seems to be a bug with elixir I think. If more people have this problem, I'll file an issue with elixir.

[2018-02-28 16:12] #307 closed

[2018-03-01 13:37] pyatkov commented on #240
I agree. Just wanted to stresss that sometimes requirements should be less demanding, considering first step is always hard to take.
In fact Im already working on this PR. I was thinking through the options and by now I sticked to the behaviour, so I'm working on a generic imlementation.
I will be open to various comments on something like a code review phase, so details could be adjusted accordin

[2018-03-01 13:53] maennchen commented on #240
@pyatkov

Do you work based on https://github.com/c-rack/quantum-elixir/tree/storage ?

Great, I'm eager to see your PR.

This is one of the core features of the current `ExecutionBroadcaster`. It keeps track of which jobs have been executed and more importantly it knows at which time it was run. (If your server crashes and you re-init it with the old `time` value, it will pick up back then.)

The

[2018-03-01 13:55] pyatkov commented on #240
@maennchen
I just looked through the definition of the `Quantum.Storage.Adapter` module and I don't get why every function takes in a `scheduler_module`. This means that this behaviour implementation's functions would take the `scheduler_module` as a parameter and thus should somehow depend on it, but how?
I just don't see it right now.
Also I was considering the functions to accept `%Job{}` struc

[2018-03-01 13:59] pyatkov commented on #240
@maennchen
Considering determining the way the `behaviour` would be dispatched on concrete module, I see it that the module name would be retrieved from the `opts` parameters on the `supervisor` level and passed into `JobBroadcaster` and `ExecutionBroadcaster` accordingly, so that they could dispatch right on the module (like `storage_implementation.save(job)`), so there would be no need to pass t

[2018-03-01 14:11] maennchen commented on #240
Since there could be multiple instances of the `Quantum.Scheduler`, i though it makes sense to give the module name to the storage. This way the storage can be started multiple times and differentiate the schedulers.

The internal structure of quantum heavily depends on messaging. Only relevant information for a given action is part of the message. Therefore many of those events are not ware of th

[2018-03-01 14:13] pyatkov commented on #240
@maennchen
Also, will it be sufficient to store execution date per scheduler (so to speak)?
Could it be such that some job(s) did not get execued (while other jobs were), so that you might need to redo certain jobs which might need finer granularity to store `last execution date`.

Also, I see 3 types of jobs regarding redo option:

1. `transient` jobs that do not need redo-ing even if their execu

[2018-03-01 14:22] maennchen commented on #240
Yes, because the execution broadcaster moves through time only if its job is done at the instant it was working on.

Only if you kill (not stop) the execution supervisor. (If you for example pull the plug.)

Could we tackle that problem after the storage itself is done? This needs some work on other parts of the library as well and I would like to stabilise the storage interface first. (Don't take

[2018-03-01 14:25] maennchen opened #314 "Problem: Job redo Option"
This is a follow up for #240

Jobs should have the option to configure how to handle a downtime of the scheduler.

1. `transient` jobs that do not need redo-ing even if their execution was skipped
2. `permanent` jobs that would like to get executed once after the period of scheduler being down (no matter how many cycles they have missed). Like backup jobs.
3. `permanent_consecutive` - (a better na

[2018-03-01 14:26] maennchen commented on #240
@pyatkov I created #314 for the redo option.

[2018-03-01 16:22] pyatkov commented on #240
Looked at PR #313 - solid work (especialy on the test side and logging stuff :-) )
I've read carefully your comments that I somehow didn;t see while I was continuously writing my own ones.
I will probably reconsider my finding based on the new branch and #313 PR.
I believe scheduler module name should be a kind of a partition for job's data storage.
Also I will look deeper into Job execution track

[2018-03-01 16:27] maennchen commented on #240
Glad to hear that. I hope it is a good base to solve the problems. (I do expect that we'll need to change things, but it should be a good starting point.)

It was my idea that you could either start multiple GenServers for the storage and get the right one based on the scheduler_name or partitions on the storage. (If you have a better idea how to handle multiple schedulers we can change that.)

Si

[2018-03-01 16:35] pyatkov commented on #268
I strongly agree this is important functionality that I'm missing. I have some ideas on how this could be implemented. For very simplistic tasks (like no exeution guarantees) I wrote a home-grown library (that is nowhere near community standards, but allows me to do my stuff) that kind of tracks execution period and transitions to inactive state when the period expires. Probably, will look into it

[2018-03-02 17:29] pmarreck commented on #303
And what if one is a bit OCD and wants to eliminate warnings as well as errors? My build is littered with them and I got here via Google trying to clean this particular one up. It literally appears every time I start the local server :/ (awesome library regardless!)

[2018-03-02 20:30] maennchen commented on #303
@pmarreck It has been fixed. If you still get the warning, please delete your `_build` directory and build again from scratch.

[2018-03-05 12:40] pyatkov commented on #240
@maennchen
I seem to have stabilized a draft implementation using [Persistent ETS](https://github.com/michalmuskala/persistent_ets). I haven't written any tests for this implementation specifically (so far), but I guess we could indirectly test it by means of specifying the implementation module as an option for `:storage` option in the configuration.
I think it makes sense to start the codereview

[2018-03-05 12:53] pyatkov commented on #240
@maennchen
I've created PR #318 with my draft implementation of `Quantum.Storage.Adapter` behaviour via [Persistent ETS](https://github.com/michalmuskala/persistent_ets). I would appreciate your comments on it.

[2018-03-06 15:14] pasikok opened #319 "Problem: Diff for 2.2.5 in CHANGELOG.md is incorrect"
The diff is for 2.2.4, but should be for 2.2.5

[2018-03-06 15:37] #319 closed

[2018-03-11 12:25] weixiyen opened #321 "Daylight Savings Time Bug"
Got an argument error :erlang.send_after error in execution_broadcaster.ex during daylight savings time.  Seems like the time **-576462949368** is very far off during DST.

I'm on v 2.2.3.

[code]

[2018-03-11 14:51] baldmountain opened #322 "Daylight Savings Bug 2"
This may be related to the other daylight savings bug but at the switchover from 2:00am to 3:00am (hour forward) my app used 100% CPU and Mesos said "Too much CPU for you" `kill -9`.  What I think happened is quantum saw that a whole bunch of tasks (the ones between 2:00am and 3:00am) hadn't run and tried to catch up by running them ALL. This is really bad for my app.

This makes me nervous about

[2018-03-11 18:10] c-rack commented on #322
Maybe related to #321

[2018-03-11 18:11] c-rack commented on #322
@baldmountain Thanks for reporting. Any PRs to solve this are very appreciated.

[2018-03-11 18:13] c-rack commented on #321
@weixiyen Thanks for reporting. Which timezone have you configured?

[2018-03-11 18:17] c-rack commented on #322
@baldmountain running Quantum in UTC instead of a local timezone would prevent this bug, if there is no fix available until then

[2018-03-11 19:50] maennchen commented on #322
@baldmountain I have found the error. Using UTC will not help to fix the issue. I‘m quite certain that this is the same issue as #321. I‘m closing this as a duplicate.

[2018-03-11 19:50] #322 closed

[2018-03-11 19:52] maennchen commented on #321
I think that the problem is caused by the line https://github.com/c-rack/quantum-elixir/blob/51f30540a491c8fcdcb221c8d75540894ff6e6cc/lib/quantum/execution_broadcaster.ex#L197

I‘ll work on a fix for the problem tomorrow.

[2018-03-11 20:06] c-rack commented on #321
👍

[2018-03-12 18:04] maennchen commented on #321
I could not yet reproduce the problem. I'll keep you posted.

[2018-03-16 18:41] weixiyen commented on #321
Just to follow up on the timezone question it was "America/New_York"

[2018-03-16 19:54] suddenrushofsushi commented on #302
I'm seeing this error currently in 2.2.5, same version of OTP/Elixir
@weixiyen did you determine what was causing this?

[2018-03-21 10:36] maennchen commented on #321
I'm able to reproduce the issue now. I need to find the exact cause to find the issue.

If a job in a local timezone jumps over an hour the issue will occur.

The only fix right now is to use UTC in the jobs. I'm going to fix the issue before the DST ends in Europe (on Sunday).

If you have jobs that are running in a TZ in Europe, please follow this issue and update as soon as the fix is out.

[2018-03-21 11:16] maennchen commented on #321
The problem seems to be created in the function `ExecutionBroadcaster.add_job_to_state`.

Given a job in the timezone `Europe/Zurich`:

* Executor (UTC) Time is `2018-03-25 00:59:01`
* Local Time in `Europe/Zurich` is `2018-03-25 01:59:01`
* `crontab` calculates the next execution date to be `2018-03-25 02:00:00`
  - This time does not exist. It should be `2018-03-25 03:00:00`
* UTC Execution Time

[2018-03-21 11:19] maennchen commented on #321
A solution needs to consist of two parts:

1. If `ExecutionBroadcaster.add_to_state` is given a schedule date in the past, an error should be raised. (To prevent Infinite Loops)
2. Fix dates given by `crontab` (Crontab only operates with `NaiveDateTime`)

Does someone have an idea how to solve `2`? (Mabye @lau)

This is the function that needs to be patched for `2`:

[code]

[2018-03-21 13:45] maennchen commented on #321
@weixiyen Would you be willing to try to reproduce the error with the PR #323 ?

[2018-03-21 15:44] maennchen commented on #321
Will be released with #324

[2018-03-21 15:44] #321 closed

[2018-03-22 04:56] jamesvl opened #325 "Problem: Cannot schedule job for specific minutes 20-59 in specific month"
I receive an error whenever I try to schedule a job with this cron definition in my config:

`"20 8 25-31 May 1-5"`

    [warn] Invalid Schedule ~e[20 8 25-31 5 1-5 *] provided for job #Reference<>.
    No matching dates found. The job was removed.

In fact, _any_ minute that I enter between 20-59 (inclusive) will give me the same error.

However, these all work fine, including the same minute spe

[2018-03-22 06:22] maennchen commented on #325
Hmm. This should not happen. I can think of obe reason why that happens.

Could you try to set the following config and try again?

  config :crontab, max_runs: 100_000

[2018-03-22 07:17] jamesvl commented on #325
Just tried it- I still get the same error though.

[2018-03-22 13:31] maennchen opened #327 "Problem: Missing Icon for Organisation"
It would be really cool if we had an Icon for the organisation.

[2018-03-22 13:35] maennchen commented on #325
@jamesvl If you recompile the `crontab` dependency, this config will solve the problem.

You can recompile like this (be sure to do it for every environment):

[code]

The reason this happens, is that the `crontab` dependency needs to search for time candidates. A lot of that is based on guessing. It will only make `10_000` guesses by default.

[2018-03-22 18:39] maennchen commented on #327
I'd like this one. We'd have to ask for permission though since we could not give credit everywhere.

https://thenounproject.com/andrewforrester/icon/514787/#

[2018-03-26 05:45] DerTim1 opened #331 "Disable Debug Logging"
In the new release Quantum logs to debug-level, e. g.

`07:42:00.002 [debug] [:nonode@nohost][Elixir.Quantum.Executor] Execute started for job :check_services`

I think there is no possibility to have the global level set to debug and skip the messages of Quantum. So can you please add a configuration directive to disable the quantum debug-logging. Maybe something like that https://stackoverflow.c

[2018-03-26 05:58] c-rack commented on #331
@DerTim1 thanks for reporting. Would you like to submit a PR?

[2018-03-26 06:52] maennchen commented on #327
@c-rack Thank you very much.

I'd really like to go in the direction of the name (Physics) and if it works well also include time in the logo. The clock as the main subject of the logo is a little boring in my opinion.

[2018-03-26 07:09] DerTim1 commented on #331
Yes I can do this, but I would pull the cheap variant: a config option with debug_logging = true/false

Defaultvalue? Maybe false to have the old behaviour?!

[2018-03-26 07:14] maennchen commented on #327
@c-rack According to our C4 process, we should take your suggestion and continue to improve on that.

[2018-03-26 07:15] maennchen commented on #331
@DerTim1 I think the default value should be enabled. In my opinion this is a good default value since it is on level debug.

[2018-03-26 07:17] maennchen commented on #325
This is the same problem as https://github.com/jshmrtn/crontab/issues/48 by the way.

[2018-03-26 10:01] DerTim1 commented on #331
@c-rack @maennchen

I need some help: (1) Is the `util.ex` the right position to put a function `debug_logging` which only logs, if config-option is set to true?
I already found the position to add the new config option. (2) But how can I access the `YourApp.Scheduler.config()` from the function in util.ex, becuase we don't know what _YourApp_ is set to.

[2018-03-26 10:24] maennchen commented on #331
@DerTim1 You can put the function into the `util.ex` file.

There's no way to know what the config for a specific scheduler is without having the context. You'll need to pass the config option into the `init` function of the concerned stage.

[2018-03-26 11:22] DerTim1 commented on #331
@maennchen Sorry, but I think my knowledge about the structure of Quantum is too small to get this working.

[2018-03-26 11:43] maennchen commented on #331
@DerTim1 It's not that complicated. Im going to drop you a few hints with whom you should be able to get this working:

 * [`Quantum.TaskStagesSupervisor. init /1`](https://github.com/quantum-elixir/quantum-core/blob/master/lib/quantum/task_stages_supervisor.ex) - This function starts the separate stages that are needed to schedule jobs
   - You can see that there are options passed to every entry

[2018-03-26 13:59] maennchen commented on #331
@DerTim1 That was expected, Thank you!

[2018-03-27 17:25] randysecrist opened #333 "Erlang & Quantum Design Question"
reference:  https://github.com/quantum-elixir/quantum-core/issues/264

So fundamental erlang question here ...  using global registration ..

How is it quantum restarts jobs for BEAM nodes which die (using control-c) on other connected nodes?

Supervisors don't typically monitor pids on other nodes.  So ... where is the manual Process.monitor bit done at?

[2018-03-28 08:18] maennchen commented on #333
@randysecrist If you monitor a pid on another node and this node goes down, you'll get this message:

[code]

I was however not aware that the `Supervisor` does not handle that message.

I wanted to prepare you a little test repo and just found that this doesn't work as I expected.

I'll open a bug and will inform you with the details as soon as it works.

Since this question is not really an issu

[2018-03-28 08:18] #333 closed

[2018-03-28 08:20] maennchen opened #334 "Problem: Process.monitor of remote process not working as expected"
I found that our solution in [`Quantum.Util.start_or_link/1`](https://github.com/quantum-elixir/quantum-core/blob/master/lib/quantum/util.ex#L6) does not work as expected.

This will cause this error on node disconnect:

[code]

[2018-03-28 08:40] maennchen opened #335 "Problem: Function Usage not efficient"
In an upcoming Elixir Release a new `Function` module is coming. (See https://github.com/elixir-lang/elixir/pull/7503)

This issue serves as a reminder to use the new functionality some time in the future to clean up the code.

[2018-03-28 15:54] c-rack commented on #327
@maennchen I have updated the logo with a reference to physics:
https://github.com/c-rack/quantum-elixir-logo/blob/master/quantum-elixir-logo.svg

I really like the symbiosis of a clock an the letter Q (for quantum), now with the physics element, its even better, I agree.

Shall we start with this one until a better proposal comes up?

[2018-03-28 16:26] maennchen commented on #327
@c-rack Yes, go ahead :)

[2018-03-28 17:49] c-rack commented on #327
The repro is transferred and the orga avatar is updated:
https://github.com/quantum-elixir/quantum-elixir-logo

[2018-03-28 17:49] #327 closed

[2018-04-02 20:01] mertkahyaoglu opened #336 "Question: Runtime jobs performed at the same time"
Hello everyone,

In my project, I'm adding a new job that runs every 10 seconds for every POST requests. Although these jobs are added in different times, they are executed at the same. The newly added ones are waiting for the first one to execute altogether. How can I make these jobs run independent from each other?  I apologize if there is already an easy solution for this that I missed.

Here i

[2018-04-02 20:37] c-rack commented on #336
Have you tried to give your job distinct names?

[2018-04-02 20:39] mertkahyaoglu commented on #336
@c-rack Yes, I did but it didn't work.

[code]

[2018-04-03 08:46] redink commented on #334
hmm, I want to help.

But, I can't reproduce the issue. I found the error message from https://github.com/erlang/otp/blob/OTP-20.3.2/lib/stdlib/src/supervisor.erl#L631

I think it should due to one supervisor process monitor one remote process, but I can't find where the code in quantum-core.

[2018-04-03 09:09] maennchen commented on #334
@redink What happens if you start & connect two cluster nodes and then quit the one that has the `TaskStagesSupervisor` running? Does the other node start a new supervisor?

[2018-04-03 09:10] maennchen commented on #334
@redink This is the culprit: https://github.com/quantum-elixir/quantum-core/blob/master/lib/quantum/util.ex#L10-L17

The function is used in many `start_link` functions.

[2018-04-03 09:20] redink commented on #334
But
[code]

these codes just invoking `Process.link/1` rather than `Process.monitor/1`.

The message `{:DOWN, #Reference<0.3175945100.3353870340.142203>, :process, #PID<14627.118.0>, :noconnection}` only from `Process.monitor/1`, https://hexdocs.pm/elixir/Process.html#monitor/1

And if we use `Process.link/1`, the crash message will be `{:EXIT, from, reason}` http://erlang.org/doc/man/erlang.html#

[2018-04-03 09:25] redink commented on #334
![image](https://user-images.githubusercontent.com/3191073/38241056-d138925c-3763-11e8-8067-ff38bd423649.png)

after node 2 disconnect node 1, node 1 not affected by anything, and node 2 will start the new task stage supervisor process.

[2018-04-03 09:48] maennchen commented on #334
@redink Can you force quit the application instead of `Node.disconnect`?

[2018-04-03 10:10] redink commented on #334
![image](https://user-images.githubusercontent.com/3191073/38243480-39c6624e-376a-11e8-8f22-18a468ec465c.png)

I force quit the node 1, and node 2 not affected by anything.

[2018-04-03 10:23] maennchen commented on #334
@redink You need to force quit the node with currently has the global job on it. In your screenshot you would've to quit node 2 instead.

[2018-04-04 14:01] maennchen commented on #336
@mertkahyaoglu What do you mean when you say that they are waiting for the first one?

They should all be executed at the same time (always at full 10 seconds (00, 10, 20, 30, 40, 50).

[2018-04-04 15:56] mertkahyaoglu commented on #336
@maennchen I don't want them to be executed at the same time. For example I add a job which is meant to run for every 10 seconds. After 5 seconds I add another job. I expect to see the last job to be executed 10 seconds after it is created but it is executed after 5 seconds together with the first one.

[2018-04-04 16:06] maennchen commented on #336
@mertkahyaoglu The schedule `~e[*/10 * * * * *]e` means something like `At every 10th second`.

There is no easy way to schedule something every 10 seconds after it was scheduled.

This is also why we opened the issue #268.

If you really want to use it this way, you could implement it via a little hack (pseudo code, not tested):

[code]

[2018-04-11 14:08] hauleth opened #337 "Revise versioning policy"
I have seen a lot of retired versions on hex.pm, what is reasoning for such policy?

Also commit f5fa79677046fc507f2a70ef38ce82193a88c577 introduced breaking change in form of [update of supported Elixir version](https://github.com/quantum-elixir/quantum-core/commit/f5fa79677046fc507f2a70ef38ce82193a88c577#diff-6023be6004fce4718dad3dafb576d258L15) and that wasn't stated in version number (it was m

[2018-04-11 14:40] maennchen commented on #337
https://semver.org/

[2018-04-11 14:45] maennchen commented on #337
@hauleth I have also checked some bigger libraries in the ecosystem and checked if they bumped the major version when the elixir requirement changed. I have found no instance where the major was bumped.

For example check `phoenix` and `ecto`.

[2018-04-11 19:30] kuon opened #338 "Documentation unclear about support for :local timezone"
The documentation explicit that `:utc` and a string is supported as the `timezone` job parameter, but the documentation also has `:local` in the type signatures:

https://hexdocs.pm/quantum/Quantum.Job.html#set_timezone/2

and

https://hexdocs.pm/quantum/Quantum.Job.html#t:timezone/0

After reading other issue I realize that `:local` is not supported, so I think those type signature should be fixe

[2018-04-12 12:06] maennchen commented on #336
@mertkahyaoglu Since this is already covered by #268, I'll close the issue.

[2018-04-12 12:06] #336 closed

[2018-04-17 08:33] maennchen commented on #337
@hauleth Would you like to discuss the issue further or should I close the issue?

[2018-04-17 10:45] #337 closed

[2018-04-18 20:14] isaacsanders opened #339 "Problem: Add structured metadata to logs"
Hey all,

I have really enjoyed quantum so far, and I wanted to document some thoughts I have had.

The use of GenStages is helpful when approaching a system that has data to share, but I am not sure if the system currently exposes the results of the completed jobs.

I have been returning information about the results of the job runs that I would like to gather, aggregate , & display. Currently I

[2018-04-18 20:52] maennchen commented on #339
Hi @isaacsanders

Glad to hear that you like the library :)

I would be very happy to accept a PR for this. If you're interested, please go ahead!

[2018-05-02 14:23] dokuzbir opened #340 "(FunctionClauseError) no function clause matching in Quantum.Normalizer.normalize_task/1"
Elixir -v = 1.6.4
phoenix -v = 1.3.2
quantum-core -v = 2.2.7
timex -v = 3.2.2
gen_stage -v = 0.13.1

I get output "working" when mix phx.server but server suddenly closes

[code]
[code]

[2018-05-02 14:45] dokuzbir commented on #340
I was using wrong synxtax solved that {"* * * * *",   {IO, :puts, ["working"]}}

[2018-05-02 14:45] #340 closed

[2018-05-18 09:16] phyxolog opened #341 "Problem: Wrong parse cron expression. No matching dates found."
Hi!

I have this config:

[code]

All ok, it's work, i have this debug message in console:
`Continuing Execution Broadcasting at -573784321699 (2018-06-18T08:30:00)`

Okay, now i want change month from 6 to 5. I'm little rewrite cron expression:

`30 08 18 05 *`

And i get this message:

`[warn] Invalid Schedule ~e[30 8 18 5 * *] provided for job #Reference<0.644706009.4006084614.216924>.
No match

[2018-05-23 11:47] maennchen commented on #325
@jamesvl Can you try with the newest `crontab` version?

[2018-05-23 12:42] phyxolog commented on #341
@maennchen Yep, now parsing was correct, thanks.

[2018-05-23 12:42] #341 closed

[2018-05-28 20:09] maennchen commented on #325
Close because of inactivity.

[2018-05-28 20:09] #325 closed

[2018-06-15 13:19] tooreht opened #342 "Problem: Jobs don't get executed when time is set on app startup (ntp)"
## Environment
**elixir**: Elixir 1.6.5 (Compiled with OTP 20) and Elixir 1.6.6 (Compiled with OTP 21)
**quantum**: 2.2.7
**timex**: 3.3.0
**nerves**: 1.0.1

## Description
On a nerves project, when I set time per ntp before firmware app (using Quantum.Scheduler) is started, the jobs don't get executed. They only get added and the next execution is broadcasted. The timezone is explicitly set to UT

[2018-06-15 14:46] maennchen commented on #342
@tooreht It is really important that the time is set before the `Scheduler` is started. If it is not, the scheduler will need some time to catch up to the current time.

Can you make sure that the time is set before the Scheduler is started?

[2018-06-19 14:58] tooreht commented on #342
@maennchen I implemented the `init` callback on my `Scheduler` module with a print statement. I observed on rpi3 boot, that my `Scheduler` gets called after the time is set via ntp and also after the main app has started. Is this a valid way to check the `Scheduler` startup?

Sometimes the job gets executed once as an `ASAP` broadcast. Really strange!

The only special configuration I can think of

[2018-06-19 15:17] maennchen commented on #342
@tooreht Could you please enable debug logging and send some logs when it fails?

https://github.com/quantum-elixir/quantum-core#troubleshooting

[2018-06-22 13:49] SofaKing18 commented on #312
Had the same problem, what about to make Quantum.RunStrategy.Local default strategy?

[2018-06-22 19:41] kaiatgithub commented on #312
@maennchen Please consider the suggestion of @SofaKing18. I ran into the same problem a while ago and suspect that many other developers will experience this. In my opinion, the most important function of this library is to reliably execute tasks. And the most reliable way is to execute tasks locally, without having to care about other applications connecting to the node. The ability to execute ta

[2018-06-26 15:14] maennchen commented on #312
@kaiatgithub & @SofaKing18

As long as you're not using clustering, the strategy is behaving exactly the same as the local strategy. Therefore for "normal" users, the strategy is exactly as expected.

As soon as you start using clustering though, you should also be concerned about cluster health. Since this is an advanced topic I think we can also expect users of that feature to make sure the clus

[2018-06-26 15:16] maennchen commented on #312
As soon as I have a little more time to dedicate to OS projects again, I'll tackle the problem about node health anyways. (also causes #334)

[2018-06-27 10:35] kaiatgithub commented on #312
@maennchen Are there any disadvantages of making RunStrategy.Local the default?

As you describe, many applications don't use multiple nodes. And then, to my understanding, the local strategy is exactly what is needed. And with this strategy, even when the developer decides to expand the app and connects it to another node, quantum will not fail and all jobs will be processed on the original node,

[2018-06-27 11:37] maennchen commented on #312
@kaiatgithub Ow, now I see the problem. The strategy should select a place where the supervisor is running and not any node.

[2018-07-09 20:58] seanwash commented on #60
@tonydaly @udfalkso FYI there are some notes about this here: https://elixirforum.com/t/start-a-worker-on-heroku/11330