[2018-07-15 21:04] ksheurs opened #343 "Duplicate job execution on nodes within cluster"
We have a cluster of nodes that are of different service types (Service A and Service B). Service A has 2 nodes and I'd like to have one of those nodes execute a job hourly.

My config is like so:

[code]

I've used the `Quantum.RunStrategy.Local` so this only runs on Service A (and not Service B), but I am seeing the job is executed on both Service A nodes despite having the `global: true` flag.

[2018-07-17 13:10] tomekowal opened #344 "Question: Is there a way to ask Quantum if there are any currently running jobs?"
I have a couple of jobs that run daily at different times and take a various amount of time to complete (from seconds to a couple of hours).
Each job saves its start time and end time in the database,
but if we restart the application while the job is running,
it doesn't save its end time and looks as if it was still running.

Is there a way to ask quantum about currently running jobs based on the

[2018-07-17 13:20] maennchen commented on #344
Currently this is not possible. It should however be really simple to implement.

There is a GenServer tracking running tasks. It is used to stop tasks from overlapping.

https://github.com/quantum-elixir/quantum-core/blob/master/lib/quantum/task_registry.ex

Currently this server has no public available api. But I would accept a PR opening up that interface to the public.

[2018-07-21 00:54] doughsay opened #345 "Multi-node clusters and GenServer exits"
Hi, I'm trying to figure out if it's possible to prevent the error from the scheduler genserver when connecting a new node to a cluster.  I know this has been discussed already in #311, but I'm still a little confused...

here's an example Application.ex that I have:

[code]

When I start my first iex session (`iex --name qt1@127.0.0.1 -S mix`), it boots just fine, without any problems.  When I bo

[2018-07-22 03:07] samginn opened #346 "Error whenever killing nodes during kubernetes deploy"
I have a cluster of nodes running on Kubernetes that get killed occasionally during rolling updates of the application. I'm running quantum across this cluster to handle various tasks and whenever the nodes get killed, I inevitably get the following error:

[code]

Any idea what's going on?

[2018-07-25 15:03] ksheurs commented on #343
Hi there, kindly following up on this. I've been more conscious of not leaving iex sessions opened and I have not seen this issue in the past few days. Is there something to be aware of when using Quantum in a running app + having multiple iex sessions to that app?

[2018-07-26 04:49] ksheurs commented on #343
Confirmed this is from the IEX session which was not able to join the cluster (and therefore ran it's own worker.

[2018-07-26 04:49] #343 closed

[2018-07-30 08:30] tomekowal opened #347 "Problem: Nondeterministic test"
[code]

It doesn't happen every time, but once in a couple of executions. May be a timing issue in the test itself.

[2018-07-30 11:56] #344 closed

[2018-07-30 12:35] maennchen commented on #345
If you start a process with the name `{:global, atom()}`, the cluster only starts that process once per cluster. If the node starts before it is connected to the rest of the cluster this means that both the new node and the rest of the cluster have a process running with the same name.

Since the name must be globally unique, one of them will be killed.

My plan is to use [`swarm`](https://github.

[2018-07-30 12:37] maennchen commented on #334
I did some research on how to solve this problem. The cleanest solution would be to use a library like [`swarm`](https://github.com/bitwalker/swarm) to orchestrate the workers.

Swarm will also bring the advantage that conflicting workers can be merged together.

[2018-07-30 20:16] doughsay commented on #345
@maennchen I think I understand the basic concept behind how `:global` works, but your statement here is what I don't get: "If the node starts before it is connected to the rest of the cluster this means that both the new node and the rest of the cluster have a process running with the same name"

See my code that I included above, I *am* connecting to the cluster before starting the quantum proce

[2018-07-31 18:41] sweco-semtne opened #349 "[Question] Job fails because Repo not available."
Hi!
I'm running Quantum as part of a Phoenix application.
I want to start a job on application reboot that fetches data from the database.

[code]

As part of the Application I configure both the Ecto Repo and Quantum.
However it would seem that the Repo hasn't started when the job tries to execute.

[code]

[code]

Is there an easy way to start a job at application start and make sure that the Re

[2018-08-03 19:47] techgaun opened #350 "Problem: Debugging Mechanism For Job Execution"
Currently, the job execution logging mechanism seems to be only possible on debug level which is not what is always turned on in production environment.

I think the `debug_logging` should be replaced with `quantum_log_level` and that should be used via `Logger.log/3` so we can actually control the logging level quantum uses. Thoughts?

[2018-08-03 21:51] maennchen commented on #350
I don't think that this is a good idea. Quantum already logs with different log levels. The logs emitted with the `debug` level are actually debug information and should always be logged with the corresponding log level. If you really need to see the debug information, you should switch the log level to `debug` therefore. (Also to debug the production environment.)

If you need more flexibility to

[2018-08-04 16:10] techgaun commented on #350
@maennchen I see what you're saying. FlexLogger solves my problem, indeed. Thanks for pointing me to that direction. As a side question, is it possible to provide pre-execution function to be invoked/called for quantum. I have bunch of functions that could be called via api call/internal tasks but also via cron and I would ideally love to log the fact that it is being invoked via cron. I could pro

[2018-08-04 16:10] #350 closed

[2018-08-10 19:36] #346 closed

[2018-08-10 19:43] maennchen commented on #349
I don't have the slightest idea.

Normally the workers should be started sequentially and therefore the scheduler should not start before the repo is up. (At least that's how I believe that it is working.)

[2018-08-10 21:34] #345 closed

[2018-08-10 21:34] #334 closed

[2018-08-10 21:37] maennchen commented on #339
Small note: We're using the DynamixSupervisor which is expected to be the last stage in the chain and does not emit any events. So there's currently no place to hook into the results.

[2018-08-10 21:39] maennchen commented on #342
@tooreht As expected the quantum scheduler is initializes with a date sometime in 1970 and then tries to catch up to the current date as soon as the date is set. I don't know a way to prevent that without preventing quantum to start until the date is correct.

[2018-08-10 22:06] #240 closed

[2018-08-10 22:06] maennchen opened #355 "Chore: Cleanup Code and prepare for v3"
* [x] Make sure that storage API is stable
* [x] Remove dirty code only to prevent breaking changes
* [x] Improve Code Quality

[2018-08-10 22:07] #338 closed

[2018-08-10 22:09] maennchen commented on #335
Can be done in `v3.0.0` since we can then bump the elixir version requirement.

[2018-08-10 22:10] maennchen commented on #268
I would like to implement a generic scheduling interface for `v3.0.0`, that could be extended with other providers in the future.

[2018-08-10 22:11] #312 closed

[2018-08-12 04:27] barkerja commented on #349
@sweco-semtne You could potentially use `Application.ensure_started/2` in your scheduled job. See https://hexdocs.pm/elixir/Application.html#ensure_started/2

[2018-08-12 05:07] barkerja opened #356 "Problem: Run Strategy Random yields wrong result"
After upgrading from 2.2.7 to 2.3.0 my scheduler fails with the following error:

[code]

The stack trace:
[code]

[2018-08-12 05:55] maennchen commented on #356
@barkerja I‘m going to need some more detail to figure this one out. How is quantum configured? Could you please turn on debug logging and share this log?

[2018-08-12 09:38] maennchen commented on #356
@barkerja I found the problem and will create a PR for a fix shortly.

[2018-08-13 11:11] danish-nadeem opened #360 "ERROR: no function clause matching in GenServer.whereis/1"
Followed the exact instructions as they were given, the configuration seems to be working but the application returns an error whenever the task runs.

### Environment
elixir: Erlang/OTP 21 and Elixir 1.6.6 (compiled with OTP 19)
quantum: 2.3.0

debug/info when application is launched:

[code]

The error shortly after the above responses:

[code]

Can you suggest a solution?

[2018-08-13 11:38] maennchen commented on #360
Duplicate of #356, will be released with #359

[2018-08-13 11:38] #360 closed

[2018-08-13 15:43] #356 closed

[2018-08-14 17:34] zacksiri commented on #345
I've upgraded to the latest version of quantum, when I try to start a multi-node cluster using libcluster I get this

[code]

it crashes the application, before it used to exit the task but the app would still run

Btw I'm using the ErlangHosts Strategy with libcluster.

[2018-08-14 17:37] zacksiri opened #361 "Quantum 2.3.1 Crashing Application When Clustering"
As I've mentioned here #345 , the new swarm implementation crashes my app.

[code]

[2018-08-14 20:41] maennchen commented on #361
Do you have multiple Schedulers in your app? If so, dies it work if you disable all except one?

[2018-08-14 22:41] brandonparsons opened #362 "Global vs RunStrategy?"
Hi there,

I'm just wondering what the difference is between the `global: true` configuration option for `quantum`, and the `Quantum.RunStrategy.Random` strategy.  Will these accomplish the same thing?

If I'm running a cluster, and I only want my jobs to be run once (i.e. non-idempotent), what is the correct way to set this up?

[2018-08-15 00:38] zacksiri commented on #362
Global true will make sure you only have 1 scheduler started so 2 jobs won’t be scheduled at the same time. Run strategy Random just randomly chooses which node in the cluster to run, but the job will be scheduled by 1 scheduler.

[2018-08-15 00:39] zacksiri commented on #361
How do I disable one when they start along with the app? And it’s the same app that join into a cluster. If I don’t cluster or only have 1 node it works fine.

[2018-08-15 03:39] zacksiri commented on #361
@maennchen so I disabled `global: true` and it seems to be working fine. is that intentional / how it's supposed to be used? now that we have swarm it can ensure 2 jobs aren't started by 2 scheduler on different nodes?

[2018-08-15 05:05] ckruse opened #363 "Start job manually?"
Hi,

maybe I'm missing something, but is there a way to start a job manually? E.g. for debugging purposes or because it failed earlier.

I know I could just start it by calling the function itself, but that could lead to overlapping jobs...

Best regards,
 CK

[2018-08-15 05:12] maennchen commented on #363
This is not intended and there‘s no supported way to do that.

You could try to start the Quantum.Executor by hand though.
See the configs in Quantum to see what you have to provide for its start_link function.

[2018-08-15 05:15] maennchen commented on #361
I‘ll try to figure out the problem later today. Is your project OS so that I could try it myself?

[2018-08-15 05:32] ckruse commented on #363
Ok, thanks. And thank you very much for your work!

[2018-08-15 05:32] #363 closed

[2018-08-15 06:38] zacksiri commented on #361
@maennchen there is just 1 scheduler, in the app, but yeah it runs 2 jobs as expected. it's not OS but I can add you as a member do you have a gitlab account?

[2018-08-15 08:00] maennchen commented on #361
@zacksiri I could not reproduce the issue in any of my projects. Therefore I'll need to see the code to investigate further.

I've just registered on GitLab with the same username as here: `@maennchen`.

[2018-08-15 08:03] zacksiri commented on #361
@maennchen I've added you on gitlab

[2018-08-15 08:05] maennchen commented on #361
@zacksiri In some of the I use it. I don't think that this will create a problem.

[2018-08-15 08:44] zacksiri commented on #361
@maennchen ok sure thing the upstream should not effect the testing. btw how are you testing? let me replicate your case.

[2018-08-15 08:49] maennchen commented on #361
Can you try with #364?

[2018-08-15 08:50] zacksiri commented on #361
Let me try..

[2018-08-15 09:42] maennchen commented on #361
@zacksiri :(

Then I'll have to look at it tomorrow... I don't have time currently today to go deeper into the rabbit hole. I'll do some further testing and keep you up to date.

[2018-08-15 09:44] zacksiri commented on #361
@maennchen no worries, thx for the effort, I'll revert to 2.2.7 for now.

[2018-08-15 10:14] zacksiri commented on #361
@maennchen I may have messed something up in my deploy, let me do more testing with an update before you spend more time on it.

[2018-08-15 11:18] redink opened #365 "Problem: application exited with global model using swarm"
reproduce step: https://github.com/redink/t_quantum/tree/master/test

[2018-08-15 11:26] redink commented on #365
seem to #361

[2018-08-15 11:26] #365 closed

[2018-08-15 11:27] redink commented on #361
reproduce step: https://github.com/redink/t_quantum/tree/master/test

[2018-08-15 11:42] zacksiri commented on #361
@maennchen After more thorough testing, i can confirm that #364 doesn't resolve the issue yet.

[2018-08-15 12:08] brandonparsons commented on #362
Thanks for the reply @zacksiri - can you clarify the following?

`Run strategy Random just randomly chooses which node in the cluster to run, but the job will be scheduled by 1 scheduler.`

Say I have 4 nodes, `global: false` and a job with RunStrategy `random`.  Will 4 jobs be scheduled every time the cron ticker goes off? Because it's selecting a random node, those four jobs could be run on 1, 2

[2018-08-15 12:25] maennchen commented on #361
@redink Yes, that's what I fixed in the PR: https://github.com/quantum-elixir/quantum-core/pull/364/files#diff-97efc738bed75d9e25c723356d9cd32c

[2018-08-15 12:34] redink commented on #361
I updated the deps in my demo (https://github.com/redink/t_quantum/tree/master/test), but got the new error information:

[code]

FYI.

[2018-08-15 14:29] maennchen commented on #361
I did a really dirty attempted fix. Could both @redink  and @zacksiri try the newest commit on the PR?

[2018-08-15 15:28] zacksiri commented on #361
@maennchen just about to hit the hay, I will definitely give this a whirl tomorrow.

[2018-08-16 09:47] maennchen commented on #361
@zacksiri Ok, then I'll have to figure out how to do this nicely instead of that hack.

[2018-08-19 05:59] zacksiri commented on #361
@maennchen thx for your hard work! will try this out soon.

[2018-08-21 06:57] zacksiri commented on #361
@maennchen I tried this out on my staging server, everything looks good!! I think you can merge it.

[2018-08-22 10:36] maennchen commented on #361
Released with `v2.3.2`.

[2018-08-22 10:36] #361 closed

[2018-08-22 10:39] maennchen commented on #349
@barkerja I don't think that this works since the repo is in the same app as the scheduler.

[2018-08-22 10:40] redink commented on #361
@maennchen Thanks very much, I will test this release in our env. Thanks again.

[2018-08-22 10:42] maennchen commented on #342
@tooreht I don't think that is something that this library should address directly but rather something that should happen before this library starts. I'm therefore closing the issue.

If you have any questions regarding that ticket, please feel free to reopen it.

[2018-08-22 10:42] #342 closed

[2018-08-22 12:19] jonathanhickford commented on #314
Any mileage in an option that gives the `permanent_consecutive` scheduled jobs the information to determine itself what to do?

For example say I have a  job scheduled every hour which has the purpose of sending reminder notifcations. If I missed a number of runs I might want to only send reminders for events that have not yet happened.

I think for that usecase I'd want to be able to pass the job

[2018-08-22 13:01] maennchen commented on #314
@jonathanhickford I'll consider that when implementing it. I'm already working on `v3` where this should be included. Since I'm doing that in my free time it'll take some time though.

[2018-08-24 19:37] doughsay opened #368 "Problem: Scheduler dies during scaling events in container orchestration environments"
We run our elixir apps in docker-compose for testing and development and in kubernetes for production.  We also use libcluster to help our nodes discover one another.  The new swarm-based version of quantum does't handle scaling in these environments very well.

I've reproduced a minimal test-case showing this behavior, please see my repo here: https://github.com/peek-travel/quantum_swarm
If you h

[2018-08-24 20:37] maennchen commented on #368
@doughsay Thanks for this detailed report! Could you help me with enabling debug logging and paste the log here?

[2018-08-24 20:48] doughsay commented on #368
@maennchen debug logging is enabled in my example repo, so following the steps in my readme should give you detailed output.  It's very noisy, but here's an example output:

steps taken:
1. run `docker-compose up --build` (runs one node, PING messages show up every 3 seconds as expected)
2.) run `docker-compose up -d --scale web=3` (boots up 2 more nodes, usually causes scheduler to die, PING mess

[2018-08-24 20:53] maennchen commented on #368
@doughsay Thanks, this confirms my assumption. The Handoff of the ExecutionBroadcaster is broken. I'll have a look and will create a PR. Thanks again for the detailed report!

[2018-08-24 21:57] maennchen commented on #368
@doughsay I think I found and solved the issue. I'm a little low on time though and that's why I couldn't test it. Would you mind testing again with #369 ?

[2018-08-24 22:58] doughsay commented on #368
@maennchen thanks a lot for looking into this.  Your branch is definitely better, but I was still able to cause a few error states.  It's really hard to reproduce these because it just involves randomly scaling up and down to various cluster sizes.

I was able to cause two bad end states after scaling either up or down:
1. Scheduler no longer running, i.e. no jobs running
2. Two schedulers running

[2018-08-25 00:37] doughsay commented on #368
Ok, after much more tinkering and reading of the logs closely, it appears that sometimes during a node shutdown, it fails to pass off the state to another running node.  The `ExecutionBroadcaster` does look like it eventually gets restarted, but without any jobs registered.  Should it not maybe re-add the jobs from the static config in cases such as those?  It may also just be a coincidence, but I

[2018-08-25 09:52] maennchen commented on #368
@doughsay It's clear that this must work. The hard thing is that there's no testing strategy to ensure that it is really working.

I'm going to take a look again and hopefully fix everything.

I'm going to be busy over the weekend, therefore I'll have time to fix it monday the earliest.

[2018-08-25 09:56] maennchen commented on #368
I also think that your error makes sense. The `handle_info` callback of the `ExecutionBroadcaster` does not check if the `timer` of the state is nil or not. Therefor `Process.cancel_timer/1` is called with nil sometimes.

This could also lead to the `ExecutorSupervisor` crashing since the `ExecutionBroadcaster` which is its dependency crashed.

[2018-08-25 10:07] maennchen commented on #368
This one error was actually so easy to fix that I quickly implemented it. The PR is updated. You're welcome to test again. I'm going to have a look myself as well as soon as I have time again.

[2018-08-25 16:18] doughsay commented on #368
Thank you @maennchen! I'll have a look again on Monday as well.

[2018-08-27 23:49] doughsay commented on #368
I may have some more log output to help with this issue.

I had a docker-compose cluster of 2 nodes running and working (web_1 and web_2), then I attempted to scale to 3 nodes.  The new node (web_3) timed out during boot and crashed.  It left the cluster in a bad state and quantum was no longer running jobs.  Here's the output:

[code]

[2018-08-28 18:11] isaacsanders commented on #339
I've recently worked on implementing structured logging, and I think the solution may be in the logs. Currently the logs lack metadata and add some of their own structure. I think the library's logging could be better if it tried to build more of a structured logging approach. More metadata, thinner messages.

Adding something similar to Ecto's LogEntry could be an approach that might yield some i

[2018-08-29 22:52] sublimecoder opened #370 "Compilation error in executor_supervisor.ex"
I'm getting the following error in 2.3.2 but not in 2.2.7 any idea why this is happening?

[code]

[2018-09-05 23:45] kerrd89 commented on #370
I am seeing the same.  More specifically, I can compile w/ 2.3.1 (labeled retired on hex) but not with 2.3.2, but 2.3.1 does not appear to have updated features from 2.3.

elixir version: 1.6.4

[2018-09-06 06:43] maennchen commented on #370
Did you check if the problem persists when you rebuild completely? (Just throw away the `_build` and `deps` folder and reinstall the deps)

[2018-09-06 06:47] maennchen commented on #362
@brandonparsons You're correct. The job will be run 4 times because there are 4 schedulers. Since the default strategy is random, they could be run on any node.

[2018-09-06 06:51] maennchen commented on #368
@doughsay I believe that the error comes from swarm this time (the timeout). The `QuantumSwarm.Scheduler.ExecutionBroadcaster` stopping is not really a problem since it has the value `restart: :permanent` and will therefore connect again. This is also expected if the gen_stage consumers migrate to another place.

This part should however not happen:

[code]

[2018-09-06 06:51] maennchen commented on #368
I will go ahead and get the PR merged and also open an issue with swarm.

[2018-09-06 15:41] kerrd89 commented on #370
Yes, even after removing the `_build` and `deps` folder, the dependency fails to compile with the same warning.

[2018-09-06 15:55] kerrd89 commented on #370
In `lib/quantum/executor_supervisor.ex:53` we need to update the key to `:execution_broadcaster_reference` for the if -> true case, same as the else clause beneath.

[code]

[2018-09-06 16:36] maennchen commented on #370
@kerrd89 I see. I'm going to create a PR in a few minutes.

[2018-09-06 16:39] maennchen commented on #370
@kerrd89 Fix in #372

[2018-09-06 17:28] jbavari commented on #370
This is working now! Let's close this bad boy.

[2018-09-06 17:38] kerrd89 commented on #370
Thanks for the quick turnaround!

[2018-09-06 17:42] maennchen commented on #370
I'll try to get the other PR running as well and will then create a new release. (#369)

[2018-09-06 18:47] maennchen commented on #370
Will be released with #373

[2018-09-06 18:47] #370 closed

[2018-09-06 18:49] maennchen opened #374 "Problem: Swarm Timeout when scaling cluster"
Follow up from #368

## Log:

[code]

## Reproduction Repository
https://github.com/peek-travel/quantum_swarm

[2018-09-06 18:50] maennchen commented on #368
The latest issue with swarm is further tracked with #374, the rest will be released with #373

[2018-09-06 18:50] #368 closed

[2018-09-06 18:55] maennchen commented on #362
@brandonparsons I'm going to close the issue. If you've further question do not hesitate to reopen the issue.

[2018-09-06 18:55] #362 closed

[2018-09-06 19:34] maennchen commented on #374
@doughsay I'm not getting this error anymore but this instead:

[code]

[2018-09-06 19:39] maennchen opened #375 "Problem: Tests in global mode insufficient"
Tests with real clustering should be developed.

This may help: https://github.com/bitwalker/ex_unit_clustered_case

[2018-09-06 19:40] maennchen commented on #339
@isaacsanders That sound like a good approach. I'm renaming the issue to reflect that idea.

[2018-09-06 19:44] maennchen commented on #349
@sweco-semtne Do you use the application in s cluster? If yes, does the newest release solve your problem?

[2018-09-07 14:36] tmepple opened #376 "Project boot time increases by ~10 seconds with v2.3.3 vs v2.2.7"
Since upgrading to v2.3.3 I've noticed my project boot time increased substantially.

Now after running `mix phx.server` it takes ~2 seconds to see `[info] [swarm on nonode@nohost] [tracker:init] started` then about 10 seconds later the next messages appear:

[code]
After that the Phoenix endpoint is up almost immediately.

With the same project running v2.2.7 it takes ~2 seconds to see `[debug] [

[2018-09-07 17:30] maennchen commented on #376
@tmepple This is caused by swarm. This is the tradeoff for a real global clustering that can heal from any change in the cluster topology.

The approach before was not able to handle situations where multiple nodes started a scheduler before joining the cluster, neither did an active node take over the scheduling from a died cluster node (like a netsplit / power outage etc. when the node did not p

[2018-09-07 17:46] tmepple commented on #376
Definitely agree adding swarm was a good idea for the reasons given.  I'm just wondering why it takes (on my fast dev machine) ~10 seconds to boot swarm without debug messages when running on a single node.  Boot time is not a big deal for production but for development when there is no cluster it would be nice to speed it up.  Are you seeing a similar delay on your projects?  I will research swar

[2018-09-07 18:04] maennchen commented on #376
@tmepple You should be able to save that time in dev if you disable global mode. Why it takes as long as you describe on a single node, I can not tell you unfortunately.

[2018-09-08 20:48] doughsay commented on #374
@maennchen I'll update my test application to the latest version and try things again on Monday.  Thanks!

[2018-09-08 21:07] tmepple commented on #376
@maennchen Hmmm... it still happens when I add `global: true` or `global: false` (which I think is the default) to the config.  Do I need to use a certain run strategy or how should I configure it?

[2018-09-08 23:02] maennchen commented on #376
@tmepple I think it is caused by the ClusterTaskSupervisorRegistry. I’ll have a look if I can make it faster if global is false.

[2018-09-11 12:26] chandankumar4 opened #377 "failed to start child Quantum.ClusterTaskSupervisorRegistry"
I'm facing this issue when i starrted my application. can anyone help with this
[code]

Phoenix v1.3.4
Erlang/OTP 21 [erts-10.0.5] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Eshell V10.0.5  (abort with ^G)
ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]
node version:- v8.11.4

[2018-09-11 12:51] maennchen commented on #377
@chandankumar4 It seems `:swarm` is not running. Did you override the `applications` in you `mix.exs` file?

[2018-09-11 12:59] chandankumar4 commented on #377
yes! i override it

[2018-09-11 13:13] maennchen commented on #377
If you're using Elixir 1.3 or newer, do not do that except when you got a really good reason. Mix automatically will detect all applications you need and start them. If you override it, this will not work except when done with much care.

Most likely you can delete that `application` key and its contents and the application will work.

To explain more properly of what is going on, see https://www.

[2018-09-11 13:13] #377 closed

[2018-10-04 16:34] pjb3 opened #378 "Disable swarm tracker logging"
Is it possible to disable the log messages you get when running Quantum that look like this:

`2018-10-04T09:30:50.892Z info [swarm on nonode@nohost] [tracker:init] started`

[2018-10-04 19:06] maennchen commented on #378
I don’t think so, but you can use a library like this one to more selectively log messages: https://hexdocs.pm/flex_logger/FlexLogger.html

[2018-10-18 16:09] theangryangel opened #379 "Tuples for job names?"
If I put together a quick patch to allow job names to be set as tuples, not just atoms, would that be something you'd be happy to pull, in theory?

I'm looking at building a system which would result in effectively user defined jobs that I'd need to be able to delete at a later date. If I rely on atom names I'll run the risk of atom exhaustion eventually, but if I use references I have no effect w

[2018-10-18 16:30] maennchen commented on #379
The current application allows for atoms & references as job names. If you have a grander scheme on how to manage jobs I'd recommend you to use references and then keep some kind of registry.

We allowed for more job name types in the v1 branch, but this was removed in favor of a cleaner interface.

If we were to do the proposed change, this could only be done in v3 since this would pose a breakin

[2018-10-18 18:21] theangryangel commented on #379
I was having issues storing references outside of elixir (I.e. Postgres) and then reloading them, but perhaps I’ve missed something.

Thanks for the advice and fantastic library ❤️

[2018-10-18 18:21] #379 closed

[2018-10-18 19:11] maennchen commented on #379
@theangryangel There's a way to serialize / unserialize references:

* `:erlang.ref_to_list/1` - converts a reference to a charlist
* `:erlang.list_to_ref/1` - converts a charlist back to a reference

http://erlang.org/doc/man/erlang.html

[2018-10-18 19:12] maennchen commented on #379
@theangryangel Do not hesitate to ask again if you're having problems setting things up with this approach.

[2018-10-23 10:43] xinz opened #380 "Problem: There is one master node by default when using cluster?"
When setup multi nodes at local, e.g.

iex --name ac1@127.0.0.1 -S mix
iex --name ac2@127.0.0.1 -S mix
iex --name ac3@127.0.0.1 -S mix

After running these nodes and manually ping them for each other.

Scheduler
[code]

config.exs
[code]

Using:
gen_stage: 0.14.1
quantum: 2.3.3
swarm: 3.3.1

From observer's perspective, I find in `swarm` application, there is one "master" node (ac1@127.0.0.1, see

[2018-10-23 11:31] #378 closed

[2018-10-23 11:35] maennchen commented on #380
@xinz This is a known issue (#374, https://github.com/quantum-elixir/quantum-core/issues/368). I didn't have the time at the moment to come up with a final solution.

I'm going to close the issue as a duplicate therefore.

This is not possible with the current design of the application. If we wanted to implement it like that we'd need a much more complicated setup.

If you would want to have multi

[2018-10-23 11:35] #380 closed

[2018-10-23 14:10] xinz commented on #380
@maennchen thanks, actually I hope any node shutdown won't affect the job(s) continue working on the rest nodes(if existed), each node of the clusters should be the same role/priority to process the distribution of worker processes.

I will keep watch the related issue.

[2018-11-05 06:29] mfeckie opened #381 "Daily job being triggered many more times than it should be."
I have a curious situation where the config below results in the job being triggered multiple times, rather than once daily at 9am.

[code]

The job triggers this function, which spawns a process.

[code]

Log highlights

[code]

What's really interesting to me, and I can't explain it, it's trying to start the job approximately every minute for an hour.

I can't find an explanation in the docs or

[2018-11-05 06:34] maennchen commented on #381
@mfeckie I think you git your cron specification wrong.

Your smspecifications means every minute at 9 am.
https://crontab.guru/#*_9_*_*_*

[2018-11-05 06:39] mfeckie commented on #381
🤕 	Doh!.  Thanks for the prompt answer.

[2018-11-05 06:39] #381 closed

[2018-11-17 01:34] pggalaviz opened #382 "Unexpected Error when node down"
I'm starting to use Quantum on my app, I already use Swarm for other functionality, while experimenting (killing a node from the cluster) I get an error on the remaining running nodes, which sometimes bring down the whole app.

Here's my config:
[code]
It just runs a function hourly to clear expired User sessions.

If I run lets say nodes A, B and C and kill B with double `ctrl+c`, I get an error

[2018-11-17 09:02] maennchen commented on #382
This is a duplicate of #380 and #374 and there is currently no way to prevent that. I did not yet find a solution for this behavior.

[2018-11-17 09:02] #382 closed

[2018-11-21 09:47] maennchen commented on #349
Closed because of inactivity

[2018-11-21 09:47] #349 closed

[2018-11-28 21:34] zanderxyz opened #385 "Problem: Using Quantum means that `mix test` takes 5-6 seconds to start up"
Hi,

Quantum is great, thanks very much to all the contributors.

One question - is it possible to only run it in :prod and :dev, so that it doesn't slow down `mix test`? I tried only including it in those environments in my `mix.exs` but this causes a crash when the scheduler isn't found: `{:quantum, "~> 2.3", only: [:dev, :prod]},`.

Thanks

[2018-11-29 15:32] devonestes opened #386 "Scheduler thinks no nodes are live and fails to execute jobs"
Howdy!

So I've noticed a really weird thing happening in production for us recently. When it comes time to run our one scheduled daily job, I see an `Elixir.Enum.EmptyError`. Basically, when Quantum Scheduler is trying to call `Enum.random/1` on the list of available nodes to execute the job, that list is being passed in as an empty list (which of course should be impossible).

Here's the stacktr

[2018-11-29 15:58] maennchen commented on #386
@devonestes Hmmm... My best guess is that it could be connected to #374

Are you able to open observer and see what processes are running below the scheduler?

[2018-12-04 00:04] DavidMikeSimon opened #387 "Docs: Must start swarm application"
After following the setup instructions in the README, I got this error when attempting to start my app:

[code]

To fix this, I just needed to add `:swarm` to my applications list in `mix.exs`.

This may simply be something missing from the docs, however I'm not familiar enough with Elixir to be sure that I'm doing the right thing to resolve it.

[2018-12-04 06:16] maennchen commented on #387
@DavidMikeSimon Since Elixir 1.3, the applications are automatically started depending on the installed dependencies. If the applications configuration is untouched (which is recommended) and only extra_applications are configured this works fine.

If you decide to overwrite this in your project, you‘ll have to figure this out yourself I guess.

Quantum will always require all deoendencies to be s

[2018-12-04 20:02] DavidMikeSimon commented on #387
@maennchen Thank you, that makes things a lot clearer for me! 😄

[2018-12-04 20:02] #387 closed

[2018-12-06 09:17] maennchen commented on #385
You can easily not start quantum when in the test env. This could look like this:

[code]

With the next release the startup-time is also greatly improved when using quantum with `global: false`. You could then also just set `global` to `false` only for the test environment.

[2018-12-06 12:09] zanderxyz commented on #385
Thanks very much, this does speed it up a lot, but I believe it does still start swarm. I'll use this for now and then check out the global: false for the next release.

Appreciate your help.

[2018-12-06 12:09] #385 closed

[2018-12-06 13:40] maennchen commented on #385
@zanderxyz Swarm should only block if you actually use it. If no scheduler is started, swarm should not block the tests from running.

[2019-01-02 11:39] madshargreave commented on #376
@c-rack Any ETA on the above commit being released? Awesome work

[2019-01-02 11:41] madshargreave opened #390 "Dynamic job names"
I think it would be useful to extend the `Quantum.Job.set_name/2` function to accept strings as well as this will allow for registering dynamic jobs without risking the atom-memory pitfalls

[2019-01-02 11:52] maennchen commented on #390
@madshargreave That's what reference job names are though for. Just create a new job and use its name for future reference.

[2019-01-02 11:54] maennchen commented on #386
Since there was no further information, I'll close this ticket. Feel free to re-open if the issue happens again or more information is present.

[2019-01-02 11:54] #386 closed

[2019-01-02 12:00] madshargreave commented on #390
@maennchen Ah I missed that from the documentation. Great, thanks 👍

[2019-01-02 12:12] maennchen commented on #390
Great, I'll close the ticket then.

[2019-01-02 21:30] c-rack commented on #376
@madshargreave I could make a release on weekend.

@maennchen do you agree or do you want to do the release by yourself?

[2019-01-03 06:16] maennchen commented on #376
@c-rack I wanted to do the next release together with the clustering fixes. Since that seems to take ages, it seems to be a good idea to release anyways.

You‘re welcome to do a release.

[2019-01-07 08:48] #376 closed

[2019-01-15 21:18] jlgeering opened #392 "hidden duplicate job (or partial update) when calling add_job with named job (same name)"
given this Scheduler

[code]

start by creating a job (iex prompts reorganized):

[code]

and then add a different job with the same name:

[code]

and then the second version again:

[code]

and finally deactivate and reactivate the job by name:

[code]

=> When adding a job with the same name as a previous job, both version will be running but only the second one with be visible when listing job

[2019-01-15 21:18] jlgeering commented on #392
tested with version 2.2.7 and 2.3.4

[2019-01-15 21:20] OvermindDL1 opened #393 "Compile warning on 2.3.4 with Elixir 1.8.0-otp-21.2.2"
[code]
If something is dependent on Timex then all code related to it should be compiled only conditionally or else Timex should become a hard dependency.  When depender project is compiling with warnings as errors then it fails to build.

[2019-01-15 21:22] jlgeering commented on #392
background: we have a system with dynamic jobs, and we got confused, because according to `jobs/0` the job was running on the schedule we expected, but in fact it was still / also running according to the old schedule.

not a big deal, as we now just make sure to call `delete_job/1` before `add_job/1`

[2019-01-15 21:22] c-rack commented on #392
@jlgeering Thanks for reporting! Would you mind to send a PR with a failing test or even a fix?

[2019-01-15 21:24] c-rack commented on #393
Good catch, thanks!

[2019-01-15 21:25] jlgeering commented on #392
@c-rack I tested in iex because I have no clue how to write a test for that, and because I remembered not understanding the internals of quantum. That being said, it might be a nice little challenge!

(and as mentioned above, it's not a killer bug)

... so ... maybe :-)

[2019-01-16 06:52] maennchen commented on #393
@OvermindDL1 This problem is caused since the code is compiled conditionally. Timex is not installed and the module Quantum.DateLibrary.Timex is therefore not compiled. Since the config has not specified an alternative, this module is used.

We have some documentation for this topic. First we recommend installing it together with timex and second we write about the date library here:
https://hexdo

[2019-01-16 15:10] OvermindDL1 commented on #393
Well the calls to the Timex accessing module can be conditionally compiled as well (although that module should probably have stubs at this point) via something like this inline in the function body `unquote(if(Code.ensure_compiled?(Quantum.DateLibrary.Timex), do: quote(do: Quantum.DateLibrary.Timex.tz_to_utc!), else: Quantum.WhateverFallback.YouWant)(arg1, arg2)` or other variants on it as wanted

[2019-01-16 15:38] OvermindDL1 commented on #393
The installation steps are currently showing to manually add the timex dependency, which is something that quantum itself should be doing if it is a required dependency however?  When quantum is being used by another library then the users of that library would not see that requirement if it was not explicitly brought in by the intermediary as well.

[2019-01-16 16:20] maennchen commented on #393
@OvermindDL1 Quantum does not explicitly depend on timex. Both timex and calendar are valid options or any other implementation of the behaviour.

Since it is not possible to detect what implementations of a behaviour exist, this has to be configured.

[2019-01-16 16:23] OvermindDL1 commented on #393
But it is fairly easy to determine if something like Timex is loaded however, and thus to conditionally not compile in any code that uses it when it does not exist.  :-)

[2019-01-16 16:28] maennchen commented on #393
@OvermindDL1

The only thing we can do without breaking the API is the following:

Load the `date_library` config. Check if the configured module exists. Otherwise raise an error at compile time.

This would give a clearer error than the current warnings where we could explain the situation.

Currently `quantum` does not enforce any date library specifically. This is the same as if you would use `

[2019-01-16 16:54] OvermindDL1 commented on #393
Well that's the thing, using something like `unquote(if(Code.ensure_compiled?(Quantum.DateLibrary.Timex), do: quote(do: whatever_if_loaded()), else: quote(do: whatever_fallback()))` then you get to keep the same public API but only adjust the insides as necessary.  :-)

It works like (in the specific example of the OP functions), instead of doing:
[code]
You'd instead do (you don't even need unquo

[2019-01-16 16:59] maennchen commented on #393
I guess this sounds reasonable. We'd need to do this in the application module as well though. I'll have a look.

[2019-01-16 17:08] maennchen commented on #393
@OvermindDL1 Hmm. Works better in theory because this produces a circular dependency.

[2019-01-16 17:08] maennchen commented on #393
[code]

[2019-01-16 17:33] OvermindDL1 commented on #393
Ah they depend on each other, in that case move the module configuration test to a different module with a function that just returns the result and call that function, something like:
[code]
Then as long as you just call that function directly via `Quantum.Config.date_library()`, which you can use like `Quantum.Config.date_library().some_function_on_that_module()` without importing or requiring i

[2019-01-25 09:14] seamon commented on #382
same issue from within version 2.3, have to keep using v2.2 ...

hope it's fixed soon

[2019-02-10 01:00] jung-hunsoo commented on #355
How about support defining jobs in `Scheduler` module, instead of `config`?

It will help maintaining config clean, and keep codes organized.

[2019-02-10 10:29] DonHansDampf opened #395 "Delayed start possible? NTP: Time set after startup"
Greetings!

I would like to use your module on some elixir nerves projects of mine. Sadly it seems like there are some problems in embedded cases like this: Another elixir module (`nerves-time`) updates the system time using ntp. There was already another ticket open with this issue: https://github.com/quantum-elixir/quantum-core/issues/342

In my case the startup order was a bit different. It see

[2019-02-11 09:10] maennchen commented on #355
@jung-hunsoo This is already possible. I'm not sure though if this is properly documented.

You can define an `init/1` function in the Scheduler where it is possible to alter the configuration in code.

[2019-02-11 09:16] maennchen commented on #395
Quantum currently assumes time that moves forward. It should however not skip entries.

Currently, it works like this: The next execution date is determined for every job. The jobs are then grouped and ordered by that date. A timer is started for the time of the first job (the next one to execute). When this timer fires, the job is started, the time of the Scheduler advanced to the execution time

[2019-02-12 04:42] jung-hunsoo commented on #355
@maennchen Thanks. Based on your comment, I successfully moved defining jobs from `config` to `Scheduler` module.

Here is my working codes:
[code]

Any improvements?

[2019-02-12 10:12] DonHansDampf commented on #395
Thank you for the explanation. Helped me to understand some underlying groundwork which gets executed! :)

Sounds like a good idea. Some kind of reload function which can be used. I think in most cases the developer himself knows when time jumps occur (for example in embedded projects like mine) and could create his own hook to execute the reload. Or use the function in some module's init function

[2019-02-22 23:59] jacobparry opened #397 "Node scaling fails to start child QuantumScheduler"
Whenever we deploy to our production environment (we use 3 nodes), it is common that the second and third node will continue to crash when attempted to be brought up. We generally have to do a full reboot in order to get back to three nodes. This error is what we see when this happens.

2019-02-22 23:10:03.753 level=info module=application_controller msg="Application temp exited: :stopped"
** (Mat

[2019-02-26 00:11] alex88 opened #398 "Global mode doesn't start on any node"
After the first implementation using libcluster with kubernetes I've deployed a 2 pod version of our app using `global: true` in the scheduler config.

These are thw two logs:
[code]

[code]

after this no job was running, I had to delete a pod (which has been re-created by kubernetes) and then the jobs started.
Is it a problem in my configuration? Because it might be similar to https://github.com

[2019-02-27 05:27] jfrolich opened #399 "Issue starting with iex"
I get this error when trying to run a node with iex. Strangely it does not happen when started using `elixir`
[code]

[2019-02-27 05:31] jfrolich commented on #399
Hmm realized that this problem is not deterministic. It *sometimes* happens. It looks like a node with the same name is shut down earlier.

[2019-02-27 06:02] jfrolich commented on #399
Possibly related to this: https://github.com/quantum-elixir/quantum-core/issues/397

[2019-03-06 07:05] milmazz commented on #386
@maennchen Thanks for looking into this. Tomorrow I'll try to use observer and give you more information about this issue, in the meantime, here you can find the state of the Scheduler process and also from `Swarm.Tracker`:

Scenario:

* Last deploy: February 14
* The first error was seen on February 24 (only on one node), and after that on both nodes every day.
* Quantum version: 2.3.3

[code]

[2019-03-08 00:44] jgonera commented on #374
Any updates on this? Seems like it might be the same issue that someone reported two weeks ago:
https://github.com/quantum-elixir/quantum-core/issues/397

I'm hitting this as well using quantum 2.3.4

[2019-03-11 18:22] tsutsu opened #402 "Make swarm dep optional"
tl;dr: When `quantum` is used with a scheduler with `global: false`, no code from `swarm` is called. Yet, `swarm` is still pulled in as a dep.

Personally, I don't use `swarm` for anything, and am using `quantum` in a single-node context. I don't want swarm's added startup delay, or its messing with the `net_kernel`. I would like to avoid including it in my release, but `quantum` is pulling it in.

[2019-03-20 11:35] robertsithouse opened #403 "runtime error bad_action_from_state_function"
Hello, I have this error, which occurs when the cron job is executed. It seems to happen when I prepare a production release with destilery.

[code]

[2019-03-22 16:56] mobileoverlord commented on #374
We are also starting to see this in production on nerves-hub.org. One of our containers will fail to start, but the service is replaced and eventually works

[2019-03-25 12:28] AdrianRibao opened #404 "Job running thousands of times on nerves"
I'm using Quantum in a [nerves project](https://nerves-project.org/) in the Phoenix Ui. When the UI is started on the development machine, the command runs just once, but when it's released to the device, the task gets executed thousands of times.

The config:

[code]

The logs:

[code]

[2019-03-25 12:55] maennchen commented on #404
@AdrianRibao Is the the time initialized when quantum is started? If the time gets set (for example via NTP) when quantum is running, quantum will fast forward until the time that was set newly is reached.

[2019-03-25 14:56] AdrianRibao commented on #404
@maennchen it should be, the ntp daemon starts before the ui and quantum, so the time should be right.

If I call `DateTime.utc_now` before the first run of the scheduler, the time is correct.

[2019-03-25 16:38] AdrianRibao commented on #395
I've replaced `nerves_ntp` by `nerves_time` and it's better now, tasks won't run thousands of time.

Now they just won't run, but if I stop the scheduler manually, then it works as expected.

I could create a genserver that stops the scheduller after X minutes since initialization, but that is a very ugly hack. Do you recommend a better way to make it work?

This is related to issue #395. Any prog

[2019-03-25 16:39] AdrianRibao commented on #404
I've replaced nerves_ntp by nerves_time and it's better now, tasks won't run thousands of time.

Now they just won't run, but if I stop the scheduler manually, then it works as expected.

I could create a genserver that stops the scheduller after X minutes since initialization, but that is a very ugly hack. Do you recommend a better way to make it work?

This is related to issue #395. Any progress

[2019-03-26 20:13] doughsay commented on #374
@maennchen have you considered trying out [horde](https://github.com/derekkraan/horde) instead of swarm? I assume that's non-trivial, but I wonder if horde handles things better than swarm does...

[2019-03-26 21:13] maennchen commented on #374
@doughsay I didn't know about horde. Do you have some experience with it? Is there a way to handle conflicts with it as well?

[2019-03-26 22:02] doughsay commented on #374
I actually don't have any experience with it, but I know that it's been getting a lot of attention lately and getting popular.  Swarm has definitely been around longer; just thought I'd bring it up as an idea to maybe help solve these issues that we're seemingly still having.

[2019-04-01 15:46] smaximov opened #406 "Problem: Configuration Documentation diverges from Code"
Hello. According to the "Configuration" page of the docs, section "Named jobs"

I tried to add a job with a `String` name using `Quantum.Job.set_name/2` and got a `FunctionClauseError` (caused by the [`is_atom` guard](https://github.com/c-rack/quantum-elixir/blob/master/lib/quantum/job.ex#L93)).

Is this a bug (`set_name/2` should accept other types) or is documentation outdated?

[2019-04-01 15:52] smaximov commented on #406
I want to associate a job with some data in a database using a `String` job name, so I can delete the job when the data is gone or prevent creation of duplicate jobs. I have two solutions if a job cannot have a `String` name:

1. I can convert a `String` job name to an atom (which is frowned upon).
2. I can maintain a mapping between a `String` key which references the data in my database and the

[2019-04-08 02:14] adz opened #407 "Daylight savings bug causes scheduler to terminate when time is set backwards"
We found our jobs not running, and it turned out our Quantum based scheduler had terminated.

Our jobs are configured with `timezone: "Australia/Adelaide",` and Adelaide had daylight savings move the clock backwards one hour yesterday, resulting in ambiguous time:

`<Ambiguous(#DateTime<2019-04-07 02:00:06.340067+10:30 ACDT Australia/Adelaide> ~ #DateTime<2019-04-07 01:00:06.340067+09:30 ACST Aust

[2019-04-08 10:03] LostKobrakai commented on #406
I'd support that request. Atoms shouldn't be handling arbitrary names and storing refs<=>arbitrary name means I need to keep some lookup table in sync with quantum's jobs.

[2019-04-08 10:12] maennchen commented on #406
@smaximov Good Catch, I adapted the documentation to match the code.

@LostKobrakai This was discussed on multiple occasions: #390, #379
If you want to continue the discussion, please add new arguments to one of the existing issues.

[2019-04-08 10:47] LostKobrakai commented on #379
I'm not really comfortable with having my own registry with names -> refs, as I don't feel like I know enough about quantums internals to be sure I don't get into race conditions between my registry and quantum and even how to do proper cleanup in case of errors in the first place.
If adapters are meant to have a simpler interface than in v1 and a registry is the proposed solution, then I'm wonder

[2019-04-08 11:16] LostKobrakai commented on #402
I'd vote for option 1. Imho a scheduler should either be created by an application I control and where I add jobs or the dependency works totally independant and therefore must ensure it does require swarm or list it as optional and document the need for swarm just like quantum itself.

[2019-04-11 19:46] alex88 commented on #399
I also use `iex` to run our code and we use `--name web@POD_IP_HERE`, we also get tons of these errors

[code]

could this be related?

[2019-04-30 15:43] Ciboulette commented on #406
Hey,

As @LostKobrakai and others, I would also to support this request. Indeed, in the system I'm currently building, I really need to schedule jobs dynamically and I don't want to be limited by the Erlang atom limit.

From my point of view, It should not be the hardest work to do to be able to set_name for multiple data types... What do you think? How can I do it until it changes?

[2019-05-09 14:12] JackSoby commented on #403
I have the same issue running locally, did you ever find a fix?

[2019-05-10 06:17] robertsithouse commented on #403
Unfortunately, no. Currently, the system logs are filled with those errors. Everything seems to be working fine tho. Only that actual errors are hard to find between this one

[2019-05-13 22:42] jesseshieh commented on #398
@alex88 did you ever get this resolved? Was it your configuration? If you still have it, can you post your configuration? We're having the same issue.

[2019-05-14 01:31] jgonera commented on #398
Possibly related:
https://github.com/quantum-elixir/quantum-core/issues/374
https://github.com/quantum-elixir/quantum-core/issues/397

[2019-05-14 05:50] alex88 commented on #398
@jesseshieh we've ended up removing the global flag and running the quantum scheduler in a separate kubernetes deployment, because the auto-scaling of the app was causing these issues and we were finding out after a couple days that the scheduler wasn't running since then.

My config was just:

[code]

and

[code]

[2019-05-14 08:16] Ciboulette commented on #406
Any news?

[2019-05-14 13:37] jesseshieh commented on #398
Thanks @alex88, @jgonera! The `unrecognized cast` errors in the logs above were suspicious to me so I opened [an issue with swarm](https://github.com/bitwalker/swarm/issues/127). I haven't dug in deeply enough to determine if that's the root cause, but it seems to make sense to me that a problem moving processes from one node to another could cause this issue.

[2019-06-18 19:03] maennchen commented on #402
I've added a partial fix to this issue with #410.

After this PR, `swarm` will only be started in global mode, is still a required dependency though.

I'm in the process of rethinking the whole situation with `swarm` and global mode which should also tackle this issue fully.

[2019-06-18 19:06] maennchen opened #411 "New global Strategy"
The current situation using `swarm` is not stable enough and produces many non-deterministic problems. The usage of `:global` before `swarm` also produced many issues.

Therefore a new solution should be implemented to tackle those issues.

[2019-06-18 19:06] maennchen commented on #399
Replaced by #411

[2019-06-18 19:06] #399 closed

[2019-06-18 19:07] maennchen commented on #403
Replaced by #411

[2019-06-18 19:07] #403 closed

[2019-06-18 19:08] maennchen commented on #402
Replaced by #411

[2019-06-18 19:08] #402 closed

[2019-06-18 19:08] maennchen commented on #398
Replaced by #411

[2019-06-18 19:08] #398 closed

[2019-06-18 19:08] maennchen commented on #375
Replaced by #411

[2019-06-18 19:08] #375 closed

[2019-06-18 19:09] maennchen commented on #374
Replaced by #411

[2019-06-18 19:09] #374 closed

[2019-06-18 19:10] maennchen commented on #397
Replaced by #411

[2019-06-18 19:10] #397 closed

[2019-06-18 19:11] maennchen commented on #404
Duplicate to #395

[2019-06-18 19:11] #404 closed

[2019-06-18 19:13] maennchen commented on #411
Thoughts from Slack:

[code]

[2019-06-19 15:33] maennchen commented on #393
This issue will be solved with Version 3 (already solved on `master`)

[2019-06-19 15:33] #393 closed

[2019-06-25 09:30] cblavier commented on #395
I have the same issue (working on a nerves project that needs NTP to be in sync before working). I wrote a custom supervisor that don't run anything until NTP is in sync, but when my supervisor finally start my Scheduler (a few seconds after NTP is in sync), my jobs never get triggered.

If I manually terminate and restart my Scheduler process in iex, it will eventually work.
Any idea of what I co

[2019-06-25 10:05] maennchen commented on #395
@cblavier Not really. Is there any way how I could debug this myself?

Can you post the debug logs?

[2019-06-25 11:00] cblavier commented on #395
Sure, here are my debug logs at the moment I start the scheduler:

[code]

Then none of my 2 scheduled jobs (one every second, the other every 10 second is executed)
As soon as I run:

[code]
It unblocks the scheduler and my second job runs again (and I activate job1 again it is scheduled flawlessly)

[code]

[2019-06-25 11:36] maennchen commented on #395
Nothing comes to mind with those logs. I'd actually need to `IO.inspect` debug this one I guess...

[2019-06-25 11:39] cblavier commented on #395
It's not easy for me let you run the code as you'd need to run it on a raspberry.
Maybe you could pinpoint me in your codebase where I should `IO.inspect` things?

[2019-06-25 11:49] maennchen commented on #395
I'd mostly check if the `ExecutionBroadcaster` got the events and its internal state when it is changed.

The most important part is that the `ExecutionBroadcaster` sets up some timers to actually trigger execution.

[2019-07-05 12:27] collinmurray opened #413 "Problem: Runtime-added jobs run multiple times from app_start instead of job registration"
**EDIT: Resolved by switching to master branch. Problem still persists on 2.3.4 release.**

### Description

When loading jobs at runtime the scheduler retroactively runs the job multiple times based on how long it's been since the start of the application.
ie:

1) Start app up at 00:00:00 without any jobs
2) add_job at 00:05:00 (5 minutes later) with an interval of 1 minute `(~e[* * * * *])`.
3)

[2019-07-05 15:56] collinmurray commented on #413
UPDATE: Looks like this has already been resolved in the master branch! https://github.com/quantum-elixir/quantum-core/pull/358

Is it possible to find out when this fix is going to be available as a release?

[code]

[2019-07-05 19:56] maennchen commented on #413
@collinmurray Thanks for the report.

I‘ll not be able to release anything from master soon. The master is in a very early stage for the next major. It‘ll get a lot more refactorings and a new distribution method before this will be available.

Do you have time to look for a PR based on v2? I‘ll do a fix eventually, but this may take some time since I‘m quite absorbed in my work currently.

[2019-07-08 06:57] collinmurray commented on #413
Hey @maennchen

Thanks for the quick reply, I'll continue to point to master for now as it resolves me issue.

I definitely have to review a PR. Please link it here and I'll go through it. :+1:

[2019-07-22 12:15] maennchen opened #415 "Expose Telemetry Metrics"
Expose Metrics via Telemetry

[2019-08-12 15:29] overture8 opened #416 "Runtime Tasks queue up and run on re-adding a job"
I'm not sure if this is the expected behaviour... But, after deleting a runtime job, tasks seem to be queued up then executed on re-adding a job with the same name. I'm using Quantum 2.3.4.

Here is an example of what I'm seeing:

[code]

Is this the expected behaviour? Once a job is deleted I wouldn't expect it to be queuing up tasks then executing them on re-adding?

[2019-08-27 07:36] arjan commented on #411
What about using [Horde][horde]'s CRDT for the global execution mode?

As one of the maintainers of Swarm I know that the project is basically in hibernation, there are some open issues that are hard to reproduce / fix and its overall design is also questionable.

Horde seems to have more momentum, and is more modular; I think that it would be possible to replace `:global` with a `Horde.Registry`

[2019-08-27 07:45] maennchen commented on #411
@arjan How does Horde manage Handoffs to another node when the node currently running a process shuts down?

[2019-08-27 07:51] arjan commented on #411
It does not have anything special but there is a [guide](https://hexdocs.pm/horde/state_handoff.html) explaining how it can be done using trap_exit. However you need to store the handoff state yourself somewhere. Could be done in the CRDT itself though, if it's not too large.

[2019-08-30 08:22] maennchen commented on #411
@arjan How would you implement a Handoff Logic via the CRDT?

[2019-08-30 08:45] arjan commented on #411
When the node is shutting down you could register the handoff state on the CRDT, and then sleep, to give the CRDT some time to propagate, before the local CRDT shuts down.

That means that the CRDT needs to be started in your supervision tree before the process that wants to handoff, because that way you can be sure the crdt is still around when shutting down the proecess.

I am not sure that this

[2019-08-30 08:58] derekkraan commented on #411
Correct me if I'm wrong, but Quantum uses `swarm` to start a single scheduler that executes cron jobs. If this is the case, then perhaps you don't need to hand off state at all. The consequence would be that you possibly run the same job twice (if system clocks aren't synchronized perfectly), or miss a job (if you happen to shut down a node precisely before a job was set to run).

There are other

[2019-08-30 14:40] maennchen commented on #411
@derekkraan Running a job twice is not really a problem. We have a ClockBroadcaster. If we handoff, we would also handoff this one. This makes sure that time is not jumped over or repeated.

I would like to have a handoff feature at least for non-crash situations so that the system continues to run when for example a deployment is updating in K8S. It's clear to me that this will not solve a case w

[2019-09-02 07:03] derekkraan commented on #411
@maennchen If you want to replicate the state of the ClockBroadcaster in the cluster so that you can do handoff during deployment scenarios, then you could simply use [`Horde.Registry.put_meta/3`](https://hexdocs.pm/horde/Horde.Registry.html#put_meta/3) in the `terminate/2` callback of the `ClockBroadcaster` process (and then a sleep to ensure it has time to propagate), and [`Horde.Registry.meta/2

[2019-09-12 16:39] bryanhuntesl opened #417 "disable global"
Hi,

I have set the following configuration :

[code]
But I still see lots of messages like this in the logs indicating that ExecutionBroadcaster is running :

[code]

I'm also using a forked version of swarm and I'd like to avoid that dependency, any advice?

Thanks

[2019-10-14 06:03] sheharyarn opened #419 "How to check when a job will be run next?"
Pretty much as it says on the can. For example, given a config like this:

[code]

How can I check when each of the jobs will be run next? Getting the next run datetime for a [named job](https://hexdocs.pm/quantum/configuration.html#named-jobs) will also be helpful.

[2019-10-14 06:05] maennchen commented on #419
For this you can use `crontab` directly: https://hexdocs.pm/crontab/Crontab.Scheduler.html#get_next_run_date/3

[2019-10-14 06:12] sheharyarn commented on #419
Ah, I see. I came across the `crontab` package earlier but didn't realize that's what quantum uses underneath. This is exactly what I needed.

Thanks!

[2019-10-14 06:12] #419 closed

[2019-10-30 10:30] tlux commented on #407
I got the same issue (scheduler terminated) when the time switched from daylight savings time last Sunday (Berlin time zone). Any progress on that or ideas how to solve the issue?

[2019-11-29 12:02] TestFirebaseLogin opened #420 "Cronjob delete issues"
Cronjob delete still have cronjob running(although not visible),as when i add a job with same name again,after delete,first time the method setup for execution in cronjob code,is called as many number of times,as time elapsed after cronjob was deleted divided by time duration bet ween cronjobs.Ex- if job interval is 20 seconds and i adda job with same name after deleting it,after 40 seconds it wil

[2019-11-29 12:05] TestFirebaseLogin commented on #416
Even im experiencing same issue, is i expected behaviour?Is there a way i can avoid reexecution,if job with same is added again?

[2019-12-02 10:34] overture8 commented on #416
@TestFirebaseLogin Honestly, I had to move away from `quantum-core` in the end because of this. Not sure if I was doing something wrong or not - but the recurring stuff I was working on was too mission critical to risk using it.

[2019-12-02 10:54] maennchen commented on #416
Sorry about this behavior. I currently lack the time to properly resolve those issues. I'll get back to it some soon I hope.

[2019-12-11 00:00] quinlanjager opened #421 "Ecto Repo not started error in Quantum Executor"
I have two jobs scheduled `"@hourly"` that use an Ecto Repo. However, it encounters a "Repo not started" error when running. The jobs do completed (I'm assuming because of our supervisor settings), but I'm trying to track down the root cause to quiet down our logging. This occurs even after our application has been up and running for a while.

Thanks!

[code]

[2019-12-16 16:36] markhaskamp opened #422 "Problem: crontab item '*/0' creates a crash in Quantum"
crontab accepts "*/0 * * * *" as a valid argument.
However, crontab returns an ArithmeticError runtime error when it attempts to process the same schedule.
The runtime error, in turn, crashes Quantum.
Although it's a bug in Crontab, because it crashes Quantum, I think code modifications in Quantum are also reasonable as a protective measure.

return value from Crontab.CronExpression.Parser.parse
[

[2019-12-18 09:47] maennchen commented on #422
Solved via https://github.com/jshmrtn/crontab/commit/320f35a75fcb93ad3f56c2c6ff970a09737daa71

[2019-12-18 09:47] #422 closed

[2020-01-28 20:30] fivetwentysix commented on #421
@quinlanjager I have created an example of how to setup Quantum using `Ecto.Repo` in a brand new Phoenix application: https://github.com/fivetwentysix/elixir-phoenix-quantum-example.

Could you kindly try to fork and reproduce the error you're having? Thanks!

[2020-01-29 00:15] quinlanjager commented on #421
Hi @fivetwentysix,

Thanks for getting back to me. This was actually not an issue with Quantum. We had a staging version of the app that didn't have the Ecto.Repo initialized _on purpose_. Those staging errors were showing up with our production errors which caused my confusion.

[2020-01-29 00:15] #421 closed

[2020-02-16 22:05] brndnmtthws commented on #374
For anyone else running into this problem, I have found a workaround, but it requires patching Quantum. Here are the steps involved:

1. Apply patch from my fork here: https://github.com/brndnmtthws/quantum-core/commit/a38a59eefb1d2e420c66c0921f26a94c2e74e342. The patch drops the timeout parameter on the call to `Swarm.register_name/5`, thus making the call block forever.
2. Update `mix.exs` with

[2020-02-21 16:10] Anderssorby opened #423 "Documentation for set_task is for set_schedule"
The documentation for set_task is describing set_schedule. Would be nice to have a description of set_task as well.

https://github.com/quantum-elixir/quantum-core/blob/92ad935a916a7e2109448a2755de77f584d255fa/lib/quantum/job.ex#L133

[2020-02-25 12:28] maennchen commented on #417
Tracked via #411

[2020-02-25 12:28] #417 closed

[2020-02-25 12:29] maennchen commented on #395
@cblavier Do you have any more information? Otherwise I'm closing the issue.

[2020-02-25 12:51] cblavier commented on #395
Please close! Thank you

[2020-02-25 13:04] #395 closed

[2020-02-25 13:05] maennchen commented on #423
Fixed via #396

[2020-02-25 13:05] #423 closed

[2020-02-25 13:08] maennchen commented on #335
`Fubnction.capture/3` does only work for arity and not for args. Closing therefore.

[2020-02-25 13:08] #335 closed

[2020-02-25 13:15] maennchen commented on #411
@c-rack Would you agree to a new major version without clustering support? I would later add it back as a new feature.

I think it would make sense to get out a stable set of features and later improve on them.

[2020-02-25 13:19] maennchen commented on #339
will be handled via #415

[2020-02-25 13:19] #339 closed

[2020-02-25 13:22] maennchen commented on #406
Tracking in #390

[2020-02-25 13:30] maennchen commented on #390
The reason why I'm hesitant to add new types to names is that the name will be used in many contexts. For example any storage protocol implementation will need to support all possible types.

To keep the surface as minimal as possible, the two following types are currently supported:

* `atom` => named job, not to be used dynamically
* `ref` => dynamic job

[2020-02-25 13:30] #406 closed

[2020-02-26 12:09] collinmurray opened #426 "Dependency get failure on latest master. c021b9"
Hi all. We are using the Quantum library in our projects and our CI started failing yesterday.
The error message looks to be quantum related:

[code]

I've confirmed this locally:
[code]
It seems like the current master is failing to check out against that SHA. This is likely due to the currently in-progress 2.4.0 release and a missed tag.

I'm bringing it up as currently having `{:quantum, git: "

[2020-02-26 12:18] maennchen commented on #426
If you want to make sure that a dependency always works, adding a ref like you did is required.

I‘ll try to get out the unreleased changes out as v3 soon.

[2020-02-26 12:18] #426 closed

[2020-02-26 20:24] maennchen commented on #420
@TestFirebaseLogin Does this still happen on `master`?

[2020-02-26 20:25] maennchen commented on #420
Duplicate of #416

[2020-02-26 20:25] #420 closed

[2020-02-26 20:33] maennchen commented on #416
Fixed on master, will be released with #427

[2020-02-26 20:33] #416 closed

[2020-02-26 20:33] maennchen commented on #413
Fixed on master, will be released with #427

[2020-02-26 20:33] #413 closed

[2020-02-26 20:35] maennchen commented on #355
Fixed on master, will be released with #427

[2020-02-26 20:35] #355 closed

[2020-02-26 20:36] maennchen commented on #245
Doesn't seem to be demanded, re-open if you want this enhancement.

[2020-02-26 20:36] #245 closed

[2020-02-29 11:22] maennchen commented on #411
I'm thining it would make sense to split of the global part into a new package.

It would work something like this (isntead of `use Quantum, ...`):

[code]

The module would then do those things:

* Start Quantum (the whole thing) only in one place
* Start `TaskSupervisor` everywhere
* Register a global name so that it can be used in the whole cluster
* Inject a new `Quantum.Storage`

The new `Qua

[2020-02-29 11:27] maennchen commented on #411
Needed to build a package for horde:

* Storage Adapter that uses `Horde.Registry.put_meta/3` / `Horde.Registry.meta/2`
* Allow quantum to be started with another `global` name (`{:via, Horde.Registry, Acme.Scheduler}`)
* Allow quantum to be started without `TaskSupervisor` since it will be run separately
* Build `QuantumHorde`that does the follwoing:
  - injects the storage into config
  - inject

[2020-02-29 11:29] maennchen commented on #411
What do you think about this approach @derekkraan / @arjan?

[2020-03-02 07:59] arjan commented on #411
I think a solution like this makes a lot of sense.

Distributed state is hard to get right, as we all know. Keeping Quantum focused on the single node case is probably good enough for most people, and reduces a lot of complexity from this library.

I was wondering though, what were the exact issues when you were still using `global` instead of Swarm / Horde? Why did you move away from using it?

[2020-03-02 08:12] derekkraan commented on #411
@maennchen I think a pluggable approach makes sense. I know of at least one library (commanded/event_store) that uses postgres advisory locks for ensuring that a process only runs in one place in a cluster, and I think that might be a better option for a large percentage of the users of this library for example.

[2020-03-02 08:26] arjan commented on #411
Yeah, I share this sentiment. A CRDT seems quite overkill for what is basically one "singleton-process".

[2020-03-02 10:06] maennchen commented on #411
@arjan

For two reasons:

* In the event of a conflict, the states are impossible to merge / hand over since global kills the process and not just terminates it.
* Even though we linked to a process, if the node running the process got killed / network problem etc, the termination was not detected by the other nodes and no new process was started.

[2020-03-11 06:52] nickewing opened #430 "Job error reporting"
Is there a recommended way to monitor errors raised by jobs invoked by Quantum?  I am attempting to report such errors to an external service for logging.  I have looked through the documentation but all I could find there was:

I couldn't find a way to monitor the child job processes for failures in the docs on Supervisor or Supervisor.Spec.  I tried several recommendations from various places on

[2020-03-11 09:01] maennchen commented on #430
@nickewing We‘ve planned to implement a solution for statistics via #415. The events there would also include the result of the jobs.

Currently there’s only two ways:
* Enable Debug Logging and check the result
* Wrap the task in another function that catches all errors and log them there.

Do you think that #415 would solve your problem nicely?

[2020-03-11 10:59] nickewing commented on #430
@maennchen Unfortunately it doesn't look like debug logging includes errors thrown in jobs.  I have setup the following task to run repeatedly, but as you can see below, the error is not included in the debug messages.

[code]

[code]

Is there any way to use `Process.monitor` to receive `DOWN` messages when a job crashes?

Issue #415 sounds promising if it handles errors and will provide stack tr

[2020-04-03 19:43] HaNdlezz opened #431 "I can't implement quantum"
Hi,
Sorry my issue, but i can't implement quantum, i share as i trying configure quantum:

file shceduler.ex into lib folder:
`defmodule CourierStatus.Scheduler do
  use Quantum.Scheduler,
    otp_app: :courier_status
end`

Config into config.exs:
`config :courier_status, CourierStatus.Scheduler,
jobs: [
  {"* * * * *", fn -> IO.puts "PRUEBA" end}
]`

After, i up the application with mix phx.serve

[2020-04-03 21:51] maennchen commented on #431
Please follow all the steps of the Setup Instructions: https://github.com/quantum-elixir/quantum-core/blob/master/README.md#setup

If the scheduler is not added to the supervision tree, it will not be started.

[2020-04-03 21:51] #431 closed

[2020-04-06 18:11] HaNdlezz commented on #431
Ty for you answer :D,
my problem was solved, sorry my question,

Cheers

[2020-04-21 22:05] feld commented on #392
I'm seeing both of these. I reuse job names, but don't allow adding a new job without checking if it already exists. After the job produced a desired result I delete the job.

Future jobs created with the same name end up causing duplicate tasks. Also see the runs happening before the first scheduled interval.

[2020-04-24 06:26] derekkraan commented on #411
@maennchen

This behaviour is configurable in `:global` via a callback (the third argument) in `register_name/3`.

This seems unlikely. Both links and monitors work in a cluster just fine. If a node is killed (or there is a netsplit), then monitors and links will fire as you would expect.

I recently put together a solution for `commanded/event_store` to solve this problem, and yesterday extracted

[2020-04-27 11:33] jean-smaug opened #432 "Improve tzdata Setup instructions"
👋 I'm using `3.0.0-rc` version and I'm facing an issue.

I can't modify the timezone even if if I'm using `timezone: "America/Chicago"` from the doc

[code]

Here are the logs.

[code]

Thx :)

[2020-04-27 11:38] maennchen commented on #432
I guess it's because `tzdata` is not set up correctly. There should probably be more docs on this...

See https://github.com/lau/tzdata

[code]

[2020-04-27 11:57] jean-smaug commented on #432
Thx for your help, it's compiling now.

I'll see tomorrow if it's working in prod

[2020-04-27 13:53] #432 closed

[2020-05-06 09:22] almirsarajcic opened #434 "Special identifier @reboot is not supported"
I have this in my config:
[code]
and when I start the application I get this error:
[code]

I'm using version 3.0.0-rc.3.

[2020-05-09 12:46] pavanputhra opened #435 "What is 3rd args in Heartbeat example"
[code]

what is 3rd argument `[:args1]` in above code. How to access in :send function?

[2020-06-11 13:34] maennchen commented on #407
This problem still exists /with a different error though): https://github.com/quantum-elixir/quantum-core/blob/master/lib/quantum/date_library.ex#L19

What would be the expected result?

1. Error that doesn't crash `quantum` but just skips until we reach a "normal" date
1. Only for the first of the two ambiguous ones
1. Only for the second of the two ambiguous ones
1. DateTime are never converted

[2020-06-14 22:51] sezaru opened #438 "Quantum Storage for Mnesia (WIP)"
Hello there, inspired by QuantumStoragePersistentEts, I created an equivalent but using Mnesia.

You can check it out here: https://github.com/sezaru/quantum_storage_mnesia

It stills a WIP since I don't have tests for it, but it seems to work great.

If you don't mind, can you take a look and see if there is something that you see as a problem with it?

Also, I'm not sure what is the best way to

[2020-06-14 23:09] maennchen commented on #438
@sezaru That sounds great. As soon as you consider it ready, you‘re welcome to create a PR linking to your storage adapter.

For tests I recommend looking at the ets adapter. They’re quite basic.

I can‘t say that I know a lot about mnesia, I guess you‘d be better of asking questions to erlang / elixir support channels.

[2020-06-15 09:24] jean-smaug opened #439 "Clock Producer received a too early ping event, rescheduling"
Hello 👋

I created a Telegram bot.
One of the feature is sending a message everyday.

But sometimes, there is a problème with Quantum and it's blocking the other modules of the app. So the CRON is working but all the slash commands are broken.

When I inspect logs with `journalctl -ef`, I get these messages :

[code]

Here is my config

[code]

My Scheduler

[code]

Thx.

[2020-06-15 09:37] maennchen commented on #439
@jean-smaug What version of quantum are you using?

[2020-06-15 12:45] jean-smaug commented on #439
I'm using the RC version.

I didn't notice that you released the 3.0.
Congrats and thx.

I will upgrade, I think we can close the issue for now and if the problem happen again I'll re-open this one.

[2020-06-15 13:09] maennchen commented on #439
@jean-smaug I don't think that this will resolve it. There are no relevant changes since rc.

Are you sure that this does block the execution for real? When examining the code I can see that the execution should continue normally. This is only a warning.

As for the warning itself: It would make sense to switch to use `abs` and monotonic time. This should prevent it from sending the message too ea

[2020-06-15 16:30] #438 closed

[2020-06-15 16:54] sezaru opened #441 ""Jobs were skipped" error"
Hey there, after having my mnesia storage applied to my Quantum scheduler and leaving my dev backend closed for some time, I got this error every time I initialize it again:
[code]

Looking at the code in `execution_broadcaster.ex:181`, what I understood is that if a job was scheduled to be executed during the time the backend was closed, I will receive this message when I initialize it again. Thi

[2020-06-15 17:00] maennchen commented on #441
@sezaru That hints at a bigger problem.

The basic idea is that all missed jobs will be catched up until the current time. Is is possible that [`Quantum.Storage.last_execution_date/1`](https://hexdocs.pm/quantum/Quantum.Storage.html#c:last_execution_date/1) is implemented incorrectly?

[2020-06-15 17:16] sezaru commented on #441
I will take a closer look!

Also, just to make sure, when the system runs purge it means that it will remove all jobs and also the last_execution_date correct?

[2020-06-15 18:21] sezaru commented on #441
So, I took a better look at my code but it seems to be fine, at least it does the same as `QuantumStoragePersistentEts`.

I inserted some `IO.inspect` when the error happens to get the `state` and `time` back.

This is the values some minutes before the error:
[code]

As you can see, `time` was `~N[2020-06-15 17:57:01]` and `time_to_execute` was `~N[2020-06-15 18:00:00]`.

After that, I closed the

[2020-06-15 22:45] maennchen commented on #441
@sezaru In this case the clock broadcaster should restart at the time where it was shut down and basically go through all dates between the last running date and now in a faster pace.

[2020-06-15 22:56] sezaru commented on #441
Oh, I see.

Where does this happen in Quantum code? I will try debugging this part and see what the storage is returning to Quantum making it not run this path correctly.

[2020-06-16 03:24] sezaru commented on #441
So, I think I found two issues, the first one is located at file `job_broadcaster.ex` at function `init/1`.

The code calls the storage to get the list of jobs, if `:not_applicable` is returned, the `config` jobs are used.

The issue is that these jobs from `config` are never added to the storage jobs, only new jobs added via the scheduler `add_job` function will be added to the storage (This will

[2020-06-16 08:44] maennchen commented on #441
@sezaru

This is a known problem, my decision was to add them to the storage and ignore the config when the storage is present.

Oh, good catch. Would you create a PR for that?

[2020-06-16 13:23] maennchen commented on #441
@sezaru Thanks for the PR. Does this solve the complete problem for you?

[2020-06-16 13:26] maennchen commented on #441
(If yes,I'll create a release.)

[2020-06-16 13:26] sezaru commented on #441
Yep, not it is working great!

Oh, indeed, I totally missed your note in the documentation about this...

But wouldn't concatenating both jobs lists be a better solution? Is there some issue that I'm not seeing related to that?

Also, if that is the case, my guess is that the way for them to use Quantum with the storage would be to have 2 schedulers right?
One for the `config` jobs, where the only

[2020-06-16 13:36] maennchen commented on #441
The problem is that `config` jobs are also not static. They can be enabled / disabled / deleted / re-added. Therefore you can either load jobs from the `config` or the `storage` but not a combination.

The docs can always be improved. You're welcome to create a new issue for this discussion or also provide a PR describing this better.

[2020-06-16 13:36] #441 closed

[2020-06-18 12:38] silvadanilo commented on #439
in my case it happens, in a dev environment, when I have the PC in suspension at the moment when the job should have been executed, and at the "wake up" I get flooded with this warning.

[2020-06-19 09:02] kotsius commented on #439
Elixir 1.10.3, Quantum 3.0.1, Windows 10:

![sCapture-082](https://user-images.githubusercontent.com/35947133/85115564-8cdbc000-b224-11ea-9794-40b11d384296.png)

[2020-06-19 09:06] maennchen commented on #439
@kotsius Do you basically receive this every second or do those messages trickle in over time?

[2020-06-19 09:18] kotsius commented on #439
I seem to be getting one every few seconds. The interval varies widely (say from 1″ to 40″).

[2020-06-19 09:30] maennchen commented on #439
@kotsius Ok, then the `send_after` seems to be imprecise and should be converted to use `abs`.

Does this block anything or does the scheduler continue normal for you?

[2020-06-19 09:42] kotsius commented on #439
Thanks. I can locate send_after/4 under Process, but not anywhere in the Quantum docs. Is this something that requires tweaking on my side?

The scheduler seems to be working fine.

[2020-06-19 09:45] maennchen commented on #439
@kotsius Ah no, this is something that quantum needs to solve.

Quantum calculated the diff between the next second to trigger and now and then schedules a message with `Process.send_after/3` here: https://github.com/quantum-elixir/quantum-core/blob/master/lib/quantum/clock_broadcaster.ex#L136

To make it more reliable the next time should be converted to erlang monotonic time and then supplied to

[2020-06-19 09:47] kotsius commented on #439
Good to know, thanks again.

[2020-06-19 14:01] markupguy opened #443 "Problem: per second granularity defaulting to minute"
Hey there.

Using v3.0.1.

I'd expect the following to fire every 15 seconds, but sadly doesn't:

[code]
Any help would be appreciated.

[2020-06-19 14:06] maennchen commented on #443
This CronExpression is wrong.

Use one of the following two ways to generate a cron expression:

* [`Crontab.CronExpression.Parser.parse/2`](https://hexdocs.pm/crontab/Crontab.CronExpression.Parser.html#parse/2)
* [`Crontab.CronExpression.html.sigil_e/2`](https://hexdocs.pm/crontab/Crontab.CronExpression.html#sigil_e/2)

The expression you constructed here is `15` and not `*/15`.

[2020-06-19 14:06] #443 closed

[2020-06-22 07:27] markupguy commented on #443
Thanks @maennchen I did use the sigil but had the same problem, but I now see that I had to use */15, which "fixed" the issue.

[2020-06-22 07:30] maennchen commented on #443
It doesn’t work for second precision, but for every other cron expression this helps you debug it: https://crontab.guru

[2020-06-30 06:31] augnustin opened #446 "Job option active"
Instead of writing:

[code]

It would be nice to have:

[code]

Definitely the same result, but more readable and kind of more the *elixir-way* of writing this IHMO.

I'm aware that if this has to do with environment config only, it could be set in `config/prod.exs` instead but I'm not fan of it because it could be forgotten in there (eg. for debugging). Putting it in `prod.exs` means "it should o

[2020-06-30 08:15] maennchen commented on #446
The *elixir-way* for doing that is definitely to put this into `prod.exs`. The configs are full fledged elixir scripts. Therefore this capability is not needed.

[2020-06-30 08:15] #446 closed

[2020-06-30 09:18] augnustin commented on #446
This is disappointingly undiscussed. :disappointed:

1. What if the test is not about environment but some other logic, like:

[code]

2. I mentioned the *elixir-way* as the *functional-way* about having an `active`key to filter a list instead of `if cond, do: [element], else: []` which is heavy and ugly.

3. I meant my point when I said that it can be clearer to deactivate something instead of ac

[2020-06-30 09:32] maennchen commented on #446
I'm sorry if this looked arrogant, this was not my intention. A closed issue does not imply that discussions on the topic are not encouraged.

I don't see the benefit of doing that since you can do exactly the same as in the first example.

This is the way lists are manipulated in elixir. If you'd like a more concise way it would be better to address that issue in elixir itself. (for example somet

[2020-06-30 14:26] sensiblearts opened #447 "Problem: Would like :info that Quantum is running (not :debug)"
I request that you change the prority level of these messages from :debug to :info:
[code]
And perhaps this too:
[code]

[2020-06-30 14:29] maennchen commented on #447
Can you supply a reason why you want this change?

[2020-06-30 14:33] sensiblearts commented on #447
@maennchen Thank you for the prompt reply.

I am trying to figure out why my job runs fine every 5 minutes, but failed to run when I changed to "@daily".

At first I thought Quantum was not running because there was nothing in the logs. So I tried adding it to :extra_applications.  I.e., wasting time.

I just noticed that Pow logs its startup as :info, so I thought that might be common practice.

[2020-06-30 15:12] maennchen commented on #447
@sensiblearts I think this might be the wrong approach.

Generally saying you are sure that your application only starts after all dependent applications have been started.

In the case of quantum, this does not apply since the `Scheduler` is started by your application and not `quantum` itself.

If you added the `Scheduler` to your `Application` / `Supervisor` as stated in the installation docs,

[2020-06-30 15:16] sensiblearts commented on #447
Thank you! That sounds good.

[2020-06-30 15:16] #447 closed

[2020-07-02 01:57] ishikawa commented on #411
@derekkraan Thank you for implementing and publishing Highlander. It's a tiny but amazing library. Recently, we are switching from Horde to Highlander for making only one Quantum scheduler process running.

Horde is also incredible, but it's too powerful and hard to control. Maybe cause we're lack of experience, we had to write some glue code to achieve the goal with Horde. But with Highlander, we

[2020-07-02 06:16] ijunaid8989 commented on #439
do anyone face any issues in the whole application due to this?

our application's HTTP requests got so slow due to this.

[2020-07-02 07:00] maennchen commented on #439
@ijunaid8989 As i mentioned before this warning should not cause a slow down on anything.

Do you get thousands of messages a second or do you sometimes get it?

If it is the latter one, then the only thing that will really change after this is fixed, is that you’re no longer going to see a warning.

If you get thousands of messages (some kind of infinite loop) then I would be really interested in

[2020-07-02 13:13] derekkraan commented on #411
@ishikawa thanks! I think Highlander is much better suited to this problem than Horde, so it seems like you made a good choice there :+1:. Of course most of the kudos should be directed to the Erlang team, I only repackaged their work (on `:global`) in a slightly different way.

One thing to watch out for is the behaviour of Highlander when there is a network partition affecting your cluster. High

[2020-07-02 14:59] maennchen commented on #411
@ishikawa Thanks :)

I'll push a new minor version soon that will split the main supervisor into two parts:

* `Task.Supervisor` & `Quantum.ExecutorSupervisor`
* The rest

This will allow to start the first one on every node and the second one via `global` / `Highlander` / `swarm` / `horde` / etc.

I'm planning to publish a package that uses this interface using `global` (simple, no conflict resol

[2020-07-04 22:05] CharlotteDunois commented on #439
I'm seeing the same issue as @kotsius in the same interval on Windows (but haven't seen yet on Linux). Is there any specific reason why this even needs to be a warning? Clock drifts can happen and shouldn't be anything that needs to be warned about. I would think this log line should be degraded to debug.

@maennchen WDYT?

[2020-07-09 00:45] jechol opened #448 "From `config.exs` to module?"
Whenever I change `config.exs`, all project files need to be recompiled.

How about changing configuration to happen in just module?

[2020-07-09 07:57] maennchen commented on #448
@jechol You can change the configuration in code: https://hexdocs.pm/quantum/3.0.1/Quantum.html#c:init/1

You can also pass jobs to the use Quantum call.

I would still recommend to use the normal config mechanism though even if it recompiles some affected dependencies.

[2020-07-10 01:45] jechol commented on #448
@maennchen Thanks.

[2020-07-10 01:45] #448 closed

[2020-07-24 07:27] janpieper commented on #439
I have the same issue with quantum 3.0.1 running in a docker container (elixir:1.10-slim). I get the message once per second.

I am able to reproduce this error by keeping a phoenix application running (`mix phx.server`) while suspending my computer and starting it again.

[2020-07-30 12:41] johannesE commented on #439
I'm also only getting it on my development machine (Ubuntu) after suspending it. A reboot of the application fixes the issue for me. Is this something I should be worried about?

[2020-07-30 12:55] maennchen commented on #439
As I said before: This is not something anyone should ve worried about.

I‘ll push a fix that should prevent it from happening in the future.

If that warning is logged, that only means that the event was triggered too early and that the clock producer will wait again until it’s the right time.

[2020-08-04 10:04] maennchen commented on #439
The problem seems to lie deeper than expected. The `Process.send_after/3` seems to trigger too early.

I only get the problem to go away if i don't try to trigger as closely to the start of the second as possible but add a few milliseconds.

[code]

I'd like to get the inputs from the people in this issue (@jean-smaug, @kotsius, @ijunaid8989, @CharlotteDunois, @janpieper, @johannesE):

If a job is

[2020-08-04 12:14] maennchen commented on #439
I personally think that option 4 is the best. #449 shows how this could be improved for that scenario.

I'd like to get some feedback and you can also check out that branch and see if it works how you'd expect.

[2020-08-04 15:28] maennchen commented on #411
I pushed a draft PR together with a swarm example. I'd love to get some feedback on it from all of you.

Some community packages based on that (hosted either in the quantum org or also independently) would be great to support multiple providers.

[2020-08-05 06:14] kotsius commented on #439
Thanks for looking into this, Jonatan. Responding to your call for feedback, I would say that my intuitive expectation would be option 1. I suppose, however, that the constancy between any two jobs (expected to be equal to one second as per your question) would be more important than the position of each one within the window of every second.

[2020-08-10 14:34] maennchen commented on #439
@kotsius

I completely agree on that.

I myself would lean towards option 4 while trying to still space the seconds apart the same more or less.

[2020-08-18 09:29] maennchen commented on #439
Released as `v3.0.2`

[2020-08-18 09:29] #439 closed

[2020-08-18 10:05] maennchen commented on #411
This can now be done externally. Therefore I'm closing this issue.

Please open new issues if you implement an alternative adapter and something is missing.

[2020-08-18 10:05] #411 closed

[2020-08-18 16:32] rmad1717 opened #451 "Access to the queue"
I have a certain scenario I am trying to achieve. Not sure if its possible, it not please tell me if any alternative solutions are possible.
1. I am polling multiple APIs to 3rd parties very frequently for data syncing.
2. I have application APIs(Endpoints) which allow my frontend to interact with my backend.

Both 1 and 2 are part of the same codebase and I am trying to separate 1 and 2 into two

[2020-08-19 08:28] maennchen commented on #451
@rmad1717 Do I understand it correctly that you want to run the scheduler only on some nodes but you do want to execute tasks on more nodes?

[2020-08-19 11:40] rmad1717 commented on #451
Yes. Kind off

[2020-08-19 12:44] maennchen commented on #451
@rmad1717 You should be able to start a `Task.Supervisor` with a correct name and the you can use a custom `Quantum.RunStartegy` to actually run it.

Have a look at this to see an easy example of a run startegy: https://github.com/quantum-elixir/quantum-core/blob/master/lib/quantum/run_strategy/all.ex

[2020-08-24 12:58] tanweerdev opened #452 "Trigger Jobs Manually"
something like
[code]

https://github.com/quantum-elixir/quantum-core/issues/392

[2020-08-24 14:12] maennchen commented on #452
Currently this is not possible.

Why would you want to do this via quantum? Wouldn‘t Job.async or similar work for you?

[2020-08-24 14:19] tanweerdev commented on #452
Job.async is part of some library? which one?

[2020-08-24 14:28] tanweerdev commented on #452
I am getting this warning and timeout inside a channel event handle_in method/3
`[warn] Phoenix.Channel.Server #PID<0.765.0> received unexpected message in handle_info/2: {#Reference<0.4027534044.3015442433.81688>, {:ok, %ChannelConnection{__meta__: #Ecto.Schema.Metadata<:loaded, "channel_connections">, ...updated_at: ~N[2020-08-24 11:49:10.057884]}}}`
and the documentation says `Starts a task tha

[2020-08-24 14:31] tanweerdev commented on #452
@maennchen I mean `now` is also a timestamp and quantum should be able to handle it

[2020-08-24 14:54] maennchen commented on #452
@tanweerdev You can also run it completely independently with Task. Have a look at its functions.

Quantum currently only works with cron expressions. Opening that functionality up for different methods would be a long time goal (#268). Just adding a single atom as a schedule is however not a direction I‘d lile to go.

Quantum is about scheduling tasks i. intervals and i. the future. For right now

[2020-08-25 06:23] kotsius commented on #439
No more command line pollution, thanks Jonatan!

[2020-08-27 22:48] mrmarcsmith commented on #415
@maennchen I'm happy to explore opening a PR for this.  Is this something you have started? if not, Is there any chance you could give me a shove in the right direction as far as a high level plan? You know this project better than anyone so a little bit of help from you could save me a LOT of time.

[2020-08-28 23:17] mrmarcsmith commented on #415
@maennchen if you have time, a quick reply could help me get started on this.

[2020-08-29 07:59] maennchen commented on #415
@mrmarcsmith Sorry, i don't really have time right now. I'm on vacation until next week.

It'd be awesome to get a PR with this feature.

I have thought about this at some point. I thought that at least the following events should be recorded:

* add job
* delete job
* update job
* job execution (including return value / error / execution time)

The first three should probably be added to the JobB

[2020-08-29 16:14] mrmarcsmith commented on #415
That should be enough to get me started! Thank you for replying while on vacation.

[2020-09-03 19:22] ericdude4 commented on #452
Quantum handles event overlap, so it would be nice to be able to call `MyApp.Scheduler.run_job(:my_job)` and then have the overlap prevention stop this "one-off" job from overlapping with the normal job schedule.

[2020-09-07 09:21] maennchen commented on #451
@rmad1717 Does that solve your issue?

[2020-09-07 09:23] maennchen commented on #452
@ericdude4 That sounds like a reasonable enhancement. A PR would be very welcome.

[2020-09-07 13:38] ericdude4 commented on #452
@maennchen I would be happy to

[2020-09-07 13:40] maennchen commented on #452
@ericdude4 Great! If you have any questions, I'll be happy to provide some guidance. (Here or on #quantum in the elixir slack.)

[2020-09-08 10:42] maennchen commented on #392
Replaced by #454

[2020-09-08 10:42] #392 closed

[2020-09-08 13:06] maennchen commented on #430
Replaced by #453

[2020-09-08 13:06] #430 closed

[2020-09-08 13:06] maennchen commented on #415
Replaced by #453

[2020-09-08 13:06] #415 closed

[2020-09-08 13:12] maennchen commented on #347
This test was replaced with a better one some time ago.

[2020-09-08 13:12] #347 closed

[2020-09-11 21:28] maennchen opened #456 "Telemetry Docs / CHANGELOG"

[2020-09-11 21:29] maennchen commented on #456
@mrmarcsmith I‘ll do a release as soon as those things are added. (I‘ll have a look after the weekend.)

[2020-09-14 10:41] maennchen commented on #451
Closed because of inactivity. Feel free to reopen this issue when needed.

[2020-09-14 10:41] #451 closed

[2020-09-14 10:46] #456 closed

[2020-09-14 10:49] maennchen opened #458 "Document Telemetry Usage with Phoenix"
Document Integration with [Phoenix Telemetry Supervisor](https://hexdocs.pm/phoenix/telemetry.html#the-telemetry-supervisor) / [Phoenix Live Dashboard](https://hexdocs.pm/phoenix_live_dashboard/metrics.html).

[2020-09-14 10:53] maennchen commented on #415
@mrmarcsmith Released as `v3.2.0` :heart:

[2020-09-14 17:24] mrmarcsmith commented on #415
Thank you @maennchen!

[2020-09-25 11:09] #452 closed

[2020-09-25 11:15] maennchen commented on #452
Released as `v3.3.0`

[2020-09-29 16:54] isaacsanders opened #460 "Logging messages could use logging metadata rather than dynamic log messages"

[2020-09-29 16:54] isaacsanders opened #461 "Logging messages could be replaced by telemetry events"
The current logging messages could be a source of useful metrics data. This approach was taken for the Redix library to improve the developer experience related to logging: https://github.com/whatyouhide/redix/issues/127

[2020-09-29 17:09] maennchen commented on #461
@isaacsanders
I believe that the logging is very helpful purposes. It’s also not intrusive since it can be toggeled on / off in the config.

Is there any telemetry events on top of the current ones that you are missing at the moment?

[2020-09-29 17:40] isaacsanders commented on #461
Are all the current Logging events transmitted as telemetry events? Logging can be added as a telemetry event handler, so we can remove all logging from the main execution.

[2020-09-29 18:55] maennchen commented on #461
@isaacsanders I would not add a telemetry event to all the places that currently log a message since some of those I would consider internal and not interesting to a user of the library.

(If we refactor some code, they could easily change in the future without introducing changes into the userland.)

If we would replace all logger messages we would therefore need „internal“ telemetry events, but

[2020-09-29 18:57] maennchen commented on #460
@isaacsanders Completely agree. Would you be willing to provide a PR?

[2020-10-13 22:30] #460 closed

[2020-11-21 15:58] ericdude4 commented on #411
This can also be accomplished with Singleton https://github.com/arjan/singleton

[2020-11-30 19:17] pnezis opened #466 "Tests are not executed properly"
When executing `mix test` I am getting the following errors.

[code]

The same errors appear in all latest coveralls pipelines. **Notice that all remaining tests in the modules with issues are never executed and the tests appear as successful**

The culprits are the following tests. If I comment them out all other tests run without issues:

[code]

[2020-11-30 19:39] maennchen commented on #466
Hmm. There seems to be an elixir issue about it: https://github.com/elixir-lang/elixir/issues/8507

[2020-11-30 22:07] pnezis commented on #466
This seems to be introduced by #462.

Test output after the addition of logger metadata:

<img width="1427" alt="image" src="https://user-images.githubusercontent.com/1561963/100671295-ef56f180-3368-11eb-9359-6e5a52f611f3.png">

Test output on the previous PR (#459):

<img width="1425" alt="image" src="https://user-images.githubusercontent.com/1561963/100671411-1f9e9000-3369-11eb-9b5a-56d224dec384

[2020-11-30 23:13] #466 closed

[2020-12-10 08:55] lianhj opened #469 "can not perform, and show this warning"
[warning] <0.1627.0>@Elixir.Quantum.NodeSelectorBroadcaster:check_node/3:68 Node :"egame_cache@127.0.0.1" is not running. Job #Reference<0.405539817.1318060033.191976> could not be executed.

[2020-12-10 09:59] maennchen commented on #469
@lianhj Can you please describe the error on detail?

* Quantum Version
* Debug Logs
* How many nodes is it running on?
* Was a deploy / node resize going on
* etc.

[2021-01-12 09:24] sfsekaran opened #471 "Gigalixir GenServer stopping due to nil schedule"
Not certain what's going on here. Quantum works fine on my local, but on "production" (Gigalixir), Quantum fails with the following backtrace/error.

It seems, after looking at the log, that nil is being passed as the schedule argument, which is why it's failing. But past that I'm not sure why it's doing this.

[code]

My test config looks something like this:

[code]

Any thoughts?

[2021-01-17 14:42] dantswain opened #472 "Access to job definition while running"
Hi! I was wondering if there’s any way for a job to have access to its own definition when it is running. I scanned the docs and didn’t find anything.

My use case is that I have a few jobs where the function called is the same but the schedule is different (e.g., same job runs at 10 AM and 3 PM). In those jobs I’d like to do something that is parameterized by when the job is run (could be as simp

[2021-01-19 17:19] revati opened #473 "one time jobs"
Is it possible to add jobs that needs to be executed only once?
For example i need one job to be executed after 1 month.

Im using this library with persistance and it works well for cron like jobs, but i also have few commands that just needs to be executed once. One way would be to remove job once it is executed.

I know this isnt entirely scope of this library, but alternative would be to intro

[2021-02-12 01:23] leodag commented on #390
Maybe accept only strings and integers besides the current ones? That seems like it should cover the most frequent usecases (numerical identifiers - my use case, which led me here - and user-specified names). Maybe floats too, but floats are always a bit of a pain, and I don't know how hard to handle they'd be for storage backends. Any more complex name should be serializable into a string, if nee

[2021-02-18 16:21] thbar opened #474 "What is the recommended way to supervise Quantum for Elixir 1.11+?"
Hello! The current readme gives:

[code]

But as mentioned here (https://hexdocs.pm/elixir/1.10.4/Supervisor.Spec.html):

The Supervisor module is documented at https://hexdocs.pm/elixir/master/Supervisor.html, and I will follow that.

Are there caveats to switching to the new Supervisor in the case of Quantum?

Thanks!

[2021-02-23 09:59] maennchen commented on #474
@thbar The scheduler is compatible with the new scheduler specs.

The old way could be removed from the docs, a PR would be welcome.

[2021-02-25 09:45] #474 closed

[2021-03-23 16:01] mmmries opened #477 "Hourly Jobs Doubling and Skipping?"
Hi 👋 and thank you for this awesome contribution to the community.

I have a cluster running in production and just got quantum added with a single hourly job. To help with troubleshooting added a quick `Logger.info` call at the beginning of the code which is called each hour, and when I checked my logs this morning I'm seeing that in some hours the cron ran twice and would then skip the next hour

[2021-03-23 16:17] maennchen commented on #477
@mmmries Thanks for the report. Could you enable debug logging so that I can see what is happening internally?

https://github.com/quantum-elixir/quantum-core#troubleshooting

[2021-03-23 21:45] mmmries commented on #477
@maennchen thanks for the quick reply. I don't think I can enable debug logging for the entire app because this app does a lot of ecto queries and logging them all would kill my logging infrastructure. I'll see if I can find a good way to disable debug logging in some of these other libraries so I can enable it for Quantum

One other thought I had that might be relevant is that this app is joined

[2021-03-24 20:52] mmmries commented on #477
I'll go ahead a close this, I didn't find a good way to get the debug logging going and since we're doing some weird things with our cluster of nodes I think it may just be outside the scope of Quantum for now. We'll use an external cron mechanism for now. Thanks again for your effort and support in the community ❤️ 💛 💙 💚 💜

[2021-03-24 20:52] #477 closed

[2021-04-22 13:17] wesleimp commented on #473
I'm not sure if it's the `quantum`'s purpose. Maybe you could try something like [Oban](https://github.com/sorentwo/oban) for that.

[2021-04-29 09:07] rradz opened #478 "In cluster mode jobs are scheduled multiple times"
Hello, I have been testing Quantum 3.3 and I noticed an issue when running in cluster mode. I defined a function which was basically just a log entry "[time] Hello from #{Node.self()}" and made it run every minute. Then I run my tiny test project as 3 separate nodes on my computer.

Results were unexpected.

What I expected:

- when running as single nodes each node should run the job once
- when

[2021-04-29 09:11] maennchen commented on #478
@rradz Quantum 3.0 removed that mode:

https://github.com/quantum-elixir/quantum-core/blob/master/CHANGELOG.md#changed-1

See https://github.com/quantum-elixir/quantum-swarm

[2021-04-29 09:11] #478 closed

[2021-05-03 11:56] #473 closed

[2021-05-04 13:20] dantswain commented on #478
Hi I ran into this exact same problem.  I think the design is probably good, but the documentation could really be improved.  The quantum-core documentation kind of leads me to expect that this will "just work" when I set the run policy to `{Quantum.RunStrategy.Random, :cluster}`.  It's possible that I'm thrown off a little because I haven't used this lib in a while and last time I did the `global

[2021-05-04 13:36] maennchen commented on #478
@dantswain I'll happily accept PRs :)

[2021-06-11 02:08] thiagohdeplima opened #479 "Error when deleting job in runtime"
We are using Quantum to write an application that manages scheduling and de-scheduling of tasks in runtime only.

When we are removing a Job by calling `Transformer.Scheduler.delete_job/1` ([that uses Quantum](https://github.com/quantum-elixir/quantum-core/blob/d8752427f1df5886c59573999155b0ce30051925/lib/quantum.ex#L310)), the `ExecutionBroadcaster` are exiting with the following error:

[code]

[2021-07-26 15:28] benonymus opened #484 "Is it possible to load a list of jobs when starting the scheduler?"
The title basically, in case the scheduler crashes can we load in a list of jobs to start with?

[2021-07-26 17:33] maennchen commented on #484
Sure, just add them in the init callback: https://hexdocs.pm/quantum/Quantum.html#c:init/1

[2021-07-26 17:33] #484 closed

[2021-07-29 15:16] wingyplus opened #485 "How to setup quantum against libcluster"
I've a question about how to configuring quantum to run on libcluster, my use case is try to run on `n` node and let quantum run the job only once. As I observe in the issue, it has been the global mode but it seems removed in the old version. Do we have any way to encounter this use case?

[2021-08-28 06:11] felipeloha commented on #485
Thanks for the hint.
One thing I don't understand. where should I set the local strategy?

I tried using highlander to make the scheduler run in only 1 node with `run_strategy: {Quantum.RunStrategy.Random, :cluster},` and it works but when it tries to run a job a separate node I get:
app2_1  | 06:08:50.422 [warn] Node :"app@hi_ernesta.host" is not running. Job :hi_job could not be executed.

how d

[2021-08-28 06:17] wingyplus commented on #485
@felipeloha Since you wrap scheduler process with highlander, the process will run only 1 process at a time per cluster (not per node). Set the strategy to [Quantum.RunStrategy.Local](https://hexdocs.pm/quantum/Quantum.RunStrategy.Local.html#content) will run only node that scheduler run.

The warning that you found happens because quantum try to run in random node which's not work because it expe

[2021-08-28 07:36] felipeloha commented on #485
I tried adding quantum-swarm + global:true + Random strategy and the logs say that the nodes are found but then the jobs are run in all nodes instead of just one.

Is there a way to run the jobs in a "distributed"/random manner in the cluster?

[2021-08-29 01:35] wingyplus commented on #485
@felipeloha i never use swarm extension but i guess that scheduler doesn't coordinate between node.

The hack way that i think is use :global to perform distributed lock.

[2021-08-30 22:18] Matsa59 commented on #485
:warning: The code bellow doesn't ensure job in process state will end or be executed as expected

I don't think you really need horde or w.e

in your application.ex register your supervisor of Quantum using a "custom" Supervisor module (see bellow for details)

[code]

---

in scheduler_supervisor.ex

[code]

The main purpose of this module is to change how Quantum supervisor works.

---

Now let

[2021-10-05 17:14] hickscorp opened #487 "Quantum doesn't seem compatible with Elixir 1.12"
When running Dialyzer over our project, we get the following errors:

[code]

[2021-10-05 18:45] maennchen commented on #487
@hickscorp that seems not to have anything to do with the elixir version.

Do you have any compile warning?

Did you clear the _build directory, deps directory and the dialyzer cache? Does it still happen then?

[2021-10-06 13:19] hickscorp commented on #487
Yes - `_build` directory was nuked, as well as `deps` to get things built from scratch.
I don't recall seeing compile warnings.

[2021-10-06 13:55] #487 closed

[2021-11-01 10:15] dvlp123456 opened #490 "Quantum v3.4.0 content of example error"
1.content of example error link: https://hexdocs.pm/quantum/runtime-configuration.html#jobs-with-second-granularity;

2.according to following example, document text: [The following example will put a tick into the stdout every **second**] should be to:  [The following example will put a tick into the stdout every **minute**]

[2021-11-12 08:55] maennchen opened #492 "Documenting `telemetry` events with `telemetry_registry`"
### Discussed in https://github.com/quantum-elixir/quantum-core/discussions/491

<div type='discussions-op-text'>

<sup>Originally posted by **isaacsanders** November 12, 2021</sup>
This would enable integration with tools like https://github.com/opentelemetry-beam/opentelemetry_telemetry

I'm also happy to do the work.</div>

[2021-11-15 09:34] maennchen commented on #492
Closed in favor of PR #493

[2021-11-15 09:34] #492 closed

[2021-12-30 13:29] functionistic opened #495 "Overriding a job terminates ExecutionBroadcaster"
### Steps to reproduce

1. Create basic project with `mix new`
2. Follow steps of [Quantum Setup](https://hexdocs.pm/quantum/readme.html#setup) using `{:quantum, "~> 3.4"}`
3. Add the your Application in `mix.exs`
4. Run `iex -S mix`
5.
[code]
There even seems to already exist a test for this in `job_broadcaster_test.exs`. Maybe there is something wrong with my setup.

[2022-01-11 09:53] #479 closed

[2022-01-11 09:53] #495 closed

[2022-02-02 20:03] Matsa59 commented on #485
So update on this I got a really small solution:

[code]

Using `global` server I ensure I'll have only 1 instance of quantum supervisor. Then I force the `re_register_name` because if you're app start and join the cluster at the same time, I notice some weird side effect.
Finally `resolve_global_conflict/3` define what append when 2 processes register the same name in the global server.

Hope it

[2022-02-18 17:05] LostKobrakai opened #498 "Quantum.Job.new/1 doesn't accept custom name"
`Quantum.Job.new/1` seems to accept all fields for a job, but not the name.

[2022-02-19 00:30] maennchen commented on #498
@LostKobrakai Hm. It seems that I forgot to set `@doc false` on this. The idea is to use `YourScheduler.new_job()` and then call `Quantum.Job.set_name` on it. The reason for that is that the scheduler needs to pass some scheduler config to the job.

I see though that it would be nice to be able to configure all properties at once.

I'll have a look at this next week.

[2022-02-19 07:35] LostKobrakai commented on #498
I‘m using ˋMyApp.Scheduler.new_job()ˋ, but as you guessed it‘s strange to be able to pass a keyword list, if the expectation is to use the explicit API. And otoh it‘s strange to not be able to set the name via the keyword list, if that‘s intended use. Also as usual with keyword list options it‘s even a silent error you need to discover with tests.

[2022-02-24 10:26] LostKobrakai opened #499 "Synchronous job management API"
I'm testing that my application adds jobs to quantum correctly based on some business restrictions and I'm using `on_exit` to remove jobs again after tests. This however is causing issues with the ecto sandbox, because even after calling `Scheduler.delete_job` the job has not been removed and jobs access the db even after being supposed to be removed. Currently I need to add a timeout here to dela

[2022-02-24 11:06] maennchen commented on #499
@LostKobrakai Yes, all jobs are managed async.

For the docs, a PR is very welcome.

I'm thinking about how we could block management calls like `add` / `delete` etc. Since this whole thing is based on GetStage and information flows towards the end of the chain, blocking until everything is fully removed is quite hard. Especially since the executor could be behind in time and working on a backlog

[2022-02-24 13:53] maennchen commented on #498
@LostKobrakai What do you think of #500?

[2022-02-24 14:17] maennchen commented on #498
@LostKobrakai Good point, I'll have a look, that all options are supported.

[2022-02-24 16:25] maennchen commented on #498
@LostKobrakai Updated, ok now?

[2022-02-24 17:26] LostKobrakai commented on #498
Looks good to me.

[2022-02-24 23:51] #498 closed

[2022-02-25 10:06] #490 closed

[2022-03-19 22:49] bfolkens commented on #469
This happens to me with a 2 node cluster.  One node is configured to run the Quantum application, one without.  The log output above is the only log message shown (debug log threshold is set) besides the initial loading messages.

[2022-05-23 19:39] #469 closed

[2022-05-23 19:40] #461 closed

[2022-05-23 19:41] #390 closed

[2022-05-23 19:43] maennchen commented on #472
@dantswain Sorry for the very long wait for the answer.

Since this is possible easily via the arguments of the job function to call, I will not consider a PR for this.

[2022-05-23 19:43] #472 closed

[2022-06-04 16:41] Hentioe opened #507 "Check the existence of modules and functions in the jobs configuration at startup"
I noticed that with non-existing modules or functions configured in jobs, Quantom doesn't give any errors or warnings on startup. For static jos configs, should they be checked for validity?

[2022-06-04 18:10] maennchen commented on #507
@Hentioe That would be a good addition, a PR is welcome.

[2022-06-04 18:42] Hentioe commented on #507
I'd be more than happy to open a PR if that's acceptable

[2022-07-28 14:42] Dowwie opened #511 "Telemetry docs missing for 3.5"
Quantum 3.5 docs are missing a Telemetry section.  3.4 docs are the last version to include it.

[2022-07-28 17:00] maennchen commented on #511
@Dowwie They can be found here: https://hexdocs.pm/quantum/Quantum.html#module-telemetry

[2022-07-28 17:00] #511 closed

[2022-09-12 07:52] elvanja opened #519 "Performance issue / holding reference to binaries"
Hi,

A Phoenix app I am working on is experiencing binaries related memory leak.
It is related to Quantum triggered jobs, but after some investigation found that it is actually open telemetry related process that holds on to those binaries. Not sure if this is a Quantum or Telemetry issue though (or our usage!).

[Binaries memory leak with quantum and (open)telemetry](https://elixirforum.com/t/bin

[2022-09-13 08:44] maennchen commented on #519
@elvanja Hm. I would say that this is an unexpected behavior of `telemetry` / telemetry-related libraries.

Could you open an issue there and link back to this?

[2022-09-13 08:54] elvanja commented on #519
Yep, already done that. See https://github.com/open-telemetry/opentelemetry-erlang/issues/459. Likely it is entirely at telemetry side of things. Apologies for not adding a note sooner 😄

[2022-09-13 08:57] maennchen commented on #519
@elvanja No worries, thank you :)

I'll leave this issue open for other people until it has been resolved.

[2022-10-04 00:28] dannielb commented on #507
Hello @maennchen and @Hentioe!
I opened a [proposal](https://github.com/quantum-elixir/quantum-core/pull/523) to add a warning message for this case :)

[2022-10-04 06:36] #507 closed

[2022-10-11 08:31] elvanja commented on #519
Update: this seems to be resolved by switching protocol to `:http_protobuf`. The `:grpc` flow still has issues, but at least there is a workaround. And, it definitely is related to open telemetry, not quantum.

[2022-10-11 08:31] #519 closed

[2022-10-18 16:59] pyon123 opened #528 "seems like it doesn't work on docker container."
I am a DevOps and trying to run Phoenix project on docker container.
Currently it seems like there are some issues with quantum inside docker container. (Not sure it's quantum issue or not, since I am very new with Phoenix).
Elixir Quantum is running on top of linux cron? I've already install cron and nano, but there's no difference.

Let me attach code snip and the issue.

![image](https://user-i

[2022-10-18 17:37] maennchen commented on #528
@pyon123 Quantum is not based on unix cron and does not have any non-elixir dependencies.

Therefore it should work just fine in any normal environment which includes docker.

What are the issues you’re experiencing? The logs show no errors so far…

[2022-10-28 08:17] pyon123 commented on #528
Hi @maennchen

Thanks for letting me know this. and sorry for the late reply. I thought I was already replied this.

It was my mistake. I am new with Elixir and Phoenix, so I thought the result: nil would be an issue. I've tested in deeper and understand everything is working fine.

Thank you.

[2022-10-28 08:17] #528 closed

[2022-11-14 23:36] BryanJBryce opened #533 "no function clause matching in Quantum.Normalizer.normalize_task/1"
Sorry, this seems like something really basic, but I can't figure out what I'm doing wrong.

I've added Quantum to dependencies.

`{:quantum, "~> 3.5"}`

I've created a scheduler module:
[code]

I've added that to the Supervisor children list:
[code]

And I've created a function to run with a schedule in the Schedule module (here are 3 of them to try to match the config one):

[code]

Here is my c